<form class="ui form container liquid-padded" {{action "save" on="submit"}}>
  <div class="field">
    <label for="asset-identifier">Asset Identifier</label>
    {{input type="text" value=(mut model.identifier) id="asset-identifier" placeholder="Unique identifier (VIN, Stock #, RFID)"}}
  </div>
  <div class="field">
    <label for="asset-description">Documents</label>
    {{#input/document-selection-modal
      title="Assign asset documents"
      selected=model.documents
      autoTag='Asset'
      onSelected=(action (mut model.documents))
      as |execute|
    }}
      <button class="ui basic button" {{action execute 'selectDocuments'}}>
        <i class="folder icon"></i>
        Add asset documents
        {{#if model.documents.length}}
          <span class="ui label">{{model.documents.length}} Assigned</span>
        {{/if}}
      </button>
    {{/input/document-selection-modal}}
  </div>
  <div class="ui divider"></div>

  {{#each model.asset.attributes as |attribute|}}
    {{input/custom-field object=model.customFields attribute=attribute}}
  {{/each}}

  <p class="text center aligned">Add custom attributes in the {{#link-to 'account.asset.information'}}attributes tab{{/link-to}}</p>

  {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Save{{/form/action-button}}
</form>
<div class="ui divider"></div>
