<form class="ui form container liquid-padded" {{action "save" on="submit"}}>
  <div class="field">
    <label for="asset-identifier">Asset Identifier</label>
    <Input @type="text" @value={{this.model.identifier}} @id="asset-identifier" placeholder="Unique identifier (VIN, Stock #, RFID)" />
  </div>
  <div class="field">
    <label for="asset-description">Documents</label>
    <Input::DocumentSelectionModal @title="Assign asset documents" @selected={{this.model.documents}} @autoTag="Asset" @onSelected={{action (mut this.model.documents)}} as |execute|>
      <button class="ui basic button" {{action execute "selectDocuments"}}>
        <i class="folder icon"></i>
        Add asset documents
        {{#if this.model.documents.length}}
          <span class="ui label">{{this.model.documents.length}} Assigned</span>
        {{/if}}
      </button>
    </Input::DocumentSelectionModal>
  </div>
  <div class="ui divider"></div>

  {{#each this.asset.attributes as |attribute|}}
    <Input::CustomField @object={{this.model.customFields}} @attribute={{attribute}} />
  {{/each}}

  <p class="text center aligned">Add custom attributes in the <LinkTo @route="account.asset.information">attributes tab</LinkTo></p>

  <Form::ActionButton @type="submit" @class="ui huge fluid green button" @loading={{this.working}}>Add Asset Item</Form::ActionButton>
</form>
<div class="ui divider"></div>
