<hgroup class="clearfix">
  <h1 class="ui header left floated">
    Company Anatomy
  </h1>
</hgroup>
<div class="ui form">
  <div class="field">
    <div class="ui divider"></div>
    <label for="basenode-selection">Select a supervisor</label>
    <UiDropdown @id="basenode-selection" @class="search selection" @selected={{this.selectedNode}} @forceSelection={{false}} @onChange={{action (mut this.selectedNode)}} as |execute mapper|>
      <div class="default text">Select an employee</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.model as |employee|}}
          <div class="item" data-value={{map-value mapper employee}}>
            {{employee.fullName}}{{#if employee.jobTitle}} - <span class="light text">{{employee.jobTitle}}</span>{{/if}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
</div>
{{#if this.baseNode}}
  <Visualizations::OrganizationTree @baseNode={{this.baseNode}} />
{{/if}}
