{{#if hasBlock}}
  {{yield startConfirmation}}
{{/if}}

{{#ui-modal name="profile" id=modalId class="confirm-modal basic small"}}
  <i class="close icon"></i>
  <div class="header">
    {{if title title "Heads up!"}}
  </div>
  <div class="content">
    {{if confirmContent confirmContent (if deleteContext (concat "Are you sure you want to remove " deleteContext "?") "Are you sure you want to do that?")}}
  </div>
  <div class="actions">
    <button class="ui inverted red button" {{action "respond" false}}>
      {{if rejectText rejectText "No"}}
    </button>
    <button class="ui inverted green right labeled icon button" {{action "respond" true}}>
      {{if confirmText confirmText "Yes"}}
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}

{{!--
{{#confirm-modal confirmContent="that" as |confirm|}}
  <a href="" {{action confirm}}></a>
{{/confirm-modal}}
--}}
