<div class="field {{fieldClass}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{input
      type=type
      tabindex=tabindex
      value=value
      placeholder=placeholder
      name=valuePath
      class=inputClass
      min=inputAttrs.min
      max=inputAttrs.max
      step=inputAttrs.step
      errs=errs}}
  {{/if}}

  {{#if isValid}}
    {{#if dupPrefix}}
      <i class="close icon"></i>
    {{else}}
      <i class="check icon"></i>
    {{/if}}
  {{/if}}


  {{#if showMessage}}
    <div class="input-error animated fadeIn">
      <div class="error">
        {{v-get model valuePath 'message'}}
      </div>
    </div>
  {{/if}}
</div>
