<div class="field {{fieldClass}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{input
      type=type
      tabindex=tabindex
      value=value
      placeholder=placeholder
      name=valuePath
      class=inputClass
      min=inputAttrs.min
      max=inputAttrs.max
      step=inputAttrs.step}}
  {{/if}}

  {{#if isValid}}
    <i class="check icon"></i>
  {{/if}}

  {{#if (or showErrorMessage showWarningMessage showFieldError)}}
    <div class="input-error animated fadeIn">
      <div class="error">
        {{#if showFieldError}}
          {{showFieldError}}
        {{else}}
          {{v-get
            model
            valuePath
            (if showWarningMessage "warningMessage" "message")}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
