<div class="field {{fieldClass}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{input type=type tabindex=tabindex value=value placeholder=placeholder name=valuePath class=inputClass}}
  {{/if}}

  {{#if isValid}}
    <i class="check icon"></i>
  {{/if}}

  {{#if showMessage}}
    <div class="input-error animated fadeIn">
      <div class="error">
        {{v-get model valuePath 'message'}}
      </div>
    </div>
  {{/if}}
</div>
