<div class="field {{this.fieldClass}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{input
      type=this.type
      tabindex=this.tabindex
      value=this.value
      placeholder=this.placeholder
      name=this.valuePath
      class=this.inputClass
      min=this.inputAttrs.min
      max=this.inputAttrs.max
      step=this.inputAttrs.step}}
  {{/if}}

  {{#if this.isValid}}
    <i class="check icon"></i>
  {{/if}}

  {{#if (or this.showErrorMessage this.showWarningMessage this.showFieldError)}}
    <div class="input-error animated fadeIn">
      <div class="error">
        {{#if this.showFieldError}}
          {{this.showFieldError}}
        {{else}}
          {{v-get
            this.model
            this.valuePath
            (if this.showWarningMessage "warningMessage" "message")}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
