<span role="button" class="toggle-icon" {{action "toggleExpand" bubbles=false}}>
  {{#if this.model.children.length}}
    {{#if this.model.isExpanded}}
      &#x25BC;
    {{else}}
      &#x25B6;
    {{/if}}
  {{else}}
    &nbsp;&nbsp;
  {{/if}}
</span>
{{#if this.checkable}}
  <div preventsDefault={{false}} class="ui checkbox {{if this.model.isIndeterminate "indeterminate" (if this.model.isChecked "checked")}}">
    {{input
      type="checkbox"
      checked=this.model.isChecked
      change=(pipe-action
        (action this.toggleProperty "model.isChecked")
        (action "toggleCheck")
      )
      indeterminate=this.model.isIndeterminate}}
    <label class="node">
      {{capitalize this.model.name}}
    </label>
  </div>
{{/if}}

<span role="button" onclick={{action "toggleCheck"}}>
  {{#if hasBlock}}
    {{yield this.model}}
  {{else}}
    {{this.model.name}}
  {{/if}}
</span>
