<form class="ui form" {{action "discover" on="submit"}}>
  <div class="ui field">
    <label for="import-services">Select an external source to import from</label>
    <UiDropdown @class="fluid selection" @id="import-services" @selected={{this.service}} @onChange={{action (mut this.service)}} as |execute mapper|>
      <i class="dropdown icon"></i>
      <div class="default text">Select an external source</div>
      <div class="menu">
        {{#each this.model.linkedServices as |service|}}
          <div class="item" data-value={{map-value mapper service}}>
            {{service}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>

  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui massive fluid green button" @disabled={{not this.service}} @loading={{this.working}}>
    <i class="cloud download icon"></i> Discover Records
  </Form::ActionButton>
</form>
