<div class="ui form">
  {{#liquid-if this.showTable}}
    <table class="ui very basic celled table">
      <thead>
        <tr>
          <th class="eight wide">Name</th>
          <th class="eight wide">Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.customFieldArray as |field|}}
          <Tables::CustomField @key={{field.key}} @value={{field.value}} @onValueChange={{this.editValue}} @onDelete={{this.deleteCustomField}} />
        {{/each}}

        {{#if this.adding}}
          <tr>
            <td class="ui minimally padded">
              <AutoFocus>
                <Input @type="text" @value={{this.pendingCustomFieldName}} placeholder="Allergies" />
              </AutoFocus>
            </td>
            <td class="ui minimally padded"><Input @type="text" @value={{this.pendingCustomFieldValue}} placeholder="Peanuts, Gluten" /></td>
          </tr>
          <tr>
            <td class="center aligned text" colspan="2">
              <a href="#"{{on "click" (prevent-default this.saveCustomField)}}><i class="plus icon"></i> Save/New</a>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>

  {{else}}
    <h2 class="ui center aligned header">
      No custom fields available.
    </h2>
  {{/liquid-if}}

  {{#liquid-unless this.adding class="ui header clearfix"}}
    <button class="ui fluid button" type="button" {{on "click" (prevent-default this.beginAddingCustomField)}} >
      <i class="plus icon"></i>
        Add A Custom Field
    </button>
  {{/liquid-unless}}
</div>
