<div class="fields">
  <div class="five wide field">
    <label for="first-name">First Name</label>
    <ValidatedInput @type="text" @model={{this.model}} @valuePath="firstName" @placeholder="First Name" @id="first-name" />
  </div>
  <div class="three wide field">
    <label for="middle-name">Middle Name</label>
    <Input @type="text" @value={{this.model.middleName}} placeholder="Middle" @id="middle-name" />
  </div>
  <div class="five wide field">
    <label for="last-name">Last Name</label>
    <ValidatedInput @type="text" @model={{this.model}} @valuePath="lastName" @placeholder="Last Name" @id="last-name" />
  </div>
  <div class="three wide field">
    <label for="suffix-name">Suffix</label>
    <UiDropdown @class="selection" @selected={{this.model.suffixName}} @onChange={{set this.model.suffixName _}}>
      <div class="default text">Suffix</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.suffixes as |suffix|}}
          <div class="item" data-value={{suffix}}>
            {{suffix}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
  <div class="two wide field">
    <label for="suffix-name">Gender</label>
    <UiDropdown @class="selection" @selected={{this.model.gender}} @onChange={{set this.model.gender _}}>
      <div class="default text">Gender</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.gender as |gender|}}
          <div class="item" data-value={{gender}}>
            {{gender}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
</div>
<div class="four fields">
  <div class="field">
    <label for="employee-phone">Phone Number</label>
    <MaskedInput @type="tel" @value={{this.model.phone}} @placeholder="Employee Phone #" @id="employee-phone" @mask="(111) 111-1111" />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <ValidatedInput @type="email" @model={{this.model}} @valuePath="email" @placeholder="Email" @id="email" />
  </div>
  <div class="field">
    <label for="private-email">Personal Email</label>
    <ValidatedInput @type="email" @model={{this.model}} @valuePath="privateEmail" @placeholder="Personal Email" @id="private-email" />
  </div>
  <div class="field">
    <label for="employeeNumber">Employee Number</label>
    <ValidatedInput @model={{this.model}} @valuePath="employeeNumber" @placeholder="Employee Number" @id="employee-number" />
  </div>
</div>
<div class="two fields">
  <div class="field">
    <UiCalendar @class="field" @startMode="year" @type="date" @dateValue={{this.model.dateOfBirth}} @label="Birth Date" @onChange={{set this.model.dateOfBirth _}} />
  </div>
  <div class="field">
    <Input::SocialSecurity @value={{this.model.ssn}} />
  </div>
</div>
<h3 id="mailing-address" class="ui horizontal header divider section">
  <i class="grey marker icon"></i>Mailing Address
</h3>
<div class="field">
  <label for="address-line-1">Address Line 1</label>
  <ValidatedInput @type="text" @model={{this.model}} @valuePath="addressLine1" @placeholder="Address Line 1" @id="address-line-1" />
</div>
<div class="field">
  <label for="address-line-2">Address Line 2</label>
  <Input @type="text" @value={{this.model.addressLine2}} placeholder="Address Line 2" @id="address-line-2" />
</div>
<div class="three fields">
  <div class="field">
    <label for="address-city">City</label>
    <Input @type="text" @value={{this.model.addressCity}} placeholder="City" @id="address-city" />
  </div>
  <div class="field">
    <label for="state-name">State</label>
    <UiDropdown @class="search selection" @selected={{this.model.addressState}} @onChange={{set this.model.addressState _}}>
      {{#if this.stateIsMontana}}<i class="text-danger heart icon"></i>{{/if}}
      <div class="default text">State</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.states as |state|}}
          <div class="item" data-value={{state.value}}>
            {{state.label}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
  <div class="field">
    <label for="address-zip">Zip</label>
    <Input @type="text" @value={{this.model.addressZip}} placeholder="Zip" @id="address-zip" />
  </div>
</div>

<h3 class="ui horizontal header divider section">
  <i class="first aid icon"></i>Emergency Contact Information
</h3>
<div class="three fields">
  <div class="field">
    <label for="emergency-contact-first" class="">Contact First Name</label>
    <Input @type="text" @value={{this.model.emergencyContactNameFirst}} placeholder="First Name" @id="emergency-contact-first" />
  </div>
  <div class="field">
    <label for="emergency-contact-last" class="">Contact Last Name</label>
    <Input @type="text" @value={{this.model.emergencyContactNameLast}} placeholder="Last Name" @id="emergency-contact-last" />
  </div>
  <div class="field">
    <label for="emergency-contact-phone" class="">Contact Phone</label>
    <Input @type="tel" @value={{this.model.emergencyContactPhone}} placeholder="Emergency Phone #" @id="emergency-contact-phone" />
  </div>
</div>
