<div class="two fields">
  <div class="field">
    <label for="job-title">Job Title</label>
    <ValidatedInput @type="text" @model={{this.model}} @valuePath="jobTitle" @placeholder="Job Title" @id="job-title" />
  </div>
  <UiCalendar @class="field" @type="date" @startMode="year" @label="Hire Date" @dateValue={{this.model.hireDate}} @onChange={{set this.model.hireDate _}} />
</div>
<div class="four fields">
  <div class="field">
    <label for="exemption-status">Exemption Status</label>
    <UiDropdown @class="selection" @selected={{this.model.exempt}} @onChange={{set this.model.exempt _}} as |execute mapper|>
      <div class="default text" value={{this.model.exempt}}></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value={{map-value mapper false}}>
          Non-exempt
        </div>
        <div class="item" data-value={{map-value mapper true}}>
          Exempt
        </div>
      </div>
    </UiDropdown>
  </div>
  <div class="field">
    <label for="pay-rate">Pay Rate</label>
    <div class="ui left icon input pay-rate-number">
      <Input @type="number" @step="0.01" @value={{this.model.payRate}} @id="pay-rate" />
      <i class="dollar icon"></i>
      <UiDropdown @class="inline pay-rate-unit" @selected={{this.model.payRateType}} @onChange={{set this.model.payRateType _}}>
        <div class="default text">Unit</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="yearly">
            yearly
          </div>
          <div class="item" data-value="monthly">
            monthly
          </div>
          <div class="item" data-value="hourly">
            hourly
          </div>
        </div>
      </UiDropdown>
    </div>
  </div>
  <div class="field">
    <label for="minimum-hours">Minimum Hours</label>
    <Input @type="number" @value={{this.model.minimumHours}} @id="minimum-hours" />
  </div>
  <div class="field">
    <label for="workers-comp">Workers Comp Class Code</label>
    <Input @type="text" @id="workers-comp" @value={{this.model.workersCompClassCode}} />
  </div>
</div>
<div class={{if this.auth.user.company.collectEEO "ui two fields" "field"}}>
  <div class="field">
    <label for="job-description">Job Description</label>
    <UiDropdown @class="selection" @selected={{this.model.jobDescription}} @onChange={{set this.model.jobDescription _}} as |execute mapper|>
      <div class="default text">Job Description</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value>No Job Description</div>
        {{#each this.jobDescriptions as |jobDescription|}}
          <div class="item" data-value={{map-value mapper jobDescription}}>
            {{jobDescription.title}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
  {{#if this.auth.user.company.collectEEO}}
    <div class="field">
      <label for="eeo-job-category">EEO Job Category</label>
      <UiDropdown @class="selection" @selected={{this.model.eeoJobCategory}} @onChange={{set this.model.eeoJobCategory _}}>
        <div class="default text">-- Select EEO Job Category --</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.eeoJobCategories as |category|}}
            <div class="item" data-value={{category}}>
              {{category}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
  {{/if}}
</div>
<div class="field">
  <label for="job-location">Location</label>
  <UiDropdown @class="search selection" @selected={{this.model.location}} @onChange={{set this.model.location _}} as |execute mapper|>
    <div class="default text">Location</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value>No Location</div>
      {{#each this.locations as |location|}}
        <div class="item" data-value={{map-value mapper location}}>
          {{location.name}}
        </div>
      {{/each}}
    </div>
  </UiDropdown>
</div>
<div class="field">
  <label for="job-department">Department</label>
  <UiDropdown @class="search selection" @selected={{this.model.department}} @onChange={{set this.model.department _}} as |execute mapper|>
    <div class="default text">Department</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value>No Department</div>
      {{#each this.departments as |department|}}
        <div class="item" data-value={{map-value mapper department}}>
          {{department.name}}
        </div>
      {{/each}}
    </div>
  </UiDropdown>
</div>
<div class="field">
  <label for="supervisor">Supervisor</label>
  <UiDropdown @class="search selection" @selected={{this.model.supervisor}} @onChange={{set this.model.supervisor _}} as |execute mapper|>
    <div class="default text">Supervisor</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value>No Supervisor</div>
      {{#each this.employees as |supervisor|}}
        <div class="item" data-value={{map-value mapper supervisor}}>
          {{supervisor.fullName}}
        </div>
      {{/each}}
    </div>
  </UiDropdown>
</div>
{{#if this.company.benefitsEnabled}}
  <h3 id="benefit-contributions" class="ui horizontal header divider section">
    <i class="heartbeat icon"></i>Benefit Contributions
  </h3>
  {{#if this.company.wellnessPlan}}
    <UiCheckbox @class="checkbox" @label="Employee is on wellness plan" @checked={{readonly this.model.wellnessPlan}} @onChange={{set this.model.wellnessPlan _}} />
  {{/if}}
  <div class="four fields">
    <div class="field">
      <label for="address-city">Employee</label>
      <div class="ui left icon input pay-rate-number">
        <Input @type="number" @value={{this.model.contributionsEmployeeAmount}} />
        {{#if (eq this.model.contributionsEmployeeType "dollar") }}
          <i class="dollar icon"></i>
        {{else}}
          <i class="percent icon"></i>
        {{/if}}
        <UiDropdown @class="inline pay-rate-unit" @selected={{this.model.contributionsEmployeeType}} @onChange={{set this.model.contributionsEmployeeType _}}>
          <div class="default text">Unit</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="dollar">
              $
            </div>
            <div class="item" data-value="percent of cost">
              %
            </div>
          </div>
        </UiDropdown>
      </div> 
    </div>
    <div class="field">
      <label for="address-city">Employee and Spouse</label>
      <div class="ui left icon input pay-rate-number">
        <Input @type="number" @value={{this.model.contributionsSpouseAmount}} />
        {{#if (eq this.model.contributionsSpouseType "dollar") }}
          <i class="dollar icon"></i>
        {{else}}
          <i class="percent icon"></i>
        {{/if}}
        <UiDropdown @class="inline pay-rate-unit" @selected={{this.model.contributionsSpouseType}} @onChange={{set this.model.contributionsSpouseType _}}>
          <div class="default text">Unit</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="dollar">
              $
            </div>
            <div class="item" data-value="percent of cost">
              %
            </div>
          </div>
        </UiDropdown>
      </div>
    </div>
    <div class="field">
      <label for="state-name">Employee and Children</label>
      <div class="ui left icon input pay-rate-number">
        <Input @type="number" @value={{mut this.model.contributionsChildrenAmount}} />
        {{#if (eq this.model.contributionsChildrenType "dollar") }}
          <i class="dollar icon"></i>
        {{else}}
          <i class="percent icon"></i>
        {{/if}}
        <UiDropdown @class="inline pay-rate-unit" @selected={{this.model.contributionsChildrenType}} @onChange={{set this.model.contributionsChildrenType _}}>
          <div class="default text">Unit</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="dollar">
              $
            </div>
            <div class="item" data-value="percent of cost">
              %
            </div>
          </div>
        </UiDropdown>
      </div>
    </div>
    <div class="field">
      <label for="address-zip">Employee and Family</label>
        <div class="ui left icon input pay-rate-number">
          <Input @type="number" @value={{mut this.model.contributionsFamilyAmount}} />
          {{#if (eq this.model.contributionsFamilyType "dollar") }}
            <i class="dollar icon"></i>
          {{else}}
            <i class="percent icon"></i>
          {{/if}}
          <UiDropdown @class="inline pay-rate-unit" @selected={{this.model.contributionsFamilyType}} @onChange={{set this.model.contributionsFamilyType _}}>
            <div class="default text">Unit</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="dollar">
                $
              </div>
              <div class="item" data-value="percent of cost">
                %
              </div>
            </div>
          </UiDropdown>
        </div>
    </div>
  </div>
{{/if}}
