{{#if missingRelationship}}
  {{column}}
  {{ember-tooltip
    side="top"
    popperContainer="body"
    text=popupMessage}}
  <a href="#" {{action "addAction"}}>
    <i class="exclamation circle icon"></i>
  </a>
{{else if missingRequiredFields}}
  {{ember-tooltip
    side="top"
    popperContainer="body"
    text="This is a required field"}}
    {{column}}
  <i class="exclamation circle icon"></i>
{{else}}
  {{#if hasEnumInvalidation}}
    {{ember-tooltip
      side="top"
      popperContainer="body"
      text=hasEnumInvalidation}}
    <i class="exclamation circle icon"></i>
  {{/if}}
  {{column}}
{{/if}}
