<h3 class="ui header">Contributions</h3>
<form class="ui form" {{on "submit" (prevent-default this.save)}}>
  <table class="ui celled table">
    <thead>
      <tr>
        <th></th>
        {{#each this.contributionGroups as |contributionGroup|}}
          <th>{{contributionGroup}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each @plan as |plan|}}
      <Benefits::ContributionsRow @plan={{plan}} />
      {{else}}
      <Benefits::ContributionsRow @plan={{@plan}} />
    {{/each}}
    </tbody>
  </table>
  <div class="ui divider"></div>
    <Form::ActionButton
      type="submit"
      class="ui large fluid green button">
      Complete
    </Form::ActionButton>
  <button type="button" {{on "click" (prevent-default this.cancel)}} class="ui large fluid orange button">cancel</button>
</form>
