<div class="ui grid">
  <div class="ui ten wide column">
    <h3>Documents</h3>
    <div class="ui horizontal list">
      {{#if this.model.resume}}
        <div class="item">
          <a href={{this.model.resume.url}} rel="noopener" target="_blank">
            <i class="external link icon"></i>Resume/CV
          </a>
        </div>
      {{/if}}
      {{#if this.model.coverLetter}}
        <div class="item">
          <a href="#" {{action this.openModal this.coverLetterModalId "coverLetter"}}>
            <i class="file icon"></i>Cover Letter
          </a>
        </div>
      {{/if}}
    </div>

    <div class="ui divider"></div>

    <Modals::AddNotes @model={{this.model}} @refresh={{route-action "refreshModel"}} as |openAddModal|>
      <h3 class="dividing header">
        Notes
      </h3>
      {{#if this.model.notes}}
        <a href="#" {{action openAddModal}}><i class="edit icon"></i></a> {{this.model.notes}}
      {{else}}
        <span class="light text">No notes available.</span> <a href="#" {{action openAddModal}}>Add notes</a>
      {{/if}}
    </Modals::AddNotes>

    {{#if this.opening.screening}}
      <div class="ui divider"></div>
      <h3>Screening</h3>
      <p>
        {{#if this.model.scoreRelative}}This applicant is a <strong>{{this.model.scoreRelative}}% match</strong> based on their responses to your screening.{{/if}}
        <a href="#" {{action this.openModal this.responsesModalId "responses"}}>View responses</a>
      </p>
    {{/if}}
  </div>
  <div class="ui six wide column">
    {{#if this.upcomingEvents}}
      <h3>Upcoming Events</h3>
      {{timeline/event-timeline this.upcomingEvents}}
    {{/if}}

    {{#if this.pastEvents}}
      <h3 class={{unless this.showingPastEvents "ui light text"}}>
        Past Events
        <small class="right floated">
          <a href="#" {{action (toggle "showingPastEvents" this)}}>
            {{if this.showingPastEvents "Hide" "Show"}}
          </a>
        </small>
      </h3>
      {{#liquid-if this.showingPastEvents}}
        {{timeline/event-timeline
          this.pastEvents
          linkItemsTo="account.job-opening.campaign.job-application.event"
        }}
      {{/liquid-if}}
    {{/if}}
  </div>
</div>

<Modals::StaticContent @modalId={{this.responsesModalId}} @onResponse={{fn this.modalResponse "responses"}} @title="Screening responses" @hideActions={{true}}>
  <div class="ui very relaxed list">
    {{#each this.responses as |group|}}
      <div class="item content">
        <h4>{{group.step.label}}</h4>
        <p>
          {{#if (is-array group.response.value)}}
            <ul>
              {{#each group.response.value as |value|}}
                <li>
                  {{#if value.weight}}
                    <span class="ui label">{{value.weight}}</span>
                  {{/if}}
                  {{or value.text value}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{#if group.response.value.weight}}
              <span class="ui label">{{group.response.value.weight}}</span>
            {{/if}}
            {{#if (not (or group.response.value.text group.response.value))}}
              <div class="light text">
                No response
              </div>
            {{/if}}
            {{or group.response.value.text group.response.value}}
          {{/if}}
        </p>
      </div>
    {{/each}}
  </div>
</Modals::StaticContent>

<Modals::StaticContent @modalId={{this.coverLetterModalId}} @onResponse={{fn this.modalResponse "coverLetter"}} @title={{this.coverLetterTitle}} @hideActions={{true}}>
  {{this.model.coverLetter}}
</Modals::StaticContent>
