<div class="ui grid">
  <div class="ui ten wide column">
    <h3>Documents</h3>
    <div class="ui horizontal list">
      {{#if model.resume}}
        <div class="item">
          <a href="{{model.resume.url}}" target="_blank">
            <i class="external link icon"></i>Resume/CV
          </a>
        </div>
      {{/if}}
      {{#if model.coverLetter}}
        <div class="item" {{action openModal coverLetterModalId 'coverLetter'}}>
          <a href="#">
            <i class="file icon"></i>Cover Letter
          </a>
        </div>
      {{/if}}
    </div>
    <div class="ui divider"></div>

    {{#if opening.screening}}
      <h3>Screening</h3>
      <p>
        {{#if model.scoreRelative}}This applicant is a <strong>{{model.scoreRelative}}% match</strong> based on their responses to your screening.{{/if}}
        <a href="#" {{action openModal responsesModalId 'responses'}}>View responses</a>
      </p>
    {{/if}}

  </div>
  <div class="ui six wide column">
    {{#if upcomingEvents}}
      <h3>Upcoming Events</h3>
      {{timeline/event-timeline upcomingEvents}}
    {{/if}}

    {{#if pastEvents}}
      <h3 class="{{unless showingPastEvents 'ui light text'}}">
        Past Events
        <small class="right floated">
          <a href="#" {{action (toggle "showingPastEvents" this)}}>
            {{if showingPastEvents 'Hide' 'Show'}}
          </a>
        </small>
      </h3>
      {{#liquid-if showingPastEvents}}
        {{timeline/event-timeline
          pastEvents
          linkItemsTo='account.job-opening.campaign.job-application.event'
        }}
      {{/liquid-if}}
    {{/if}}
  </div>
</div>

{{#modals/static-content
  modalId=responsesModalId
  onResponse=(action 'modalResponse' 'responses')
  title="Screening responses"
  hideActions=true
}}
  <div class="ui very relaxed list">
    {{#each responses as |group|}}
      <div class="item content">
        <h4>{{group.step.label}}</h4>
        <p>
          {{#if group.response.value.weight}}
            <span class="ui label">{{group.response.value.weight}}</span>
          {{/if}}
          {{if group.response.value.text group.response.value.text group.response.value}}
        </p>
      </div>
    {{/each}}
  </div>
{{/modals/static-content}}

{{#modals/static-content
  modalId=coverLetterModalId
  onResponse=(action 'modalResponse' 'coverLetter')
  title=coverLetterTitle
  hideActions=true
}}
  {{model.coverLetter}}
{{/modals/static-content}}
