<div class="ui card webinar__card">
  <div class="content">
    <div class="header webinar-card__title">{{@webinar.title}}</div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Description</h4>
    <div class="content">
      <div class="summary webinar-card__description">
        {{#if @authorization}}
          {{@webinar.shortDescription}}
          <button type="button" {{on "click" (toggle-action "readMore" this)}}>Read more</button>
          {{#if this.readMore}}
            {{@webinar.description}}
            <button type="button" {{on "click" (toggle-action "readMore" this)}}>Show less</button>
          {{/if}}
        {{else}}
          {{@webinar.description}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="extra content">
    {{#if @authorization}}
      <span class="webinar-card__access text-green">
        {{this.timeRemaining}}
      </span>
      <div class="right floated">
        <a href="#" class="webinar-card__assign">
          <EmberTooltip @side="left">
            Assign Webinar
          </EmberTooltip>
          <i class="large icons">
            <i class="graduation cap icon"></i>
            <i class="corner add icon"></i>
          </i>
        </a>
        <a href="#" class="webinar-card__watch text-green">
          <EmberTooltip @side="left">
            Watch Webinar
          </EmberTooltip>
          <i class="large play icon"></i>
        </a>
      </div>
    {{else}}
      <span class="webinar-card__access">
        <EmberTooltip @side="left" >
          90 days for ${{@webinar.price}}
        </EmberTooltip>
        <i class="large info circle icon"></i>
      </span>
      {{#if (and @addToCart @removeFromCart) tagName='span'}}
        <a
          href="#"
          class="{{if this.inCart 'text-danger '}}webinar-card__purchase right floated"
          {{on "click" (fn (if this.inCart @removeFromCart @addToCart) @webinar)}}>
          {{#if this.inCart}}
            <EmberTooltip @side="left">
              Remove from cart
            </EmberTooltip>
            <i class="large icons">
              <i class="cart icon"></i>
              <i class="corner huge minus icon"></i>
            </i>
          {{else}}
            <EmberTooltip @side="left">
              Add to cart
            </EmberTooltip>
            <i class="large icons">
              <i class="blue cart icon"></i>
              <i class="corner huge add icon"></i>
            </i>
          {{/if}}
        </a>
      {{/if}}
    {{/if}}
  </div>
</div>