{{#if (eq this.type "select")}}
  {{#ui-dropdown class=this.selectionClass selected=this.state onChange=(action this.__update) as |execute mapper|}}
    <div class="default text">
      {{#if this.selectText}}
        {{this.selectText}}
      {{else}}
        Select a {{this.parentView.sectionName}}
      {{/if}}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#if this.hasNull}}
        <div class="item" data-value={{map-value mapper "none"}}>
          No {{this.parentView.sectionName}}
        </div>
      {{/if}}
      {{#each this.model as |item|}}
        <div class="item" data-value={{map-value mapper (if this.itemValuePath (get item this.itemValuePath) item)}}>
          {{#if hasBlock}}
            {{yield item}}
          {{else}}
            {{if this.itemTextPath (get item this.itemTextPath) item}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
{{else if (eq this.type "toggle")}}
  {{ui-checkbox
    class="toggle"
    label=(or this.label "controlName")
    checked=this.state
    onChange=(action this.__update)}}
{{else if (eq this.type "radio")}}
  {{ui-radio
    class="toggle"
    name=this.name
    label=(or this.label "controlName")
    value=this.value
    current=this.state
    onChange=(action this.__update)}}
{{else}}
  {{yield
    (action this.__update)
  }}
{{/if}}
