<div class="ui field" ...attributes {{did-insert (fn @onInsert this)}} {{will-destroy (fn @onDestroy this)}}>
  {{#if (eq @type "select")}}
    <UiDropdown @class={{this.selectionClass}} @selected={{@state}} @onChange={{this.update}} as |execute mapper|>
      <div class="default text">
        {{#if this.selectText}}
          {{this.selectText}}
        {{else}}
          Select a {{@section.name}}
        {{/if}}
      </div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#if this.hasNull}}
          <div class="item" data-value={{map-value mapper "none"}}>
            No {{@section.ame}}
          </div>
        {{/if}}
        {{#each @model as |item|}}
          <div class="item" data-value={{map-value mapper (if this.itemValuePath (get item this.itemValuePath) item)}}>
            {{#if hasBlock}}
              {{yield item}}
            {{else}}
              {{if @itemTextPath (get item @itemTextPath) item}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  {{else if (eq @type "toggle")}}
    <UiCheckbox
      @class="toggle"
      @label={{or @label "controlName"}}
      @checked={{@state}}
      @onChange={{this.update}} />
  {{else if (eq @type "radio")}}
    <UiRadio
      @class="toggle"
      @name={{@name}}
      @label={{or @label "controlName"}}
      @value={{@value}}
      @current={{@state}}
      @onChange={{this.update}} />
  {{else}}
    {{yield
      this.update
    }}
  {{/if}}
</div>