{{#if (eq type 'select')}}
  {{#ui-dropdown class=selectionClass selected=state onChange=(action __update) as |execute mapper|}}
    <div class="default text">
      {{#if selectText}}
        {{selectText}}
      {{else}}
        Select a {{parentView.sectionName}}
      {{/if}}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#if hasNull}}
        <div class="item" data-value="{{map-value mapper 'none'}}">
          No {{parentView.sectionName}}
        </div>
      {{/if}}
      {{#each model as |item|}}
        <div class="item" data-value="{{map-value mapper (if itemValuePath (get item itemValuePath) item)}}">
          {{#if hasBlock}}
            {{yield item}}
          {{else}}
            {{if itemTextPath (get item itemTextPath) item}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
{{else if (eq type 'toggle')}}
  {{ui-checkbox
    class='toggle'
    label=(or label 'controlName')
    checked=state
    onChange=(action __update)}}
{{else if (eq type 'radio')}}
  {{ui-radio
    class='toggle'
    name=name
    label=(or label 'controlName')
    value=value
    current=state
    onChange=(action __update)}}
{{else}}
  {{yield
    (action __update)
  }}
{{/if}}
