<h4 role="button" class="ui {{unless this.active "no margin"}} clickable header" {{action this.toggleActive}}>
  {{#if this.active}}
    <i class="caret up icon"></i>
  {{else}}
    <i class="caret down icon"></i>
  {{/if}}
  {{this.sectionName}}
</h4>
<div class={{unless this.active "hidden"}}>
  {{yield (action this.resetFilter)}}
</div>
