<div class="ui vertical segment {{unless this.active "fade-unless-hovered"}} filter-pane__section">
  {{!-- <h4 role="button" class="ui {{unless this.active "no margin"}} clickable header" {{on "click" (pipe (this.toggle "active" this) this.toggleActive)}}> --}}
  <h4 role="button" class="ui {{unless this.active "no margin"}} clickable header" {{on "click" this.toggleActive}}>
    {{#if this.active}}
      <i class="caret up icon"></i>
    {{else}}
      <i class="caret down icon"></i>
    {{/if}}
    {{@name}}
  </h4>
  <div class={{unless this.active "hidden"}}>
    {{yield (hash
      control=(component
        "display/filter-panes/control"
        update=@sendComponentUpdate
        onInsert=this.registerControl
        onDestroy=this.unregisterControl
        section=this
      )
      selectControl=(component
        "display/filter-panes/control"
        type="select"
        update=@sendComponentUpdate
        onInsert=this.registerControl
        onDestroy=this.unregisterControl
        section=this
      )
      toggleControl=(component
        "display/filter-panes/control"
        type="toggle"
        update=@sendComponentUpdate
        onInsert=this.registerControl
        onDestroy=this.unregisterControl
        section=this
      )
      radioControl=(component
        "display/filter-panes/control"
        type="radio"
        update=@sendComponentUpdate
        onInsert=this.registerControl
        onDestroy=this.unregisterControl
        section=this
      )
    ) @resetFilter}}
  </div>
</div>
