<h4 role="button" class="ui {{unless active "no margin"}} clickable header" {{action toggleActive}}>
  {{#if active}}
    <i class="caret up icon"></i>
  {{else}}
    <i class="caret down icon"></i>
  {{/if}}
  {{sectionName}}
</h4>
<div class={{unless active "hidden"}}>
  {{yield (action resetFilter)}}
</div>
