<div class={{if this.highlightRow "highlight-invoice-row"}}>
  <LinkTo @route="account.settings.billing.invoice" @model={{this.transaction.id}}>
    <div class="ui three column very relaxed grid text-black transaction-item {{if this.isRejected 'transaction-item--canceled'}}">
      <div class="column">
        <span class="payment-date">{{time this.transaction.createdAt "MMMM Do, YYYY"}}</span>
      </div>
      <div class="column">
        <img alt="Payment Method" class="ui mini image payment-image" src={{this.paymentMethod.image}}>
        {{this.paymentMethod.method}}
      </div>
      <div class="column">
        ${{this.transaction.amount}}
      </div>
      {{#if this.isRejected}}
        <EmberTooltip>
          This transaction was not processed. (Processor response: {{this.transaction.status}})
        </EmberTooltip>
      {{/if}}
    </div>
  </LinkTo>
  <div class="ui divider"></div>
</div>
