<div class="item">
  <div class="content">
    <div class="header">
      {{@location.name}}
      {{#if @location.code}}
        <div class="ui blue label">
          {{@location.code}}
        </div>
      {{/if}}
    </div>
    <div class="right floated">
      <LinkTo @route="account.anatomy.location.edit" @model={{@location.id}}>
        <EmberTooltip @side="left" @popperContainer="body" @text="Edit location" />
        <i class="edit icon"></i>
      </LinkTo>
      <ConfirmModal @deleteContext={{@location.name}} @tagName="span" as |confirm|>
        <a href="#" class="text-danger" {{on "click" (prevent-default (pipe confirm (fn @onDelete @location)))}}>
          <EmberTooltip @side="left" @popperContainer="body" @text="Delete location" />
          <i class="trash icon"></i>
        </a>
      </ConfirmModal>
    </div>
    <div class="meta">
      <p>
        {{@location.addressLine1}}<br>
        {{#if @location.addressLine2}}
          {{@location.addressLine2}}<br>
        {{/if}}
        {{@location.addressCity}}, {{@location.addressState}} {{@location.addressZipcode}}
      </p>
      {{#if @location.phoneFormatted}}
        <div class="left floated text">
          {{@location.phoneFormatted}}
        </div>
      {{/if}}
      <span class="ui small text right floated">Created {{time-ago @location.created}} {{#if @location.creator.fullName}}by {{@location.creator.fullName}}{{/if}}</span>
    </div>
  </div>
</div>
