<div class="item">
  <div class="content">
    <h3 class="header">
      <LinkTo @route="account.employee.index.education.training-assignment" @model={{@model.id}} class="item">
        {{@model.name}}
      </LinkTo>
    </h3>
    <div class="meta">
      {{#if @model.webinar}}
        Webinar: {{@model.webinar.webinar.title}}
      {{/if}}
    </div>
  </div>
  <div class="right content">
    <strong>{{@model.status}}</strong>
    <div class="ui small text">Added {{time-ago @model.created}}{{#if @model.creator}} by {{@model.creator.fullName}}{{/if}}</div>
  </div>
</div>
