<form class="ui form" {{action (pipe (action "permissionCheck") (action "save")) on="submit"}}>
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Editing {{this.model.fullName}}
    </h1>
  </hgroup>
  <div class="ui divider"></div>
  <label class="permission_label">Permissions</label>
  <XTree @checkable={{true}} @model={{this.permissionsTree}}></XTree>
  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.working}}>Save Changes</Form::ActionButton>
</form>
