<form class="ui form" {{on "submit" (prevent-default (pipe this.permissionCheck (fn this.data.saveRecord this.model "working" this.saveOptions)))}}>
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Editing {{this.model.fullName}}
    </h1>
  </hgroup>
  <div class="ui divider"></div>
  <label class="permission_label">Permissions</label>
  <XTree @checkable={{true}} @model={{this.permissionsTree}}></XTree>
  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.working.isLoading}}>Save Changes</Form::ActionButton>
</form>
