<hgroup class="clearfix">
  <h1 class="ui header left floated">
    Users
  </h1>

  <div class="right aligned text floated menu__actions">
    <h3 class="ui right floated header">
      <LinkTo @route="account.anatomy.company-users.new" class="right floated">
        <EmberTooltip @side="left" @popperContainer="body" @text="Add a user" />
        <i class="plus icon"></i>
      </LinkTo>
    </h3>
  </div>
</hgroup>
<div class="ui divider"></div>
  <div class="ui divided items">
    {{#each this.model as |user|}}
      <ListItem::UserItem
        @user={{user}}
        @allUsers={{this.allUsers}}
        @onRefresh={{route-action "refreshModel"}}
      />
    {{else}}
      <h2 class="ui center aligned header">No users available.</h2>
    {{/each}}
  </div>
<Elements::XPagination @page={{this.page}} @model={{this.model}} @limit={{this.limit}} @onChange={{set this.page _}} />
