<h2 class="ui dividing header">Create a New User</h2>

<form class="ui form" {{action (pipe (action "presetAttrs") (action "save")) on="submit"}}>
  <Input::UiInput @type="email" @inputId="user-email" @placeholder="Email Address" @value={{this.model.email}} />
  <div class="ui divider"></div>

  <div class="field">
    <label>
      <EmberTooltip @popperContainer="body" @side="left" @targetId="it__employee-required" @text="Users must have an employee record assigned." />
      Employee
      <i id="it__employee-required" class="right floated info icon"></i>
    </label>
    {{#if this.employees}}
      <UiDropdown @class="fluid search selection" @id="user-employee-link" @selected={{this.model.employee}} @onChange={{action (mut this.model.employee)}} as |execute mapper|>
        <i class="dropdown icon"></i>
        <div class="default text">Select an employee for this user</div>
        <div class="menu">
          {{#each this.employees as |item|}}
            <div class="item" data-value={{map-value mapper item}}>
              {{item.fullName}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    {{else}}
      <p>No employees are available.</p>
    {{/if}}
  </div>
  <div class="field">
    <label>
      Permissions
      <XTree @checkable={{true}} @syncCheckbox={{true}} @model={{this.permissionsTree}}></XTree>
    </label>
  </div>
  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @disabled={{this.disableForm}} @loading={{this.working}}>Save User</Form::ActionButton>
</form>
