<div class="ui container">
  {{#if model.cancelledOn}}
    <h2 class="ui red header"><i class="close icon"></i>This item was cancelled on {{time model.cancelledOn}}</h2>
  {{/if}}
  {{#if model.completedOn}}
    <h2 class="ui green header"><i class="check icon"></i>This item was completed on 7/4/16</h2>
  {{/if}}

  {{#ui-menu menuClass="pointing"}}
    {{#link-to 'account.action-item.index' class="item"}}
      <i class="square icon"></i>Index
    {{/link-to}}
    {{#link-to 'account.action-item.todo' class="item"}}
      <i class="checkmark box icon"></i>Todos
      {{#if model.checklist}}
        <label class="ui left pointing label">
          {{model.completeTodos.length}}/{{model.checklist.length}}
        </label>
      {{/if}}
    {{/link-to}}
    {{#link-to 'account.action-item.discussion' class="item"}}
      <i class="comments icon"></i>Discussion
    {{/link-to}}
    <div class="right menu">
      {{#ui-dropdown class="item icon top right pointing"}}
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Actions</div>
          <a href="#" id="action-item__action--mark-complete" class="item"
          {{action
            (pipe
              (action 'confirmCompletion')
              (action 'markComplete')
              (action 'save')
            )
          }}>
            <i class="check icon"></i>Mark Complete
          </a>
          {{#if (eq model.owner.id auth.user.employee.id)}}
            <a href="#" id="action-item__action--transfer" class="item" {{action (pipe (action 'selectTransferTarget') (action 'transfer') (action 'save'))}}>
              <i class="random icon"></i>Transfer
            </a>
          {{/if}}
          <div class="header">Settings</div>
          {{#link-to 'account.employee.index.edit' class='item'}}<i class="edit icon"></i>Edit{{/link-to}}
          <div class="item"><i class="settings icon"></i>Settings</div>
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            {{#confirm-modal as |confirm|}}
              <a href="#" class="text-danger" {{action (pipe confirm (action 'delete'))}}><i class="trash icon"></i>Delete Record</a>
            {{/confirm-modal}}
          </div>
        </div>
      {{/ui-dropdown}}
    </div>
  {{/ui-menu}}

  {{outlet}}
</div>

{{#ui-modal name='modal__action-item--transfer' id='modal__action-item--transfer' class='small form'}}
  <i class="close icon"></i>
  <div class="header">
    <i class="random icon"></i>Transfer action item
  </div>
  <div class="content">
    <div class="field">
      {{#if transferableTargets}}
        {{#ui-dropdown class="fluid search selection" id="action-item-transfer-target" selected=transferTarget onChange=(action (mut transferTarget)) as |execute mapper|}}
          <i class="dropdown icon"></i>
          <div class="default text">Select a new owner</div>
          <div class="menu">
            {{#each transferableTargets as |item|}}
              <div class="item" data-value="{{map-value mapper item.employee}}">
                {{item.employee.fullName}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{else}}
        <p>No other owners are available.</p>
      {{/if}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" {{action 'respondTransferModal' false}}>
      Cancel
    </button>
    <button class="ui primary right labeled icon button" disabled={{if transferTarget false true}} {{action 'respondTransferModal' true}}>
      Transfer
      {{#if transferTarget}}
        to {{transferTarget.fullName}}
      {{/if}}
      <i class="random icon"></i>
    </button>
  </div>
{{/ui-modal}}

{{#ui-modal name='modal__action-item--confirm-complete' id='modal__action-item--confirm-complete' class='basic'}}
  <i class="close icon"></i>
  <div class="header">
    Heads up!
  </div>
  <div class="content">
    Are you sure want to do that?
    {{#if model.incompleteTodos.length}}
      <p><strong>There's still {{model.incompleteTodos.length}} {{inflect-text 'todos' model.incompleteTodos.length}} left to complete!</strong></p>
    {{/if}}
  </div>
  <div class="actions">
    <button class="ui red basic button" {{action 'respondConfirmCompleteModal' false}}>
      Cancel
    </button>
    <button class="ui positive right labeled icon basic button" {{action 'respondConfirmCompleteModal' true}}>
      Mark Complete
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
