<div class="ui container">
  {{#if this.model.cancelledOn}}
    <h2 class="ui red header"><i class="close icon"></i>This item was cancelled on {{time this.model.cancelledOn}}</h2>
  {{/if}}
  {{#if this.model.completedOn}}
    <h2 class="ui green header"><i class="check icon"></i>This item was completed on {{time this.model.completedOn}}</h2>
  {{/if}}

  {{#ui-menu menuClass="pointing"}}
    {{#link-to "account.action-item.index" class="item"}}
      <i class="square icon"></i>Summary
    {{/link-to}}
    {{#link-to "account.action-item.todo" class="item"}}
      <i class="check square icon"></i>Todos
      {{#if this.model.checklist}}
        <label class="ui left pointing label">
          {{this.model.completeTodos.length}}/{{this.model.checklist.length}}
        </label>
      {{/if}}
    {{/link-to}}
    {{#link-to "account.action-item.discussion" class="item"}}
      <i class="comments icon"></i>Discussion
    {{/link-to}}
    {{#if (eq this.model.owner.id this.auth.user.employee.id)}}
      <div class="right menu">
        {{#ui-dropdown class="item icon top right pointing"}}
          <i class="wrench icon"></i><i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Actions</div>
            <a href="#" id="action-item__action--mark-complete" class="item" {{action (pipe
                (action "confirmCompletion")
                (action "toggleComplete")
                (action "save")
            )}}>
              <i class="check icon"></i>Mark as {{if this.model.completedOn "Incomplete" "Complete"}}
            </a>
            <a href="#" id="action-item__action--transfer" class="item"
              {{action (pipe
                (action "selectTransferTarget")
                (action "transfer")
                (action "save")
            )}}>
              <i class="random icon"></i>Transfer to New Owner
            </a>
            <a href="#" id="action-item__action--delay" class="item"
              {{action (pipe
                (action "selectDelay")
                (action "save")
            )}}>
              <i class="ellipsis horizontal icon"></i>Delay
            </a>

            <div class="text-danger header">Danger Zone</div>
            {{#confirm-modal class="item" as |confirm|}}
              <a href="#" id="action-item__action--cancel" {{action (pipe confirm (action "cancelActionItem"))}}>
                <i class="close icon"></i>Cancel Project
              </a>
            {{/confirm-modal}}
            {{#confirm-modal this.as deleteContext=this.model.title class="item" as |confirm|}}
              <a href="#" id="action-item__action--delete" {{action (pipe confirm (action "delete"))}}>
                <i class="trash icon"></i>Delete Record
              </a>
            {{/confirm-modal}}
          </div>
        {{/ui-dropdown}}
      </div>
    {{/if}}
  {{/ui-menu}}

  {{outlet}}
</div>

{{#ui-modal name="modal__action-item--transfer" id="modal__action-item--transfer" class="small form"}}
  <i class="close icon"></i>
  <div class="header">
    <i class="random icon"></i>Transfer project to new owner
  </div>
  <div class="content">
    <div class="field">
      {{#if this.transferableTargets}}
        {{#ui-dropdown class="fluid search selection" id="action-item-transfer-target" selected=this.transferTarget onChange=(action (mut this.transferTarget)) as |execute mapper|}}
          <i class="dropdown icon"></i>
          <div class="default text">Select a new owner</div>
          <div class="menu">
            {{#each this.transferableTargets as |item|}}
              <div class="item" data-value={{map-value mapper item.employee}}>
                {{item.employee.fullName}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{else}}
        <p>No other owners are available.</p>
      {{/if}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" {{action "respondTransferModal" false}}>
      Cancel
    </button>
    <button class="ui primary right labeled icon button" disabled={{if this.transferTarget false true}} {{action "respondTransferModal" true}}>
      Transfer
      {{#if this.transferTarget}}
        to {{this.transferTarget.fullName}}
      {{/if}}
      <i class="random icon"></i>
    </button>
  </div>
{{/ui-modal}}

{{#ui-modal name="modal__action-item--confirm-complete" id="modal__action-item--confirm-complete" class="basic"}}
  <i class="close icon"></i>
  <div class="header">
    Heads up!
  </div>
  <div class="content">
    Are you sure want to do that?
    {{#if (and this.model.incompleteTodos.length (not this.model.completedOn))}}
      <p><strong>There's still {{this.model.incompleteTodos.length}} {{inflect-text "todos" this.model.incompleteTodos.length}} left to complete!</strong></p>
    {{/if}}
  </div>
  <div class="actions">
    <button class="ui inverted red button" {{action "respondConfirmCompleteModal" false}}>
      Cancel
    </button>
    <button class="ui inverted green right labeled icon button" {{action "respondConfirmCompleteModal" true}}>
      Mark {{if this.model.completedOn "Incomplete" "Complete"}}
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}

{{#ui-modal id="modal__action-item--delay" class="small form"}}
  <i class="close icon"></i>
  <div class="header">
    When should "{{this.model.title}}" be due?
  </div>
  <div class="content">
    {{ui-calendar class="field" type="date" inline=true onChange=(action (mut this.model.delayedUntil))}}
  </div>
  <div class="actions">
    <button class="ui red button" {{action "respondDelayModal" false}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{action "respondDelayModal" true}}>
      Delay
      {{#if this.model.delayedUntil}}
        until
        {{time this.model.delayedUntil "M/D/YY"}}
      {{/if}}
      <i class="ellipsis horizontal icon"></i>
    </button>
  </div>
{{/ui-modal}}
