<div class="ui container">
  {{#if this.model.cancelledOn}}
    <h2 class="ui red header"><i class="close icon"></i>This item was cancelled on {{time this.model.cancelledOn}}</h2>
  {{/if}}
  {{#if this.model.completedOn}}
    <h2 class="ui green header"><i class="check icon"></i>This item was completed on {{time this.model.completedOn}}</h2>
  {{/if}}

  <UiMenu @menuClass="pointing">
    <LinkTo @route="account.action-item.index" class="item">
      <i class="square icon"></i>Summary
    </LinkTo>
    <LinkTo @route="account.action-item.todo" class="item">
      <i class="check square icon"></i>Todos
      {{#if this.model.checklist}}
        <label class="ui left pointing label">
          {{this.model.completeTodos.length}}/{{this.model.checklist.length}}
        </label>
      {{/if}}
    </LinkTo>
    <LinkTo @route="account.action-item.discussion" class="item">
      <i class="comments icon"></i>Discussion
    </LinkTo>
    {{#if (eq this.model.owner.id this.auth.user.employee.id)}}
      <div class="right menu">
        <UiDropdown @class="item icon top right pointing">
          <i class="wrench icon"></i><i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Actions</div>
            <a href="#" id="action-item__action--mark-complete" class="item" {{on "click" (prevent-default (pipe
                (action "confirmCompletion")
                (action "toggleComplete")
                (action "save")
            ))}}>
              <i class="check icon"></i>Mark as {{if this.model.completedOn "Incomplete" "Complete"}}
            </a>
            <a href="#" id="action-item__action--transfer" class="item" {{on "click" (prevent-default (pipe
                (action "selectTransferTarget")
                (action "transfer")
                (action "save")
            ))}}>
              <i class="random icon"></i>Transfer to New Owner
            </a>
            <a href="#" id="action-item__action--delay" class="item" {{on "click" (prevent-default (pipe
                (action "selectDelay")
                (action "save")
            ))}}>
              <i class="ellipsis horizontal icon"></i>Delay
            </a>

            <div class="text-danger header">Danger Zone</div>
            <ConfirmModal @class="item" as |confirm|>
              <a href="#" id="action-item__action--cancel" {{on "click" (prevent-default (pipe confirm (action "cancelActionItem") (action "save")))}}>
                <i class="close icon"></i>Cancel Project
              </a>
            </ConfirmModal>
            <ConfirmModal
              @deleteContext={{this.model.title}}
              @class="item" as |confirm|
            >
              <a href="#" id="action-item__action--delete" {{on "click" (prevent-default (pipe
                confirm
                (fn this.data.deleteRecord
                  this.model
                  'working'
                  this.afterSaveOptions)
              ))}}>
                <i class="trash icon"></i>Delete Record
              </a>
            </ConfirmModal>
          </div>
        </UiDropdown>
      </div>
    {{/if}}
  </UiMenu>

  {{outlet}}
</div>

<UiModal @name="modal__action-item--transfer" @id="modal__action-item--transfer" @class="small form">
  <i class="close icon"></i>
  <div class="header">
    <i class="random icon"></i>Transfer project to new owner
  </div>
  <div class="content">
    <div class="field">
      {{#if this.transferableTargets}}
        <UiDropdown @class="fluid search selection" @id="action-item-transfer-target" @selected={{this.transferTarget}} @onChange={{action (mut this.transferTarget)}} as |execute mapper|>
          <i class="dropdown icon"></i>
          <div class="default text">Select a new owner</div>
          <div class="menu">
            {{#each this.transferableTargets as |item|}}
              <div class="item" data-value={{map-value mapper item.employee}}>
                {{item.employee.fullName}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      {{else}}
        <p>No other owners are available.</p>
      {{/if}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" type="button" {{on "click" (prevent-default (fn (action "respondTransferModal") false))}}>
      Cancel
    </button>
    <button class="ui primary right labeled icon button" disabled={{if this.transferTarget false true}} type="button" {{on "click" (prevent-default (fn (action "respondTransferModal") true))}}>
      Transfer
      {{#if this.transferTarget}}
        to {{this.transferTarget.fullName}}
      {{/if}}
      <i class="random icon"></i>
    </button>
  </div>
</UiModal>

<UiModal @name="modal__action-item--confirm-complete" @id="modal__action-item--confirm-complete" @class="basic">
  <i class="close icon"></i>
  <div class="header">
    Heads up!
  </div>
  <div class="content">
    Are you sure want to do that?
    {{#if (and this.model.incompleteTodos.length (not this.model.completedOn))}}
      <p><strong>There's still {{this.model.incompleteTodos.length}} {{inflect-text "todos" this.model.incompleteTodos.length}} left to complete!</strong></p>
    {{/if}}
  </div>
  <div class="actions">
    <button class="ui inverted red button" type="button" {{on "click" (prevent-default (fn (action "respondConfirmCompleteModal") false))}}>
      Cancel
    </button>
    <button class="ui inverted green right labeled icon button" type="button" {{on "click" (prevent-default (fn (action "respondConfirmCompleteModal") true))}}>
      Mark {{if this.model.completedOn "Incomplete" "Complete"}}
      <i class="check icon"></i>
    </button>
  </div>
</UiModal>

<UiModal @id="modal__action-item--delay" @class="small form">
  <i class="close icon"></i>
  <div class="header">
    When should "{{this.model.title}}" be due?
  </div>
  <div class="content">
    <UiCalendar @class="field" @type="date" @inline={{true}} @onChange={{action (mut this.model.delayedUntil)}} />
  </div>
  <div class="actions">
    <button class="ui red button" type="button" {{on "click" (prevent-default (fn (action "respondDelayModal") false))}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" type="button" {{on "click" (prevent-default (fn (action "respondDelayModal") true))}}>
      Delay
      {{#if this.model.delayedUntil}}
        until
        {{time this.model.delayedUntil "M/D/YY"}}
      {{/if}}
      <i class="ellipsis horizontal icon"></i>
    </button>
  </div>
</UiModal>
