<div class="ui container basic segment">
  <UiMenu @menuClass="pointing">
    <LinkTo @route="account.document.index" class="item">
      <i class="list icon"></i>Summary
    </LinkTo>
    <div class="right menu">
      <UiDropdown @class="item icon top right pointing">
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <a href="#" {{on "click" (prevent-default (pipe
              (fn this.openAssignmentModal this.file)
              (fn this.remapToModels this.fileAssignment)
              this.data.saveRecord
              this.closeAssignmentModal
              this.afterSave
            ))}}>
              <i class="add user icon"></i> Assign (send) to
            </a>
          </div>
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            <ConfirmModal @deleteContext={{concat this.model.title " - " this.model.mimeType}} as |confirm|>
              <a href="#" class="text-danger" {{on "click" (prevent-default (pipe
                confirm
                (fn this.data.deleteRecord this.model "working" (hash transitionAfterDelete="account.documents"))
              ))}}><i class="trash icon"></i>Delete File</a>
            </ConfirmModal>
          </div>
        </div>
      </UiDropdown>
    </div>
  </UiMenu>

  <div class="ui raised padded segment container clearfix">
    <hgroup>
      <h2>
        <Display::IconForFile @file={{this.model}}/>
        {{if this.model.title this.model.title "Document"}}
        {{#if this.model.tags}}
          {{#each this.model.tags as |tag|}}
            <span class="ui tiny label">{{tag}}</span>
          {{/each}}
        {{/if}}
        <a href={{this.model.url}} target="_blank" rel="noopener noreferrer" class="right floated" download><i class="download fitted icon"></i></a>
      </h2>
    </hgroup>

    <span class="ui small text">
      Created by {{this.model.creator.fullName}} on {{time this.model.created}}
    </span>

    <div class="ui divider"></div>

    {{outlet}}
  </div>
</div>

<UiModal @name="modal__file-assignment" @id="modal__file-assignment" @class="small form">
  <div class="header">
    Assign {{this.model.title}}
  </div>
  <div class="content">
    <QuickForm
      @form={{this.fileAssignmentForm}}
      @model={{this.fileAssignment}}
      @controller={{this}}
      @tagName="div" />

    <div class="field center aligned text">
      <UiCheckbox @class="toggle" @label="Assign for a future Date" @checked={{this.isExpanded}} @onChange={{toggle "isExpanded" this}} />
    </div>
  </div>

  {{#if this.isExpanded}}
    <UiCalendar @class="field" @type="date" @inline={{true}} @onChange={{set this.model.effectiveOn _}} />
  {{/if}}

  <div class="actions">
    <button type="button" class="ui red button" {{on "click" (prevent-default (fn this.respondAssignment false))}}>
      Cancel
    </button>
    <button type="button" class="ui primary right labeled icon {{if this.data.statuses.working.isLoading "loading"}} button" disabled={{lt this.fileAssignment.employees.length 1}} {{on "click" (prevent-default (fn this.respondAssignment true))}}>
      Assign
      {{#if (gte this.fileAssignment.employees.length 2)}}
        To {{this.fileAssignment.employees.length}} Employees
      {{else if (eq this.fileAssignment.employees.length 1)}}
        To {{this.fileAssignment.employees.firstObject.firstName}}
      {{/if}}
      <i class="add user icon"></i>
    </button>
  </div>
</UiModal>
