<div class="ui container basic segment">
  {{#ui-menu menuClass="pointing"}}
    {{#link-to "account.document.index" class="item"}}
      <i class="list icon"></i>Summary
    {{/link-to}}
    <div class="right menu">
      {{#ui-dropdown class="item icon top right pointing"}}
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <a href="#" {{action (pipe
              (action "openAssignmentModal" this.file)
              (action this.remapToModels)
              (action "save")
              (action "closeAssignmentModal")
            )}}>
              <i class="add user icon"></i> Assign (send) to
            </a>
          </div>
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            {{#confirm-modal deleteContext=(concat this.model.title " - " this.model.mimeType) as |confirm|}}
              <a href="#" class="text-danger" {{action (pipe confirm (action "delete"))}}><i class="trash icon"></i>Delete File</a>
            {{/confirm-modal}}
          </div>
        </div>
      {{/ui-dropdown}}
    </div>
  {{/ui-menu}}

  <div class="ui raised padded segment container clearfix">
    <hgroup>
      <h2>
        {{display/icon-for-file this.model}}
        {{if this.model.title this.model.title "Document"}}
        {{#if this.model.tags}}
          {{#each this.model.tags as |tag|}}
            <span class="ui tiny label">{{tag}}</span>
          {{/each}}
        {{/if}}
        <a href={{this.model.url}} target="_blank" rel="noopener" class="right floated" download><i class="download fitted icon"></i></a>
      </h2>
    </hgroup>

    <span class="ui small text">
      Created by {{this.model.creator.fullName}} on {{time this.model.created}}
    </span>

    <div class="ui divider"></div>

    {{outlet}}
  </div>
</div>

{{#ui-modal name="modal__file-assignment" id="modal__file-assignment" class="small form"}}
  <div class="header">
    Assign {{this.model.title}}
  </div>
  <div class="content">
    {{quick-form
      this.fileAssignmentForm
      this.fileAssignment
      this
      tagName="div"}}

    <div class="field center aligned text">
      {{ui-checkbox
        class="toggle"
        label="Assign for a future Date"
        checked=this.isExpanded
        onChange=(action (toggle "isExpanded" this))}}
    </div>
  </div>

  {{#if this.isExpanded}}
    {{ui-calendar
      class="field"
      type="date"
      inline=true
      onChange=(action (mut this.model.effectiveOn))}}
  {{/if}}

  <div class="actions">
    <button class="ui red button" {{action "respondAssignment" false}}>
      Cancel
    </button>
    <button class="ui primary right labeled icon {{if this.working "loading"}} button" {{action "respondAssignment" true}} disabled={{lt this.fileAssignment.employees.length 1}}>
      Assign
      {{#if (gte this.fileAssignment.employees.length 2)}}
        To {{this.fileAssignment.employees.length}} Employees
      {{else if (eq this.fileAssignment.employees.length 1)}}
        To {{this.fileAssignment.employees.firstObject.firstName}}
      {{/if}}
      <i class="add user icon"></i>
    </button>
  </div>
{{/ui-modal}}
