<div class="ui raised very padded text segment container">
  <hgroup class="clearfix">
    <h2 class="left floated ui header">
      Recent Activity
    </h2>
    <div class="right floated">
      {{#ui-dropdown class="fluid multiple selection" selected=tag onChange=(action (mut tag))}}
        <i class="dropdown icon"></i>
        <div class="default text">Select Filters</div>
        <div class="menu">
          {{#each tags as |tag|}}
            <div class="item segment__activity" data-value="{{tag}}">
              {{tag}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </hgroup>
  <div class="ui large feed">
    {{#each model as |activity|}}
      {{list-item/activity-item activity=activity onNotify=(action 'onNotify')}}
    {{/each}}
    <div class="ui divider"></div>
    <button class="fluid ui button" disabled={{disabled}} {{action 'loadMoreActivities'}}>Load More...</button>
  </div>
</div>
