<div class="ui raised very padded text segment container">
  <hgroup class="clearfix">
    <h2 class="left floated ui header">
      Recent Activity
    </h2>
    <div class="right floated">
      {{#ui-dropdown class="fluid multiple selection" selected=tag onChange=(action (mut tag))}}
        <i class="dropdown icon"></i>
        <div class="default text">Select Filters</div>
        <div class="menu">
          {{#each tags as |tag|}}
            <div class="item" data-value="{{tag}}">
              {{tag}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </hgroup>
  <div class="ui large feed">
    {{#each model as |activity|}}
      {{list-item/activity-item activity=activity onNotify=(action 'onNotify')}}
    {{/each}}
    <div class="ui divider"></div>
    <div class="fluid ui button">Load More...</div>
  </div>
  <div class="right aligned text">
    <span class="fields">
      {{#ui-radio id="user-radio" name="feed-source" class="radio__button" value="user" current=feedSource}}
        <label for="user-radio">
          {{ui-popup tagName="i" position="left center" class="user icon" content="Just your feed"}}
        </label>
      {{/ui-radio}}
      {{#ui-radio id="all-radio" name="feed-source" class="radio__button" value="all" current=feedSource}}
        <label for="all-radio">
          {{ui-popup tagName="i" position="left center" class="users icon" content="Entire company feed"}}
        </label>
      {{/ui-radio}}
    </span>
  </div>
</div>
