<div class="ui raised very padded text segment container">
  <hgroup class="clearfix">
    <h2 class="left floated ui header">
      Recent Activity
    </h2>

    <div class="right floated">
      {{#ui-dropdown class="floating labeled search icon tiny button" multiple="" action="nothing"}}
        <i class="filter icon"></i>
        <span>Filter</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search types...">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="tags icon"></i>
            Show me events for
          </div>
          <label class="item">
            {{ui-checkbox}}
            <div class="ui teal empty circular label"></div>
            Employee Updates
          </label>
          <label class="item">
            {{ui-checkbox}}
            <div class="ui green empty circular label"></div>
            Recruiting
          </label>
          <label class="item">
            {{ui-checkbox}}
            <div class="ui red empty circular label"></div>
            Corrective Actions
          </label>
          <label class="item">
            {{ui-checkbox}}
            <div class="ui blue empty circular label"></div>
            Documents
          </label>
        </div>
      {{/ui-dropdown}}
    </div>
  </hgroup>

  <div class="ui large feed">
    {{#each model as |activity|}}
      {{list-item/activity-item activity=activity onNotify=(action 'onNotify')}}
    {{/each}}
    <div class="ui divider"></div>
    <div class="fluid ui button">Load More...</div>
  </div>

  <div class="right aligned text">
    <span class="fields">
      {{#ui-radio id="user-radio" name="feed-source" class="radio__button" value="user" current=feedSource}}
        <label for="user-radio">
          {{ui-popup tagName="i" position="left center" class="user icon" content="Just your feed"}}
        </label>
      {{/ui-radio}}
      {{#ui-radio id="all-radio" name="feed-source" class="radio__button" value="all" current=feedSource}}
        <label for="all-radio">
          {{ui-popup tagName="i" position="left center" class="users icon" content="Entire company feed"}}
        </label>
      {{/ui-radio}}
    </span>
  </div>
</div>
