<div class="ui container">
  <UiMenu @menuClass="pointing">
    <LinkTo @route="account.job-description.index" class="item">
      <i class="square icon"></i>Summary
    </LinkTo>
    <div class="right menu">
      <UiDropdown @class="item icon top right pointing">
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Actions</div>
          <a href="#" class="item" {{on "click" (prevent-default this.createCampaign)}}><i class="wizard icon"></i>Hire for this job</a>
          <LinkTo @route="account.job-description.edit" @model={{this.model.id}} class="item"><i class="edit icon"></i> Edit</LinkTo>
          <div class="text-danger header">Danger Zone</div>
          <ConfirmModal @deleteContext={{this.model.title}} @class="item" as |confirm|>
            <a href="#" id="job__action--delete" class="text-danger" {{on "click" (prevent-default (pipe confirm (fn this.data.deleteRecord this.model "working" this.deleteOptions)))}}>
              <i class="trash icon"></i>Delete Record
            </a>
          </ConfirmModal>
        </div>
      </UiDropdown>
    </div>
  </UiMenu>

  {{outlet}}
</div>
