<h1 class="ui header titlecased text">
  Editing {{this.model.name}}
  <small class="right floated">
    <LinkTo @route="account.employee.index.education.certification" @model={{this.model}} class="text-danger">
      Cancel
    </LinkTo>
  </small>
</h1>

<div class="ui divider"></div>

<QuickForm
  @form={{this.currentForm.elements}}
  @model={{this.model}}
  @controller={{this}}
  @submitClass="large green fluid"
  @onsubmit={{fn this.data.saveRecord this.model "working" this.saveOptions}}
>
  Save Changes
</QuickForm>
