<h1>
  {{this.model.name}}
  <small class="right floated text">
    <LinkTo @route="account.employee.index.education.certification.edit"><i class="edit icon"></i></LinkTo>
    <ConfirmModal @tagName="span" @deleteContext={{this.model.name}} as |confirm|>
      <a href="#" class="text-danger" {{on "click" (prevent-default (pipe confirm (fn this.data.deleteRecord this.model "working" deleteOptions)))}}><i class="trash icon"></i></a>
    </ConfirmModal>
  </small>
</h1>
<div class="ui divider"></div>

{{#if this.model.renews}}
  <h3>
    Renewals
    <small>
      <LinkTo @route="account.employee.index.education.certification.renewal">
        <i class="plus fitted icon"></i>
        Add renewal
      </LinkTo>
    </small>
    <small class="right floated light text">Next Renewal Due {{time-ago this.model.nextRenewalDate}} on {{time this.model.nextRenewalDate "M/D/YY"}}</small>
  </h3>

  <div class="ui list">
    {{#each this.model.renewals as |renewal|}}
      {{renewal.completedOn}}
    {{else}}
      {{this.model.name}} hasn't been renewed, yet.
    {{/each}}
  </div>
{{/if}}

{{#if this.model.document}}
  <h3>Documents</h3>
  <p>
    <LinkTo @route="account.document" @model={{this.model.document.id}}>{{this.model.document.title}}</LinkTo>
  </p>
{{/if}}
