<h1 class="ui header titlecased text">
  {{if this.renewal "Editing" "Adding"}} Renewal For {{this.model.certification.name}}
  <small class="right floated">
    <LinkTo @route="account.employee.index.education.certification" @model={{this.model.certification}} class="text-danger">
      Cancel
    </LinkTo>
  </small>
</h1>

<div class="ui divider"></div>

<QuickForm
  @form={{this.currentForm.elements}}
  @model={{this.model.renewal}}
  @controller={{this}}
  @submitClass="large green fluid"
  @onsubmit={{this.saveRenewal}}
>
  {{#if this.renewal}}Save Changes{{else}}Add Renewal{{/if}}
</QuickForm>
