<div class="ui container">
  <h1 class="text-white">{{this.model.name}}</h1>
  <div class="ui divider"></div>
  <UiMenu @menuClass="pointing">
    <LinkTo @route="account.job-opening.campaign.index" class="item">
      <i class="square icon"></i>Summary
    </LinkTo>
    <LinkTo @route="account.job-opening.campaign.applicant-tracking" class="item">
      <i class="users icon"></i>Applicants
    </LinkTo>
    {{#unless this.model.closed}}
      <LinkTo @route="account.job-opening.campaign.talent-pool" class="item">
        <i class="archive icon"></i>Talent Pool
      </LinkTo>
    {{/unless}}
    {{#if this.company.collectEEO}}
      <LinkTo @route="account.job-opening.campaign.eeo-reporting" class="item">
        <i class="file alternate icon"></i>EEO Reports
      </LinkTo>
    {{/if}}
    <div class="right menu">
      {{#if (and this.model.completedOn (not this.model.closed))}}
        <Modals::AtsCloseJobOpening @class="item" @sourcesToClose={{this.model.manualApplicantSources}} as |confirm|>
          <a href="#" class="text-green" {{action (pipe confirm (action "close"))}}>
            <EmberTooltip @side="bottom" @popperContainer="body" @text="This job opening meets your requirements for closure. The appropriate number of candidates were hired and you can now close this opening." />
            <i class="check icon"></i>Close Job Opening...
          </a>
        </Modals::AtsCloseJobOpening>
      {{/if}}

      {{#unless this.model.completedSetup}}
        <LinkTo @route="account.job-opening.setup" class="item text-blue"><i class="wizard icon"></i>Continue Setup</LinkTo>
      {{/unless}}
      <UiDropdown @class="item icon top right pointing">
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Actions</div>
          <LinkTo @route="account.job-opening.campaign.settings" class="item"><i class="settings icon"></i> Settings</LinkTo>
          {{#if (and this.model.completedSetup (not this.model.closed))}}
            <ConfirmModal @confirmContent="Are you sure you want to close this job opening?" @class="item" as |confirm|>
              <a href="#" id="job__action--close" class="text-grey" {{action (pipe confirm (action "close"))}}>
                <i class="stop circle icon"></i>Close Job Opening
              </a>
            </ConfirmModal>
          {{/if}}
          <div class="text-danger header">Danger Zone</div>
          <ConfirmModal @deleteContext={{this.model.name}} @class="item" as |confirm|>
            <a href="#" id="job__action--delete" class="text-danger" {{action (pipe confirm (action "delete"))}}>
              <i class="trash icon"></i>Delete Record
            </a>
          </ConfirmModal>
        </div>
      </UiDropdown>
    </div>
  </UiMenu>

  {{outlet}}
</div>
