<div class="ui container wizard">
  <UiProgress @percent={{this.progress}} @class="indicating wizard__progress">
    <div class="bar"></div>
  </UiProgress>

  <div class="ui padded segment wizard__segment">
    <div class="ui basic segment">
      <h1 class="ui header">Setup {{this.model.name}}</h1>
    </div>

    <div class="ui basic segment">
      {{outlet}}
    </div>
  </div>

  <Display::FormSteps @steps={{this.steps}} @basePath={{this.basePath}} class="wizard__steps" />
</div>
