{{#ui-modal id=modalId}}
  <div class="header">
    Application Labels
  </div>
  <div class="content">
    <label for="label-multi-select">Current labels for {{#if model.person.firstName}}{{model.person.firstName}}'s{{/if}} application</label>
    {{#ui-dropdown
      class="fluid multiple selection"
      id="label-multi-select"
      selected=model.labels
      onChange=(action (mut model.labels)) as |execute mapper|}}
        <i class="dropdown icon"></i>
        <div class="default text">Select labels for application</div>
        <div class="menu">
          {{#each auth.user.company.labels as |label|}}
            <div class="item" data-value={{map-value mapper label}}>
              {{custom-label label}}
            </div>
          {{/each}}
        </div>
    {{/ui-dropdown}}
    {{#if currentLabel}}
      <div class="ui divider"></div>
      {{quick-form
        newLabelForm
        currentLabel}}
      <div class="ui divider"></div>
      <button class="ui blue fluid button" {{action "saveLabel" currentLabel}}>Save New Label</button>
    {{/if}}
  </div>
  <div class="actions">
    {{#if (not currentLabel)}}
      <button class="ui blue button left floated" {{action "addLabel"}}>
        Create New Label
      </button>
    {{/if}}
    <button class="ui inverted red button" {{action "respond" false}}>
      Cancel
    </button>
    {{!-- SHOULD SAVE THE ENTIRE APPLICATION, PROBABLY PASS THROUGH TO ORIGINAL CONTROLLER WITH PIPE ACTION --}}
    <button class="ui green right labeled icon button" {{action "respond" true}}>
      Save Application Labels<i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}


{{!-- currentLabel is label being added or edited --}}
{{!-- model is application, which all of the labels will reside on --}}
{{!-- will have company label list to pick labels from --}}
