{{#ui-modal id=modalId class="basic"}}
  <i class="close icon"></i>
  <div class="header">
    Are you sure?
  </div>
  <div class="content">
    Are you sure you want to {{#if model}}disqualify <strong>"{{model.person.firstName}}"</strong>  for this position{{else}}do that{{/if}}?
  </div>
  <div class="actions">
    {{#ui-checkbox checked=model.disqualificationEmail onChange=(action (mut model.disqualificationEmail))}}
      <label class="text-white">
        Send Rejection Notification
        {{#if model}}
          to {{model.person.firstName}} (<a href="mailto:{{model.person.email}}" class="ats-confirm-disqualify__email-link">{{model.person.email}}</a>)
        {{/if}}?
      </label>
    {{/ui-checkbox}}
    <button class="ui inverted red button" {{action "respond" false}}>
      Cancel
    </button>
    <button class="ui inverted green right labeled icon button" {{action "respond" true}}>
      Yes
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
