{{#ui-modal id=modalId observeChanges=true}}
  <i class="close icon"></i>
  <div class="header">
    Schedule a meeting with {{model.person.firstName}}<br />
    <small class="text-yellow">
      <strong>{{model.person.firstName}} will be notified of this meeting</strong>
    </small>
  </div>
  <div class="content ui form">
    {{input/date-range
      onStartChange=(action (mut meeting.start))
      onEndChange=(action (mut meeting.end))}}
    <div class="ui divider"></div>
    {{input/ui-input
      type="text"
      inputId="meeting-title"
      placeholder="Meeting Title"
      value=meeting.title}}
  </div>
  <div class="actions">
    <button class="ui inverted red button" {{action 'respond' false}}>
      Cancel
    </button>
    <button class="ui inverted green right labeled icon button" {{action 'respond' meeting}}>
      Schedule
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
