<UiModal @id={{this.modalId}}>
  <div class="header">
    Disqualify Candidate
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label for="dq-reason">Reason for disqualification</label>
        <UiDropdown @class="selection" @id="dq-reason" @selected={{this.model.disqualificationReason}} @onChange={{action (mut this.model.disqualificationReason)}} as |execute mapper|>
          <i class="dropdown icon"></i>
          <div class="default text">Reason for disqualification</div>
          <div class="menu">
            <div class="item" data-value={{map-value mapper null}}>
              Do not specify
            </div>
            {{#each this.disqualificationReasons as |reason|}}
              <div class="item" data-value={{map-value mapper reason}}>
                {{reason}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
      <span>
        <i>The disqualification reason may be used for EEO reporting.</i>
      </span>
    </form>
  </div>
  <div class="actions">
    <UiCheckbox @checked={{this.model.disqualificationEmail}} @onChange={{action (mut this.model.disqualificationEmail)}}>
      <label>
        Send Rejection Notification
        {{#if this.model}}
          to {{this.model.person.firstName}} (<a href="mailto:{{this.model.person.email}}" class="ats-confirm-disqualify__email-link">{{this.model.person.email}}</a>)
        {{/if}}?
      </label>
    </UiCheckbox>
    <button class="ui inverted red button" {{action "respond" false}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{action "respond" true}}>
      Confirm Disqualify
      <i class="check icon"></i>
    </button>
  </div>
</UiModal>
