{{#ui-modal id=this.modalId}}
  <div class="header">
    Application Labels
  </div>
  <div class="content">
    <label for="label-multi-select">Current labels for {{#if this.model.person.firstName}}{{this.model.person.firstName}}'s{{/if}} application</label>
    {{#ui-dropdown
      class="fluid multiple selection"
      id="label-multi-select"
      selected=this.model.labels
      onChange=(action (mut this.model.labels)) as |execute mapper|}}
      <i class="dropdown icon"></i>
      <div class="default text">Select labels for application</div>
      <div class="menu">
        {{#each this.auth.user.company.labels as |label|}}
          <div class="item" data-value={{map-value mapper label}}>
            {{custom-label label}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
    {{#if this.currentLabel}}
      <div class="ui divider"></div>
      {{quick-form
        this.newLabelForm
        this.currentLabel}}
      <div class="ui divider"></div>
      <button class="ui blue fluid button" {{action "saveLabel" this.currentLabel}}>Save New Label</button>
    {{/if}}
  </div>
  <div class="actions">
    {{#if (not this.currentLabel)}}
      <button class="ui blue button left floated" {{action "addLabel"}}>
        Create New Label
      </button>
    {{/if}}
    <button class="ui inverted red button" {{action "respond" false}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{action "respond" true}}>
      Save Application Labels<i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
