{{#ui-modal id=modalId class="small form"}}
  <div class="header">
    {{if editingItem "Edit" "Add"}} label
  </div>
  <div class="content">
    <div class="field">
      <label for="current-label">Current Label</label>
      {{custom-label labelForPreview}}
    </div>

    <div class="field">
      <label for="label-text">Label text</label>
      {{input type="text" value=currentLabel.text id="label-text" placeholder="Label text"}}
    </div>
    <div class="field">
      {{color-picker
        components=colorPickerComponents
        comparison=false
        onChange=(action "handleOnChange")
      }}
      <span class="ui small text">(Pick a {{if editingItem "new "}}color)</span>
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" {{action respondModal false}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{action respondModal true}}>
      {{if editingItem "Edit" "Add"}} Label<i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
