{{#if hasBlock}}
  {{yield this.openFormModal}}
{{/if}}

<UiModal @name="modal__form-creator" @id={{this.modalId}}>
  <div class="header">
    {{if this.existingForm "Edit" "Create"}} Form
  </div>
  <div class="content ui form">
    <div class="field">
      <label for="form-name">Form Name* (for your use)</label>
      <Input @type="text" @value={{this.form.name}} placeholder="Form Name" @id="form-name" />
    </div>

    <div class="field">
      <label for="form-title">Form Title* (employee-facing)</label>
      <Input @type="text" @value={{this.form.title}} placeholder="Form Title" @id="form-title" />
    </div>

    <div class="field">
      <label for="form-description">Form Description (optional) (employee-facing)</label>
      <Textarea @value={{this.form.description}} placeholder="Employee-facing description of your form" @id="form-description" />
    </div>

    <div class="ui divider"></div>

    {{#if this.form.elements}}
      <div class="field right aligned icon">
        <button type="button" class="ui compact {{if this.showingPreview "green"}} button" {{on "click" (this.toggle "showingPreview" this)}}>
          <i class="{{if this.showingPreview "un"}}hide icon"></i>
          {{if this.showingPreview "Hide "}}Preview Mode
        </button>
      </div>
    {{/if}}

    <SortableGroup
      @tagName="ol"
      class={{this.sortGroupClass}}
      @onChange={{this.reorderElements}}
      as |group|>
      {{#each this.form.elements as |element index|}}
        <Form::FormElement
          @model={{element}}
          @group={{group}}
          @index={{index}}
          @tagName="li"
          class="form-element__list-item"
          @showingPreview={{this.showingPreview}}
          @scoring={{this.model.applicantScoring}}
          @onRemove={{this.deleteFormElement}}/>
      {{/each}}
    </SortableGroup>
    {{#unless this.showingPreview}}
      <button class="ui primary fluid button" type="button" {{on "click" this.addFormElement}}><i class="plus icon"></i>Add a question</button>
    {{/unless}}
  </div>
  <div class="actions">
    <button class="ui red button" {{on "click" this.closeModal}}>
      Close
    </button>
    <button class="ui green right labeled icon button" {{on "click"
      (pipe
        (fn this.data.saveRecord this.form)
        this.closeModal
        (fn @onCreateForm this.form)
      )
    }}>
      Save Form<i class="check icon"></i>
    </button>
  </div>
</UiModal>
