<h2 class="ui right aligned header">
  <LinkTo @route="account.action-items.new" class="text-white sub header"><i class="plus icon"></i></LinkTo>
</h2>
<div class="ui divider"></div>

<div class="clearfix">
  <span class="right floated">
    <EmberTooltip @side="left" @text="Sort according to due date" />
    <a href="#" class="text-white" {{on "click" (prevent-default (toggle "isDsc" this))}}><i class="sort large numeric {{if this.isDsc "ascending icon" "descending icon"}}"></i></a>
  </span>
  <span class="left floated">
    <EmberTooltip @side="right" @text="Filter according to priority level" />
    <a href="#" class="text-white" {{on "click" (prevent-default (toggle "expandFiltered" this))}}><i class="large filter icon"></i></a>
  </span>
</div>
<div class="ui divider"></div>

{{#liquid-if this.expandFiltered}}
  <div class="five ui stackable buttons">
    {{#each this.priorityFilters as |priorityFilter index|}}
      <button class="ui labeled icon {{object-at index this.priorityColors}} button" {{on "click" (fn this.changeFilter index)}}>
        <i class="{{if (not (contains (inc index) this.filter)) "square outline" "checkmark box"}} icon"></i>
        {{priorityFilter}}
      </button>
    {{/each}}
  </div>
  <div class="ui hidden divider"></div>
{{/liquid-if}}

{{#if this.model}}
  <div class="ui cards">
    {{#each this.model as |actionItem|}}
      <ListItem::ActionItem @actionItem={{actionItem}} class="ui link fluid raised card" @onToggleSubscription={{this.toggleSubscription}} />
    {{/each}}
  </div>
{{else}}
  <h4 class="text-white center aligned text header">No projects available.</h4>
{{/if}}
