<div class="ui padded raised segment animated fadeInUp">
  <h2 class="ui dividing header">Create a New Action Item</h2>

  <div class="ui form">
    {{input/ui-input type="text" inputId="action-item-title" placeholder="Title" value=model.title}}

    <div class="field">
      <label for="action-item-description">Description</label>
      {{textarea rows="5" placeholder="Description" value=model.description}}
    </div>

    <div class="ui divider"></div>

    {{#ui-calendar class="field" type="date" onChange=(action (mut model.dueOn))}}
      <label for="action-item-due-date"><i class="clock icon"></i> Assign a Due Date</label>
      <div class="ui calendar" id="action-item-due-date">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Assign a date by selecting or typing">
        </div>
      </div>
    {{/ui-calendar}}

    <div class="field">
      <label for="action-item-priority"><i class="exclamation icon"></i> Priority</label>
      <div class="range-label"><i>Low</i><i>High</i></div>
      {{ember-range-slider id="action-item-priority" keyboard=true keyboard_step=20 grid=true min=1 max=5 step=1 from=model.priority slideStop=(action 'updatePriority')}}
    </div>

    <div class="field">
      <label for="action-item-prerequisites">
        {{#ui-popup tagName='span' content='Prerequisites indicate which action items need to be completed before this action item can be completed.'}}
          Prerequisites
          <i class="right floated info icon"></i>
        {{/ui-popup}}
      </label>
      {{#if actionItems}}
        {{#ui-dropdown
          class="fluid search multiple selection"
          id="action-item-prerequisites"
          selected=model.prerequisites
          onChange=(action (mut model.prerequisites)) as |execute mapper|}}
          <i class="dropdown icon"></i>
          <div class="default text">Type or select to assign prerequisites</div>
          <div class="menu">
            {{#each actionItems as |item|}}
              <div class="item" data-value="{{map-value mapper item}}">
                {{item.title}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{else}}
        <p>No other action items are available.</p>
      {{/if}}
    </div>

    <div class="ui divider"></div>

    <h4><i class="checkmark box icon"></i>Build a todo</h4>
    <div class="ui list">
      {{#each model.checklist as |item|}}
        <div class="item">
          <a href="#" class="text-danger" {{action "removeTodo" item}}><i class="minus icon"></i></a>
          <span><i class="square outline icon"></i> {{item.title}}</span>
          <small class="right floated meta">
            {{#if item.assignedTo}}
              <strong>Assigned</strong> to {{item.assignedTo.firstName}} by {{item.assignedBy.firstName}}
            {{else}}
              No owner
            {{/if}}
          </small>
        </div>
      {{/each}}
    </div>

    <form class="ui segment" {{action "addTodo" on="submit"}}>
      <div class="field">
        <label for="new-todo-item" class="sr-only">Add a new todo item</label>
        {{input type='text' value=pendingTodo placeholder="Type to add a new todo item"}}
      </div>

      {{#ui-dropdown
        class="fluid search selection"
        id="new-todo-assigned-to"
        selected=pendingTodoAssignee
        onChange=(action (mut pendingTodoAssignee)) as |execute mapper|}}
        <i class="dropdown icon"></i>
        <div class="default text">Assign someone to this item</div>
        <div class="menu">
          <div class="item" data-value="">No Assignee</div>
          {{#each employees as |employee|}}
            <div class="item" data-value="{{map-value mapper employee}}">
              {{employee.fullName}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}

      {{#liquid-if pendingTodo class="field"}}
        <div class="ui divider"></div>
        {{#form/action-button type="submit" class="ui fluid button"}}Add{{/form/action-button}}
      {{/liquid-if}}
    </form>

    <div class="ui divider"></div>
    <form {{action "save" on="submit"}}>
      {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Save action item{{/form/action-button}}
    </form>
  </div>
</div>
