<div class="left floated detail">
  {{if this.campaign.startOn (time this.campaign.startOn) (time this.campaign.created)}}
  - {{if this.campaign.endOn (time this.campaign.endOn) "Until Filled"}}
</div>
<div class="right floated detail">
  {{#if this.campaign.completedOn}}
    Completed On {{time this.campaign.completedOn}}
  {{else if this.campaign.dueOn}}
    Due On {{time this.campaign.dueOn}}
  {{/if}}
</div>
