<td>
  {{#ui-popup content='Delete custom field' position='bottom left' tagName='span'}}
    <a href="#" class="text-danger" {{action "delete"}}>
      <i class="trash icon"></i>
    </a>
  {{/ui-popup}}
  {{key}}
</td>

<td>
  {{#if editingValue}}
    <form {{action "saveEdit" on="submit"}}>
      <div class="field">
        <div class="ui grid">
          <div class="ten wide column">
            <label for="new-custom-value" class="sr-only">New {{key}} value</label>
            {{#auto-focus}}
              {{input type='text' name='new-custom-value' class="ui transparent input" value=newValue placeholder='Field value'}}
            {{/auto-focus}}
          </div>
          <div class="six wide center middle aligned center aligned column">
            <a href="#" class="ui text-green" {{action "saveEdit"}}><i class="check icon"></i></a>
            <a href="#" class="ui text-danger" {{action "cancelEdit"}}><i class="close icon"></i></a>
          </div>
        </div>
      </div>
    </form>
  {{else}}
    {{#ui-popup content='Click to edit value' position='bottom left'}}
      <a href="#" {{action "editValue"}}>
        {{value}}
        <i class="edit icon"></i>
      </a>
    {{/ui-popup}}
  {{/if}}
</td>
