<h2 class="ui horizontal divider header">
  Custom Fields
</h2>
<div class="ui form">
  {{#liquid-if showTable}}
    <table class="ui very basic celled table">
      <thead>
        <tr>
          <th class="eight wide">Name</th>
          <th class="eight wide">Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.customFields as |key value|}}
          {{tables/custom-field key=key value=value onValueChange=(action 'editValue') onDelete=(action 'deleteCustomField')}}
        {{/each-in}}

        {{#if adding}}
          <tr>
            <td class="ui minimally padded">
              {{#auto-focus}}
                {{input type="text" value=pendingCustomFieldName placeholder="Allergies"}}
              {{/auto-focus}}
            </td>
            <td class="ui minimally padded">{{input type="text" value=pendingCustomFieldValue placeholder="Peanuts, Gluten"}}</td>
          </tr>
          <tr>
            <td class="center aligned text" colspan="2">
              <a href="#" {{action "saveCustomField"}}><i class="save icon"></i> Save/New</a>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>

  {{else}}
    <h2 class="ui center aligned header">
      No custom fields available.
    </h2>
  {{/liquid-if}}

  {{#liquid-unless adding class="ui header clearfix"}}
    <button class="ui fluid button" {{action "beginAddingCustomField"}}>
      <i class="plus icon"></i>
        Add A Custom Field
    </button>
  {{/liquid-unless}}

  <form {{action "saveAndContinue" on="submit"}}>
    {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Finish Onboarding{{/form/action-button}}
  </form>
</div>
