<h2 class="ui horizontal divider header">
  Custom Fields
</h2>
<div class="ui form">
  {{#liquid-if this.showTable}}
    <table class="ui very basic celled table">
      <thead>
        <tr>
          <th class="eight wide">Name</th>
          <th class="eight wide">Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in this.model.customFields as |key value|}}
          <Tables::CustomField @key={{key}} @value={{value}} @onValueChange={{this.editValue}} @onDelete={{this.deleteCustomField}}/>
        {{/each-in}}

        {{#if this.adding}}
          <tr>
            <td class="ui minimally padded">
              <AutoFocus>
                <Input @type="text" @value={{this.pendingCustomFieldName}} @placeholder="Allergies"/>
              </AutoFocus>
            </td>
            <td class="ui minimally padded"><Input @type="text" @value={{this.pendingCustomFieldValue}} @placeholder="Peanuts, Gluten"/></td>
          </tr>
          <tr>
            <td class="center aligned text" colspan="2">
              <a href="#" {{on "click" (prevent-default this.saveCustomField)}}><i class="save icon"></i> Save/New</a>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>

  {{else}}
    <h2 class="ui center aligned header">
      No custom fields available.
    </h2>
  {{/liquid-if}}

  {{#liquid-unless this.adding class="ui header clearfix"}}
    <button class="ui fluid button" {{on "click" this.beginAddingCustomField}} type="button">
      <i class="plus icon"></i>
        Add A Custom Field
    </button>
  {{/liquid-unless}}

  <form {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
    <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>Finish Onboarding</Form::ActionButton>
  </form>
</div>
