<h2 class="ui horizontal divider header">
  Documents
</h2>

<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <div class="ui two {{unless employee.hireDate "disabled"}} fields">
    {{#unless employee.hireDate}}
      {{ember-tooltip
        side="top"
        popperContainer="body"
        text="Use of automated I9/W4 collection requires a hire date set in the Job tab."}}
    {{/unless}}
    <div class="field">
      <label for="i9-collect">
        Automated I9 Section One Collection
        <i class="ui question circle icon">
          {{#ember-tooltip
            side="right"
            popperContainer="body"
          }}
            Automated I9 collection sends the employee a link to fill out the I9 section one on the start of their work day on {{time employee.hireDate "M/D/YY"}}. After the employee fills it out, we will notify you.
          {{/ember-tooltip}}
        </i>
      </label>
      {{ui-checkbox
        id="i9-collect"
        class="toggle"
        label=(if employee.autoI9Collection "Collect I9" "Do not collect I9")
        checked=employee.autoI9Collection
        onChange=(action (mut employee.autoI9Collection))}}
    </div>
    <div class="field">
      <label for="w4-collect">
        Automated W4 Collection
        <i class="ui question circle icon">
          {{#ember-tooltip
            side="right"
            popperContainer="body"
          }}
            Automated W4 collection sends the employee a link to fill out the most current W4 form on the start of their work day on {{time employee.hireDate "M/D/YY"}}. After the employee fills it out, we will notify you.
          {{/ember-tooltip}}
        </i>
      </label>
      {{ui-checkbox
        id="w4-collect"
        class="toggle"
        label=(if employee.autoW4Collection "Collect W4" "Do not collect W4")
        checked=employee.autoW4Collection
        onChange=(action (mut employee.autoW4Collection))}}
    </div>
  </div>

  <div class="ui divider"></div>

  {{#if suggestedDocumentsFiltered}}
    <h3 class="ui header">
      Suggested Documents
      <div class="small light text">
        Here are some documents that {{employee.firstName}} might need.
      </div>
    </h3>

    <div class="ui divided list">
      {{#each suggestedDocumentsFiltered as |docSug|}}
        {{list-item/document-suggestion
          docSug
          class="item"
          addAssignment=(action "addAssignment")}}
      {{/each}}
    </div>
  {{/if}}

  {{#if onboardingDocumentsFiltered}}
    <h3 class="ui header">
      Onboarding Documents
      <div class="small light text">
        These documents have been tagged with <i>Onboarding</i> and might be applicable.
      </div>
    </h3>

    <div class="ui divided list">
      {{#each onboardingDocumentsFiltered as |docSug|}}
        {{list-item/document-suggestion
          docSug
          class="item"
          addAssignment=(action "addAssignment")}}
      {{/each}}
    </div>
  {{/if}}

  <h3>
    Assignments
    <span class="small text">
      {{#input/document-selection-modal
        title="Add a file"
        selection=docModalSelection
        autoTag="Onboarding"
        onSelected=(action "addAssignment")
        as |execute|}}
        <a href="#" {{action execute}}>Assign another file...</a>
      {{/input/document-selection-modal}}
    </span>
  </h3>
  <div class="ui divided list">
    {{#each assignments as |assignment|}}
      {{list-item/document-assignment
        assignment
        class="item"
        onRemove=(action "removeAssignment")
        onChange=(action "saveAssignmentChanges")}}
    {{else}}
      <h3 class="center aligned light text">Nothing assigned, yet.</h3>
    {{/each}}
  </div>

  <div class="ui divider"></div>

  {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}
    Next
  {{/form/action-button}}
</form>
