<h2 class="ui horizontal divider header">
  Documents
</h2>

<form class="ui form" {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
  <div class="ui two {{unless this.employee.hireDate "disabled"}} fields">
    {{#unless this.employee.hireDate}}
      <EmberTooltip
        @side="top"
        @popperContainer="body"
        @text="Use of automated I9/W4 collection requires a hire date set in the Job tab."/>
    {{/unless}}
    <div class="field">
      <label for="i9-collect">
        Automated I9 Section One Collection
        <i class="ui question circle icon">
          <EmberTooltip
            @side="right"
            @popperContainer="body"
          >
            Automated I9 collection sends the employee a link to fill out the I9 section one on the start of their work day on {{time this.employee.hireDate "M/D/YY"}}. After the employee fills it out, we will notify you.
          </EmberTooltip>
        </i>
      </label>
      <UiCheckbox
        @id="i9-collect"
        @class="toggle"
        @label={{if this.employee.autoI9Collection "Collect I9" "Do not collect I9"}}
        @checked={{this.employee.autoI9Collection}}
        @onChange={{set this.employee.autoI9Collection _}}/>
    </div>
    <div class="field">
      <label for="w4-collect">
        Automated W4 Collection
        <i class="ui question circle icon">
          <EmberTooltip
            @side="right"
            @popperContainer="body"
          >
            Automated W4 collection sends the employee a link to fill out the most current W4 form on the start of their work day on {{time this.employee.hireDate "M/D/YY"}}. After the employee fills it out, we will notify you.
          </EmberTooltip>
        </i>
      </label>
      <UiCheckbox
        @id="w4-collect"
        @class="toggle"
        @label={{if this.employee.autoW4Collection "Collect W4" "Do not collect W4"}}
        @checked={{this.employee.autoW4Collection}}
        @onChange={{set this.employee.autoW4Collection _}}/>
    </div>
  </div>

  <div class="ui divider"></div>

  {{#if this.suggestedDocumentsFiltered}}
    <h3 class="ui header">
      Suggested Documents
      <div class="small light text">
        Here are some documents that {{this.employee.firstName}} might need.
      </div>
    </h3>

    <div class="ui divided list">
      {{#each this.suggestedDocumentsFiltered as |docSug|}}
        <ListItem::DocumentSuggestion
          @model={{docSug}}
          class="item"
          @addAssignment={{this.addAssignment}}/>
      {{/each}}
    </div>
  {{/if}}

  {{#if this.onboardingDocumentsFiltered}}
    <h3 class="ui header">
      Onboarding Documents
      <div class="small light text">
        These documents have been tagged with <i>Onboarding</i> and might be applicable.
      </div>
    </h3>

    <div class="ui divided list">
      {{#each this.onboardingDocumentsFiltered as |docSug|}}
        <ListItem::DocumentSuggestion
          @model={{docSug}}
          class="item"
          @addAssignment={{this.addAssignment}}/>
      {{/each}}
    </div>
  {{/if}}

  <h3>
    Assignments
    <span class="small text">
      <Input::DocumentSelectionModal
        @title="Add a file"
        @selection={{this.docModalSelection}}
        @autoTag="Onboarding"
        @onSelected={{this.addAssignment}}
        as |execute|>
        <a href="#" {{on "click" (prevent-default execute)}}>Assign another file...</a>
      </Input::DocumentSelectionModal>
    </span>
  </h3>
  <div class="ui divided list">
    {{#each this.assignments as |assignment|}}
      <ListItem::DocumentAssignment
        @model={{assignment}}
        class="item"
        @onRemove={{this.removeAssignment}}
        @onChange={{this.saveAssignmentChanges}}/>
    {{else}}
      <h3 class="center aligned light text">Nothing assigned, yet.</h3>
    {{/each}}
  </div>

  <div class="ui divider"></div>

  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>
    Next
  </Form::ActionButton>
</form>
