<h2 class="ui horizontal divider header">
  Assets
</h2>

<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <div class="ui basic segment">
    <div class="right aligned text">
      {{#input/equipment-picker assignableAssets=assignableAssets onSelect=(action 'selectAsset') onCreate=(action 'createAsset') newAssetCategory=(action 'newAssetCategory')}}
        <h3 class="ui header"><a href="#"><i class="plus icon"></i></a></h3>
      {{/input/equipment-picker}}
    </div>

    <div class="ui relaxed divided list">
      {{#each groupedAssignedAssets as |assetGroup|}}
        <h4 class="header">
          {{#if assetGroup.asset.icon}}
            <i class="{{assetGroup.asset.icon}} icon"></i>
          {{/if}}
          {{assetGroup.asset.name}}
        </h4>
        {{#each assetGroup.assets as |asset|}}
          <div class="item">
            {{asset.identifier}}
            <span class="right floated">
              {{#ui-popup content='Unassign asset'}}
                <a href="#" class="text-danger" {{action "unassignAsset" asset}}><i class="minus icon"></i></a>
              {{/ui-popup}}
            </span>
          </div>
        {{/each}}
      {{else}}
        <h2 class="ui center aligned header">
          No assets assigned. Click "+" to assign some! <i class="right floated clockwise rotated reply icon"></i>
        </h2>
      {{/each}}
    </div>
  </div>

  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Next{{/form/action-button}}
</form>

{{#ui-modal name="new-asset" class="new-asset" detachable=true onApprove=(action 'saveAsset') onDeny=(action 'abortAsset')}}
  <i class="cancel close icon"></i>
  <div class="header">
    Creating a new item in "{{pendingAssetItem.asset.name}}" for {{model.firstName}}
  </div>
  <div class="content">
    <form class="ui form container">
      <div class="field">
        <label for="asset-identifier">Asset Identifier</label>
        {{input type="text" value=pendingAssetItem.identifier id="asset-identifier" placeholder="Unique identifier (VIN, Stock #, RFID)"}}
      </div>

      {{#if pendingAssetItem.asset.attributes}}
        <div class="ui divider"></div>
        {{#each pendingAssetItem.asset.attributes as |attribute|}}
          {{input/custom-field object=pendingAssetItem.customFields attribute=attribute}}
        {{/each}}
      {{/if}}
    </form>
  </div>
  <div class="actions">
    <div class="ui negative deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Create &amp; Assign Asset
      <i class="check icon"></i>
    </div>
  </div>
{{/ui-modal}}
