<h2 class="ui horizontal divider header">
  Assets
</h2>

<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <div class="ui basic segment">
    <div class="right aligned text">
      <Input::EquipmentPicker
        @assignableAssets={{this.splitAssets.remainingAssets}}
        @suggestedAssets={{this.splitAssets.suggestedAssets}}
        @onSelect={{this.selectAsset}}
        @onCreate={{this.createAsset}}
        @newAssetCategory={{this.newAssetCategory}}>
        <h3 class="ui header"><a href="#"><i class="plus icon"></i></a></h3>
      </Input::EquipmentPicker>
    </div>

    <div class="ui relaxed divided list">
      {{#each this.groupedAssignedAssets as |assetGroup|}}
        <h4 class="header">
          {{#if assetGroup.asset.icon}}
            <i class="{{assetGroup.asset.icon}} icon"></i>
          {{/if}}
          {{assetGroup.asset.name}}
        </h4>
        {{#each assetGroup.assets as |asset|}}
          <div class="item">
            {{asset.identifier}}
            <span class="right floated">
              <a href="#" class="text-danger" {{on "click" (prevent-default (fn this.unassignAsset asset))}}>
                <EmberTooltip
                  @side="top"
                  @popperContainer="body"
                  @text="Unassign asset"/>
                <i class="minus icon"></i>
              </a>
            </span>
          </div>
        {{/each}}
      {{else}}
        <h2 class="ui center aligned header">
          No assets assigned. Click "+" to assign some! <i class="right floated clockwise rotated reply icon"></i>
        </h2>
      {{/each}}
    </div>
  </div>

  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>Next</Form::ActionButton>
</form>

<div id="modal__new-asset--placeholder">
  <UiModal @id="modal__new-asset" @name="new-asset" @class="new-asset" @detachable={{true}}>
    <i class="cancel close icon"></i>
    <div class="header">
      Creating a new item in "{{this.pendingAssetItem.asset.name}}" for {{this.model.firstName}}
    </div>
    <div class="content">
      <form class="ui form container">
        <div class="field">
          <label for="asset-identifier">Asset Identifier</label>
          <Input @type="text" @value={{this.pendingAssetItem.identifier}} @id="asset-identifier" @placeholder="Unique identifier (VIN, Stock #, RFID)"/>
        </div>

        <div class="field">
          <label for="asset-description">Documents</label>
          <p class="light text">
            Document upload is only available in category view.
            <a href="#" {{on "click" (prevent-default (fn this.closeAssetModalAndTransition "account.asset.index.new" this.pendingAssetItem.asset.id))}}>
              Go to asset category
            </a>
          </p>
        </div>
        {{#if this.pendingAssetItem.asset.attributes}}
          <div class="ui divider"></div>
          {{#each this.pendingAssetItem.asset.attributes as |attribute|}}
            <Input::CustomField @object={{this.pendingAssetItem.customFields}} @attribute={{attribute}}/>
          {{/each}}
        {{/if}}
      </form>
    </div>
    <div class="actions">
      <button class="ui red button" {{on "click" this.abortAsset}}>
        Cancel
      </button>
      <button class="ui green right labeled icon button" {{on "click" this.saveAsset}}>
        Create &amp; Assign Asset
        <i class="check icon"></i>
      </button>
    </div>
  </UiModal>
</div>
