<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <h4 class="ui dividing header">Add Employee Information</h4>
  <div class="field">
    <label for="address-line-1">Address Line 1</label>
    {{validated-input type="text" model=model valuePath="addressLine1" placeholder="Address Line 1" id="address-line-1"}}
  </div>
  <div class="field">
    <label for="address-line-2">Address Line 2</label>
    {{input type="text" value=model.addressLine2 placeholder="Address Line 2" id="address-line-2"}}
  </div>
  <div class="three fields">
    <div class="field">
      <label for="address-city">City</label>
      {{input type="text" value=model.addressCity placeholder="City" id="address-city"}}
    </div>

    <div class="field">
      <label for="state-name">State</label>
      {{#ui-dropdown class="search selection" selected=model.addressState onChange=(action (mut model.addressState))}}
        {{#if stateIsMontana}}<i class="text-danger heart icon"></i>{{/if}}
        <div class="default text">State</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each states as |state|}}
            <div class="item" data-value="{{state.value}}">
              {{state.label}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>

    <div class="field">
      <label for="address-zip">Zip</label>
      {{input type="text" value=model.addressZip placeholder="Zip" id="address-zip"}}
    </div>
  </div>

  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Next{{/form/action-button}}
</form>
