<form class="ui form" {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
  <h2 class="ui horizontal divider header">Employee Information</h2>
  <div class="field">
    <AutoFocus>
      <UiCalendar
        @class="field"
        @type="date"
        @startMode="year"
        @label="Birth Date"
        @dateValue={{this.model.dateOfBirth}}
        @onChange={{set this.model.dateOfBirth _}}/>
    </AutoFocus>
  </div>
  <div class="field">
    <label for="private-email">Personal Email</label>
    <ValidatedInput
      @type="text"
      @model={{this.model}}
      @valuePath="privateEmail"
      class="test"
      @placeholder="Personal Email"
      id="private-email"/>
  </div>
  <h3 class="ui horizontal header divider section">
    <i class="grey marker icon"></i>
    Mailing Address
  </h3>
  <div class="field">
    <label for="address-line-1">Address Line 1</label>
    <ValidatedInput
      @type="text"
      @model={{this.model}}
      @valuePath="addressLine1"
      @placeholder="Address Line 1"
      id="address-line-1"/>
  </div>
  <div class="field">
    <label for="address-line-2">Address Line 2</label>
    <Input
      @type="text"
      @value={{this.model.addressLine2}}
      @placeholder="Address Line 2"
      @id="address-line-2"/>
  </div>
  <div class="three fields">
    <div class="field">
      <label for="address-city">City</label>
      <Input
        @type="text"
        @value={{this.model.addressCity}}
        @placeholder="City"
        @id="address-city"/>
    </div>
    <div class="field">
      <label for="state-name">State</label>
      <UiDropdown
        @class="search selection"
        @selected={{this.model.addressState}}
        @onChange={{set this.model.addressState _}}>
        {{#if this.stateIsMontana}}<i class="text-danger heart icon"></i>{{/if}}
        <div class="default text">State</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.states as |state|}}
            <div class="item" data-value={{state.value}}>
              {{state.label}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
    <div class="field">
      <label for="address-zip">Zip</label>
      <Input
        @type="text"
        @value={{this.model.addressZip}}
        @placeholder="Zip"
        @id="address-zip"/>
    </div>
  </div>
  <h3 class="ui horizontal header divider section">
    <i class="red first aid icon"></i>
    Emergency Contact
  </h3>
  <div class="three fields">
    <div class="field">
      <label for="emergency-contact-first" class="">Contact First Name</label>
      <Input
        @type="text"
        @value={{this.model.emergencyContactNameFirst}}
        @placeholder="First Name"
        @id="emergency-contact-first"/>
    </div>
    <div class="field">
      <label for="emergency-contact-last" class="">Contact Last Name</label>
      <Input
        @type="text"
        @value={{this.model.emergencyContactNameLast}}
        @placeholder="Last Name"
        @id="emergency-contact-last"/>
    </div>
    <div class="field">
      <label for="emergency-contact-phone" class="">Contact Phone</label>
      <MaskedInput
        @type="tel"
        @value={{this.model.emergencyContactPhone}}
        @placeholder="Emergency Phone #"
        @id="emergency-contact-phone"
        @mask="(111) 111-1111"/>
    </div>
  </div>

  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>Next</Form::ActionButton>
</form>
