<form class="ui form" {{action "save" on="submit"}}>
  <h4 class="ui dividing header">Add Position Information</h4>
  <div class="field">
    <label for="job-title">Job Title</label>
    {{validated-input type="text" model=model valuePath="jobTitle" placeholder="Job Title" id="job-title"}}
  </div>

  <div class="three fields">
    <div class="field">
      Non-exempt
      {{ui-checkbox class="toggle" label="Exempt" checked=pre_checked onChange=(action (mut pre_checked))}}
    </div>
    <div class="two fields">
      <label for="pay-rate">Pay Rate</label>
      <input type="number" id="pay-rate">
        <div class="four wide field">
          {{#ui-dropdown}}
            <div class="default text">Unit</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="hour">
                hour
              </div>
              <div class="item" data-value="year">
                year
              </div>
            </div>
          {{/ui-dropdown}}
        </div>
    </div>
  </div>

  <div class="field">
    <label for="job-location">Location</label>
    {{#ui-dropdown class="selection" selected=model.location onChange=(action (mut model.location))}}
      <div class="default text">Location</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each locations as |location|}}
          <div class="item" data-value="{{location}}">
            {{location}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="field">
    <label for="job-department">Department</label>
    {{#ui-dropdown class="selection" selected=model.department onChange=(action (mut model.department))}}
      <div class="default text">Department</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each departments as |department|}}
          <div class="item" data-value="{{department}}">
            {{department}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="field">
    <label for="supervisor">Supervisor</label>
    {{#ui-dropdown class="selection" selected=model.supervisor onChange=(action (mut model.supervisor))}}
      <div class="default text">Supervisor</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each supervisors as |supervisor|}}
          <div class="item" data-value="{{supervisor}}">
            {{supervisor}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="field">
    <label for="supervisor">Supervises</label>
    {{#ui-dropdown class="selection" selected=model.supervises onChange=(action (mut model.supervisor))}}
      <div class="default text">Supervises</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each supervises as |supervisee|}}
          <div class="item" data-value="{{supervisee}}">
            {{supervisee}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>


  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui massive fluid green button" loading=working}}Continue{{/form/action-button}}
</form>
