<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Position Information</h2>
  <div class="ui equal width basic form segment">
    <div class="two fields">
      <div class="field">
        <label for="job-title">Job Title</label>
        {{validated-input type="text" model=model valuePath="jobTitle" placeholder="Job Title" id="job-title"}}
      </div>
      {{#ui-calendar class="field" type="date" startMode="year" onChange=(action (mut model.hireDate))}}
        <label for="ui-calendar-date-only">Hire Date</label>
        <div class="ui calendar" id="ui-calendar-date-only">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" value={{model.hireDate}} placeholder="Input Date With Mouse or Keyboard">
          </div>
        </div>
      {{/ui-calendar}}
    </div>
  </div>
  <div class="ui equal width basic form segment">
    <div class="three fields">
      <div class="field">
        <label for="exemption-status">Exemption Status</label>
        Non-exempt
        {{ui-checkbox class="toggle" label="Exempt" checked=model.exempt onChange=(action (mut model.exempt))}}
      </div>
      <div class="field">
        <label for="pay-rate">Pay Rate</label>
        <div class="ui left icon input pay-rate-number">
          {{input type="number" id="pay-rate" value=model.payRate}}
          <i class="dollar icon"></i>
          {{#ui-dropdown class="inline pay-rate-unit" selected=model.payRateType onChange=(action (mut model.payRateType))}}
            <div class="default text">Unit</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="yearly">
                yearly
              </div>
              <div class="item" data-value="monthly">
                monthly
              </div>
              <div class="item" data-value="hourly">
                hourly
              </div>
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
      <div class="field">
        <label for="workers-comp">Workers Comp Class Code</label>
        {{input type="text" id="workers-comp" value=model.workersCompClassCode}}
      </div>
    </div>
  </div>
  <div class="{{if auth.user.company.collectEEO 'ui two fields'}}">
    <div class="field">
      <label for="job-description">Job Description</label>
      {{#ui-dropdown class="selection" selected=model.jobDescription onChange=(action (mut model.jobDescription)) as |execute mapper|}}
        <div class="default text">Job Description</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="">No Job Description</div>
          {{#each jobDescriptions as |jobDescription|}}
            <div class="item" data-value={{map-value mapper jobDescription}}>
              {{jobDescription.title}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    {{#if auth.user.company.collectEEO}}
      <div class="field">
        <label for="eeo-job-category">EEO Job Category</label>
        {{#ui-dropdown
          class="selection"
          selected=model.eeoJobCategory
          onChange=(action (mut model.eeoJobCategory))
          as |execute mapper|
        }}
          <div class="default text">-- Select EEO Job Category --</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each eeoJobCategories as |category|}}
              <div class="item" data-value="{{category}}">
                {{category}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    {{/if}}
  </div>
  <div class="field">
    <label for="job-location">Location</label>
    {{#ui-dropdown class="selection" selected=model.location onChange=(action (mut model.location)) as |execute mapper|}}
      <div class="default text">Location</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="">No Location</div>
        {{#each locations as |location|}}
          <div class="item" data-value={{map-value mapper location}}>
            {{location.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="field">
    <label for="job-department">Department</label>
    {{#ui-dropdown class="selection" selected=model.department onChange=(action (mut model.department)) as |execute mapper|}}
      <div class="default text">Department</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="">No Department</div>
        {{#each departments as |department|}}
          <div class="item" data-value={{map-value mapper department}}>
            {{department.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="field">
    <label for="supervisor">Supervisor</label>
    {{#ui-dropdown class="selection" selected=model.supervisor onChange=(action (mut model.supervisor)) as |execute mapper|}}
      <div class="default text">Supervisor</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="">No Supervisor</div>
        {{#each employees as |supervisor|}}
          <div class="item" data-value={{map-value mapper supervisor}}>
            {{supervisor.fullName}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>

  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Next{{/form/action-button}}
</form>
