<hgroup class="clearfix">
  <h1 class="ui header left floated">
    Departments
  </h1>

  <div class="right aligned text floated menu__actions">
    <h3 class="ui header">
      {{#liquid-if this.addingDepartment}}
        <LinkTo @route="account.anatomy.departments.index" class="right floated text-danger"><i class="remove icon"></i></LinkTo>
      {{else}}
        <LinkTo @route="account.anatomy.departments.index.new" class="right floated">
          <EmberTooltip @side="left" @popperContainer="body" @text="Add a department" />
          <i class="plus icon"></i>
        </LinkTo>
      {{/liquid-if}}
    </h3>
  </div>
</hgroup>

<div class="ui divider"></div>

{{liquid-outlet class="add-department"}}

<div class="ui divided items">
  {{#each this.model as |department|}}
    <ListItem::DepartmentItem @department={{department}} @onDelete={{this.data.deleteRecord}} />
  {{else}}
    <h2 class="ui center aligned header">No departments available.</h2>
  {{/each}}
</div>

<Elements::XPagination @page={{this.page}} @model={{this.model}} @limit={{this.limit}} @onChange={{set this.page _}} />
