<h2 class="ui header">Editing {{this.model.name}}</h2>
<form class="ui form container" {{on "submit" (prevent-default (fn this.data.saveRecord this.model "working" this.saveOptions))}}>
  <div class="field">
    <label for="department-name">Name</label>
    <Input @type="text" @value={{this.model.name}} @id="department-name" placeholder="Department Name" />
  </div>
  <div class="field">
    <label for="department-code">Code</label>
    <Input @type="text" @value={{this.model.code}} @id="department-code" placeholder="Department Code" />
  </div>
  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.working.isLoading}} @disabled={{not this.model.hasDirtyAttributes}}>Save Department</Form::ActionButton>
  <a href="#" {{on "click" (prevent-default this.cancel)}}>
    <div class="ui large fluid danger button">Cancel</div>
  </a>
</form>
