<h4>New Template for {{this.definition.title}}</h4>
<div class="ui divider"></div>

<form class="ui form" {{action "save" on="submit"}}>
  {{#if this.definition.isRenderable}}
    <p>
      Templates support the "Mustache" language. See <a href="http://mustache.github.io/mustache.5.html" rel="noopener" target="_blank">the mustache manual</a> for more information.
    </p>
  {{/if}}
  {{#each this.definition.contentKeys as |contentKey|}}
    <div class="ui field">
      <label>
        {{contentKey.title}}
        <EmberTooltip @side="top" @popperContainer="body" @text={{contentKey.description}} />
        <i class="info circle icon"></i>
      </label>
      <Textarea @value={{mut (get this.model.content contentKey.key)}} @rows="4" @spellcheck="true" />
    </div>
  {{/each}}

  <div class="ui divider"></div>
  <Form::ActionButton @type="submit" @loading={{this.working}} @class="ui large green fluid button">
    Save Template
  </Form::ActionButton>

  <h5>Available form data</h5>
  {{#each this.definition.availableData as |data|}}
    <div class="ui light text">
      <div><strong>{{data.title}}</strong></div>
      <div>{{data.description}}</div>
      <div>Usage: &#123;&#123;{{data.key}}&#125;&#125;</div>
    </div>
  {{/each}}
</form>
