<p>
  Templates allow you to customize the behavior and content of Granite.
  {{#unless this.model}}
    <LinkTo @route="account.settings.templates.add">Add a new template to get started.</LinkTo>
  {{/unless}}
</p>

<div class="ui divider"></div>

{{#each-in
  (group-by "category" this.model.definitionsGrouped)
  as |category groups|
}}
  <h2>{{category}}</h2>
  {{#each groups as |group|}}
    <h3>
      {{group.definition.title}}
      <div class="ui small text right floated">
        {{#if group.template}}
          <LinkTo @route="account.settings.templates.edit" @model={{group.template.id}}>
            <EmberTooltip @side="left" @popperContainer="body" @text="Edit current template..." />
            <i class="edit icon"></i>Edit
          </LinkTo>
        {{else}}
          <LinkTo @route="account.settings.templates.add" @model={{group.definition.key}}>
            <i class="asterisk icon"></i>New Customized Template
          </LinkTo>
        {{/if}}
      </div>
    </h3>
    <p>{{group.definition.description}}</p>
  {{/each}}
{{/each-in}}
