{{!-- {{intro-js steps=intros start-if=true}} --}}
<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Company Assets
    </h1>

    <h3><LinkTo @route="account.assets.new" class="right floated"><i class="plus icon"></i></LinkTo></h3>
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided link items">
    {{#each this.model as |asset|}}
      <LinkTo @route="account.asset" @model={{asset}} class="item">
        <ListItem::AssetItem @asset={{asset}} />
      </LinkTo>
    {{else}}
      <h2 class="ui center aligned header">No assets available.</h2>
    {{/each}}
  </div>

  <Elements::XPagination @page={{this.page}} @model={{this.model}} @limit={{this.limit}} @onChange={{set this.page _}} />
</div>
