<div class="ui raised very padded container segment">
  <form class="ui form" {{on "submit" (prevent-default (fn this.data.saveRecord this.model "working" this.saveOptions))}}>
    <h1 class="ui dividing header">Add a New Asset Category</h1>
    <div class="field">
      <label for="asset-name">Asset Name</label>
      <div class="ui left select-addon input pay-rate-number">
        <UiDropdown @class="inline scrolling" @selected={{this.model.icon}} @onChange={{set this.model.icon _}}>
          <div class="default text">Icon</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.icons as |icon|}}
              <div class="item" data-value={{icon}}>
                <i class="{{icon}} icon"></i>
              </div>
            {{/each}}
          </div>
        </UiDropdown>

        <Input @type="text" @value={{this.model.name}} @id="asset-name" placeholder="Keycards" />
      </div>
    </div>
    <div class="field">
      <label for="asset-description">Description</label>
      <Input @type="text" @value={{this.model.description}} @id="asset-description" placeholder="All the keycards for our employees" />
    </div>
    <div class="field">
      <label for="asset-description">Documents</label>
      <Input::DocumentSelectionModal @title="Assign asset documents" @selected={{this.model.documents}} @autoTag="Asset" @onSelected={{set this.model.documents _}} as |execute|>
        <button class="ui basic button" {{on "click" (prevent-default (fn execute "selectDocuments"))}} type="button">
          <i class="folder icon"></i>
          Add asset documents
          {{#if this.model.documents.length}}
            <span class="ui label">{{this.model.documents.length}} Assigned</span>
          {{/if}}
        </button>
      </Input::DocumentSelectionModal>
    </div>
    <div class="field center aligned text">
      <UiCheckbox @class="toggle" @label={{this.sharableLabel}} @checked={{this.model.sharable}} @onChange={{set this.model.sharable _}} />
    </div>
    <div class="ui divider"></div>

    <button class="ui huge fluid positive huge button" type="submit">Save</button>
  </form>
</div>
