{{intro-js steps=intros start-if=model.data}}
{{#link-to 'account.employees.add.census.index' class="text-danger"}}
  <i class="fa fa-fw fa-refresh"></i>
  Reupload census
{{/link-to}}

{{#if dryrun}}
  <i class="pull-right text-green spinner loading icon"></i>
{{else}}
  <a href="#" class="pull-right text-green btn__dry-run" {{action "doDryRun"}}>
    {{if dryrunResult 'Regenerate' 'Generate'}} dry run data
  </a>
{{/if}}

{{#if dryrunResult}}
  <p class="text-center text-white">
    The following would be created as a result of this import:
    <a href="#" class="text-muted pull-right" {{action "dumpDryRun"}}>
      <i class="times circle icon text-white"></i>
    </a>
  </p>

  {{#each dryrunResult as |dryRunRecord index|}}
    {{list-item/dry-run-employee dryRunRecord=dryRunRecord index=index}}
  {{/each}}
{{/if}}

<div class="ui divider"></div>

<form {{action "importRecords" on="submit"}}>
  <div class="ui raised very padded fluid container">
    <div class="responsive-table census__table">
      <table class="ui striped celled table">
        <div class='arrow-overflow'>
          <a href="#"> <i class="huge angle right icon" {{action 'quickScroll'}}></i> </a>
        </div>
        <thead>
          <tr class="guess-fields-row overflow">
            <th>
              <div class="ui red ribbon label">
                {{#ui-popup content='We have attempted to guess the columns that you uploaded. This row represents our guesses.'}}
                  Guessed Fields
                {{/ui-popup}}
              </div>
            </th>
            {{#each model.data.[0] as |guesses index|}}
              <th>
                <div class="field">
                  {{#ui-dropdown
                    class="scrolling census__field-selection"
                    direction="downward"
                    name="guess-column"
                    selected=guesses
                    onChange=(action 'mutateGuess' index)}}
                    <div class="default text">Select field for column</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      {{#each availableFields as |availableField|}}
                        <div class="item" data-value="{{availableField.path}}">
                          {{availableField.label}}
                        </div>
                      {{/each}}
                      <div class="item text-danger" data-value=null>
                        Disregard
                      </div>
                    </div>
                  {{/ui-dropdown}}
                </div>
              </th>
            {{/each}}
          </tr>
          <tr class="client-fields-row">
            <th>
              <div class="ui blue ribbon label">
                {{#ui-popup content='We show the column labels you originally uploaded here for reference.'}}
                  Your Columns
                {{/ui-popup}}
              </div>
            </th>
            {{#each model.data.[1] as |clientDataNames|}}
              <th>{{clientDataNames}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody class="monospaced data-rows">
          {{#each rows as |row rowIndex|}}
            <tr>
              <td class="overflow">
                {{add-one rowIndex}}
              </td>
              {{#each row as |column|}}
                <td>
                  {{column}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="ui divider"></div>

    {{#form/action-button type="submit" class="ui fluid positive big button import-button" loading=working}}
      <i class="check icon"></i> Import {{rows.length}} records
    {{/form/action-button}}
  </div>
</form>
