<StatefulIntroJs @user={{this.auth.user}} @steps={{this.intros}} @start-if={{this.model.data}} @hintKey="employees-census" />

<LinkTo @route="account.employees.add.census.index" class="item text-danger">
  <i class="fa fa-fw fa-refresh"></i>
  Reupload census
</LinkTo>

{{#if this.doingDryRun}}
  <i class="pull-right text-green spinner loading icon"></i>
{{else}}
  <a href="#" class="pull-right text-green btn__dry-run" {{on "click" (prevent-default (fn this.doDryRun true))}}>
    {{if this.displayDryRunResults "Regenerate" "Generate"}} dry run data
  </a>
{{/if}}

{{#if this.displayDryRunResults}}
  <p class="text-center text-white">
    The following would be created as a result of this import:
    <a href="#" class="text-muted pull-right" {{on "click" (prevent-default this.dumpDryRun)}}>
      <i class="times circle icon text-white"></i>
    </a>
  </p>

  {{#each this.potentialData as |potentialDataRecord index|}}
    <ListItem::DryRunEmployee @dryRunRecord={{potentialDataRecord}} @index={{index}} @availableFields={{this.availableFields}} />
  {{/each}}
{{/if}}

<div class="ui divider"></div>

<form {{on "submit" (prevent-default this.importRecords)}}>
  <div class="ui raised very padded fluid container">
    <Display::VisualOverflowTable @class="responsive-table census__table">
      <table class="ui striped celled table">
        <thead>
          <tr class="guess-fields-row overflow">
            <th>
              <div class="ui red ribbon label">
                <EmberTooltip @side="right" @popperContainer="body" @text="We have attempted to guess the columns that you uploaded. This row represents our guesses." />
                Guessed Fields
              </div>
            </th>
            {{#each (object-at 0 this.model.data) as |guesses index|}}
              <th>
                <div class="field">
                  <UiDropdown @class="scrolling census__field-selection" @name="guess-column" @selected={{guesses}} @context="table" @onChange={{pipe-action (fn this.mutateGuess index) this.doDryRun}}>
                    <div class="default text">Select field for column</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      {{#each this.availableFields as |availableField|}}
                        <div class="item" data-value={{availableField.path}}>
                          {{availableField.label}}
                        </div>
                      {{/each}}
                      <div class="item text-danger" data-value={{null}}>
                        Disregard
                      </div>
                    </div>
                  </UiDropdown>
                </div>
              </th>
            {{/each}}
          </tr>
          <tr class="client-fields-row">
            <th>
              <div class="ui blue ribbon label">
                <EmberTooltip @side="right" @popperContainer="body" @text="We show the column labels you originally uploaded here for reference." />
                Your Columns
              </div>
            </th>
            {{#each (object-at 1 this.model.data) as |clientDataNames|}}
              <th>{{clientDataNames}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody class="monospaced data-rows">
          {{#each this.rows as |row rowIndex|}}
            <Census::TableRow @validation={{object-at rowIndex this.dataValidation}}>
              <td>
                {{add-one rowIndex}}
              </td>
              {{#each row as |column columnIndex|}}
                <Census::TableCell
                  @column={{column}}
                  @rowIndex={{rowIndex}}
                  @columnIndex={{columnIndex}}
                  @potentialData={{this.potentialData}}
                  @availableFields={{this.availableFields}}
                  @guesses={{this.guesses}}
                  @validation={{object-at columnIndex (object-at rowIndex this.dataValidation)}}
                  @addDepartment={{this.showDepartmentModal}}
                  @addLocation={{this.showLocationModal}}
                  @onRefresh={{this.onRefresh}}
                  @onNotify={{this.onNotify}}
                />
              {{/each}}
            </Census::TableRow>
          {{/each}}
        </tbody>
      </table>
    </Display::VisualOverflowTable>

    <div class="ui divider"></div>

    <Form::ActionButton type="submit" class="ui fluid positive big button import-button" @loading={{this.data.statuses.working.isLoading}}>
      <i class="check icon"></i> Import {{this.rows.length}} records
    </Form::ActionButton>
  </div>
</form>

<UiModal @id="modal__add-location" @class="small form">
  <div class="header">
    Add Location
  </div>
  <div class="content">
    <div class="field">
      <label for="location-name">Name</label>
      <Input @type="text" @value={{this.newLocation.name}} @id="location-name" placeholder="Location Name" />
    </div>
    <div class="field">
      <label for="location-code">Code</label>
      <Input @type="text" @value={{this.newLocation.code}} @id="location-code" placeholder="Location Code" />
    </div>
    <div class="field">
      <label for="location-phone">Telephone Number</label>
      <Input @type="tel" @value={{this.newLocation.phone}} @id="location-phone" placeholder="Location Telephone Number" />
    </div>
    <div class="field">
      <label for="address-line-1">Address Line 1</label>
      <ValidatedInput @type="text" @model={{this.newLocation}} @valuePath="addressLine1" @placeholder="Address Line 1" @id="address-line-1" />
    </div>
    <div class="field">
      <label for="address-line-2">Address Line 2</label>
      <Input @type="text" @value={{this.newLocation.addressLine2}} placeholder="Address Line 2" @id="address-line-2" />
    </div>
    <div class="three fields">
      <div class="field">
        <label for="address-city">City</label>
        <Input @type="text" @value={{this.newLocation.addressCity}} placeholder="City" @id="address-city" />
      </div>
      <div class="field">
        <label for="state-name">State</label>
        <UiDropdown @class="search selection" @selected={{this.newLocation.addressState}} @onChange={{set this.newLocation.addressState _}}>
          {{#if this.stateIsMontana}}<i class="text-danger heart icon"></i>{{/if}}
          <div class="default text">State</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.states as |state|}}
              <div class="item" data-value={{state.value}}>
                {{state.label}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
      <div class="field">
        <label for="address-zip">Zip</label>
        <Input @type="text" @value={{this.newLocation.addressZipcode}} placeholder="Zip" @id="address-zip" />
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" {{on "click" (fn this.respondLocationModal false)}} type="button">
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{on "click" (fn this.respondLocationModal true)}} type="button">
      Create Location<i class="check icon"></i>
    </button>
  </div>
</UiModal>

<UiModal @id="modal__add-department" @class="small form">
  <div class="header">
    Add Department
  </div>
  <div class="content">
    <div class="field">
      <label for="department-name">Name</label>
      <Input @type="text" @value={{this.newDepartment.name}} @id="department-name" placeholder="Department Name" />
    </div>
    <div class="field">
      <label for="department-code">Code</label>
      <Input @type="text" @value={{this.newDepartment.code}} @id="department-code" placeholder="Department Code" />
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" {{on "click" (fn this.respondDepartmentModal false)}} type="button">
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{on "click" (fn this.respondDepartmentModal true)}} type="button">
      Create Department<i class="check icon"></i>
    </button>
  </div>
</UiModal>
