{{#each model as |item|}}
  {{#if linkTo}}
    {{#link-to linkTo item.id class=linkClass}}
      {{component itemComponent item class=componentClass}}
    {{/link-to}}
  {{else}}
    {{component itemComponent item class=componentClass}}
  {{/if}}
{{else}}
  <h2 class="ui center aligned header">No {{resourceName}} available.</h2>
{{/each}}
