{{#each model as |item|}}
  {{#if hasBlock}}
    {{yield (hash
      listItem=(component itemComponent item class=componentClass)
      item=item
    )}}
  {{else}}
    {{#if linkTo}}
      {{#link-to linkTo (get item modelIdentifier) class=linkClass}}
        {{component itemComponent item class=componentClass}}
      {{/link-to}}
    {{else}}
        {{component itemComponent item class=componentClass}}
    {{/if}}
  {{/if}}
{{else}}
  <h2 class="ui center aligned header">No {{resourceName}} available.</h2>
{{/each}}
