{{#each this.model as |item|}}
  {{#if hasBlock}}
    {{yield (hash
      listItem=(component this.itemComponent item class=this.componentClass)
      item=item
    )}}
  {{else}}
    {{#if this.linkTo}}
      <LinkTo @route={{this.linkTo}} @model={{get item this.modelIdentifier}} class={{this.linkClass}}>
        {{component this.itemComponent item class=this.componentClass}}
      </LinkTo>
    {{else}}
      {{component this.itemComponent item class=this.componentClass}}
    {{/if}}
  {{/if}}
{{else}}
  <h2 class="ui center aligned header">No {{this.resourceName}} available.</h2>
{{/each}}
