<div class="ui container basic segment">
  {{#ui-menu menuClass="pointing"}}
    {{#link-to "account.employee.index.index" class="item"}}
      <i class="list icon"></i>Summary
    {{/link-to}}
    {{#link-to "account.employee.index.equipment" class="item"}}
      <i class="mobile icon"></i>Equipment
    {{/link-to}}
    {{#link-to "account.employee.index.documents" class="item"}}
      <i class="file icon"></i>Documents
    {{/link-to}}
    {{#link-to "account.employee.index.history" class="item"}}
      <i class="history icon"></i>Changes
    {{/link-to}}
    {{#link-to "account.employee.index.counseling" class="item"}}
      <i class="folder open icon"></i>Counseling
    {{/link-to}}
    <div class="right menu">
      {{#if visualIdRequired}}
        {{#link-to "account.employee.index.visual-id" model.id class="item text-red"}}<i class="exclamation icon"></i>Requires Visual ID{{/link-to}}
      {{/if}}
      {{#if model.onboarding}}
        {{#link-to "account.employee.onboard" model.id class="item text-blue"}}<i class="wizard icon"></i>Continue Onboarding{{/link-to}}
      {{/if}}
      {{#if model.offboarding}}
        {{#link-to "account.employee.offboard" class="item text-red"}}<i class="wizard icon"></i>Continue Offboarding{{/link-to}}
      {{/if}}

      {{#ui-dropdown class="item icon top right pointing"}}

        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          {{#link-to "account.employee.index.edit" class="item"}}<i class="edit icon"></i>Edit{{/link-to}}
          {{#unless model.onboarding}}
            {{#link-to "account.employee.offboard.index" class="item"}}<i class="cut icon"></i>Offboard Employee...{{/link-to}}
          {{/unless}}
          {{#if (not model.activatedOn)}}
            <div class="item">
              {{#confirm-modal as |confirmActivation|}}
                <a href="#" {{action (pipe confirmActivation (action "resend"))}}>
                  <i class="envelope icon"></i>Resend Activation Email...
                  {{#if working}}
                    <div class="ui active dimmer">
                      <div class="ui text loader">Loading</div>
                    </div>
                  {{/if}}
                </a>
              {{/confirm-modal}}
            </div>
          {{/if}}
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            {{#confirm-modal as deleteContext=model.fullName as |confirm|}}
              <a href="#" class="text-danger" {{action (pipe confirm (action "delete"))}}><i class="trash icon"></i>Delete Record</a>
            {{/confirm-modal}}
          </div>
        </div>
      {{/ui-dropdown}}
    </div>
  {{/ui-menu}}

  <div class="ui basic container segment text-white employee-index-container {{unless onSummary "employee__index-container--minimal"}}">
    <div class="ui equal width stackable grid container">
      <div class="twelve wide column">
        <h1 class="ui left floated center aligned header employee-header-group">
          {{#ui-dimmer class="ui circular image" onElement=".ui.segment" variation="inverted" duration=(hash show=1500) on="hover"}}
            {{#link-to "account.employee.index.edit-picture" class="ui circular segment dimmer hover-circular"}}
              <div class="content">
                <div class="center text-white">
                  <div>Edit Picture</div>
                </div>
              </div>
            {{/link-to}}
            <div class="ui small circular image employee-image">
              {{display/employee-picture url=model.picture employeeId=model.id}}
            </div>
          {{/ui-dimmer}}
          <div class="inverted content text-white employee-basic-meta">
            {{model.fullName}}
            <div class="sub header text-white">
              {{model.jobTitle}} <br />
              {{#if model.hireDate}}
                Since {{time model.hireDate "MMMM YYYY"}}
              {{/if}}
            </div>
          </div>
        </h1>
      </div>
      <div class="right aligned four wide column vertically-aligned contact-column">
        <div class="ui center aligned basic container text-white contact-container">
          {{#if model.phone}}
            <div class="phone-contact-icon">
              <a href="tel:{{model.phone}}"><i class="big circular inverted green phone icon phone-contact-icon-hover"></i></a>
            </div>
          {{/if}}
          {{#if model.email}}
            <div class="item email-contact-icon">
              <a href="mailto:{{model.email}}"><i class="big circular inverted grey mail icon email-contact-icon-hover"></i></a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui section divider"></div>
  {{outlet}}
</div>
