<div class="ui container basic segment">
  {{#ui-menu menuClass="pointing"}}
    {{#link-to 'account.employee.index.index' class="item"}}
      <i class="list icon"></i>Summary
    {{/link-to}}
    {{#link-to 'account.employee.index.equipment' class="item"}}
      <i class="mobile icon"></i>Equipment
    {{/link-to}}
    {{#link-to 'account.employee.index.job' class="item"}}
      <i class="travel icon"></i>Job
    {{/link-to}}
    {{#link-to 'account.employee.index.history' class="item"}}
      <i class="history icon"></i>History
    {{/link-to}}
    <div class="right menu">
      {{#if model.onboarding}}
        {{#link-to 'account.employee.onboard' model.id class="item text-blue"}}<i class="wizard icon"></i>Continue Onboarding{{/link-to}}
      {{/if}}

      {{#ui-dropdown class="item icon top right pointing"}}
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          {{#link-to 'account.employee.index.edit' class='item'}}<i class="edit icon"></i>Edit{{/link-to}}
          <div class="item"><i class="settings icon"></i>Settings</div>
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            {{#confirm-modal as |confirm|}}
              <a href="#" class="text-danger" {{action (pipe confirm (action 'delete'))}}><i class="trash icon"></i>Delete Record</a>
            {{/confirm-modal}}
          </div>
        </div>
      {{/ui-dropdown}}
    </div>
  {{/ui-menu}}

  <div class="ui basic blue container segment text-white employee-index-container">
    <div class="ui equal width stackable grid container">
      <div class="left floated twelve wide column">
          <h1 class="ui left floated center aligned header employee-header-group">
            {{#ui-dimmer class="ui small circular image employee-image" onElement=".ui.segment" variation="inverted" duration=(hash show=1500) on="hover" as |execute|}}
            <div class="ui basic segment hover-circular">
            <div class="ui circular segment dimmer">
              {{#link-to 'account.employee.index.edit-picture'}}
                <div class="content">
                  <div class="center text-red">Change Photo</div>
                </div>
              {{/link-to}}
            </div>
            <div class="ui small circular image employee-image">
              {{display/employee-picture url=model.picture}}
            </div>
            </div>
            {{/ui-dimmer}}
            <div class="inverted content text-white employee-basic-meta">
              {{model.fullName}}
              <div class="sub header text-white">
                {{model.jobTitle}} <br />
                {{#if model.hireDate}}
                  Since {{time model.hireDate 'MMMM YYYY'}}
                {{/if}}
              </div>
            </div>
          </h1>
        </div>
        <div class="right floated four wide column vertically-aligned contact-column">
          <div class="ui center aligned basic blue container text-white contact-container">
            {{#if model.phone}}
              <div class="left aligned phone-contact-icon">
                <a href="tel:{{model.phone}}"><i class="big circular inverted green phone icon phone-contact-icon-hover"></i></a>
              </div>
            {{/if}}
            {{#if model.email}}
              <div class="right aligned item email-contact-icon">
                <a href="mailto:{{model.email}}"><i class="big circular inverted grey mail icon email-contact-icon-hover"></i></a>
              </div>
            {{/if}}
          </div>
        </div>
    </div>
  </div>
  <div class="ui section divider"></div>
  {{outlet}}
</div>
