<div class="ui container basic segment">
  <UiMenu @menuClass="pointing menu__employee-page">
    {{#if this.subRoute}}
      <div class="active item mobile">
        <i class="{{this.subRoute.icon}} icon"></i> {{capitalize this.subRoute.name}}
      </div>
    {{/if}}
    <LinkTo @route="account.employee.index.index" class="item">
      <i class="list icon"></i>Summary
    </LinkTo>
    <UiDropdown class="item menu-employee-page__more">
      More<i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.subRoutes as |subRoute|}}
          <LinkTo @route={{subRoute.route}} class="{{if (eq subRoute this.subRoute) 'active '}}item">
            <i class="{{subRoute.icon}} icon"></i> {{subRoute.name}}
          </LinkTo>
        {{/each}}
      </div>
    </UiDropdown>

    <div class="right menu">
      {{#if this.visualIdRequired}}
        <LinkTo @route="account.employee.index.visual-id" @model={{this.model.id}} class="item text-red"><i
             class="exclamation icon"></i>Requires Visual ID</LinkTo>
      {{/if}}
      {{#if this.model.onboarding}}
        <LinkTo @route="account.employee.onboard" @model={{this.model.id}} class="item text-blue"><i class="wizard icon"></i>Continue
          Onboarding</LinkTo>
      {{/if}}
      {{#if this.model.offboarding}}
        <LinkTo @route="account.employee.offboard" class="item text-red"><i class="wizard icon"></i>Continue
          Offboarding</LinkTo>
      {{/if}}

      <UiDropdown @class="item icon top right">
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <LinkTo @route="account.employee.index.edit" class="item"><i class="edit icon"></i>Edit</LinkTo>
          {{#if (not (or this.model.onboarding this.model.offboardingCompleted))}}
            <LinkTo @route="account.employee.offboard.index" class="item"><i class="cut icon"></i>Offboard
              Employee...</LinkTo>
          {{/if}}
          {{#if (and this.model.eligibleForRehire this.model.terminatedOn)}}
            <a href="#" class="item" {{on 'click' (fn this.rehire)}}>
              <i class="corner undo icon"></i> Rehire
            </a>
          {{/if}}
          {{#unless this.model.activatedOn}}
            <div class="item">
              <ConfirmModal as |confirmActivation|>
                <a href="#" {{on "click" (prevent-default (pipe confirmActivation this.resend))}}>
                  <i class="envelope icon"></i>Resend Activation Email...
                  {{#if this.data.statuses.resending.isLoading}}
                    <div class="ui active dimmer">
                      <div class="ui text loader">Loading</div>
                    </div>
                  {{/if}}
                </a>
              </ConfirmModal>
            </div>
          {{/unless}}
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            <ConfirmModal @deleteContext={{this.model.fullName}} as |confirm|>
              <a href="#" class="text-danger" {{on "click" (prevent-default (pipe confirm (fn this.data.deleteRecord this.model 'working' this.afterSaveOptions)))}}><i
                   class="trash icon"></i>Delete Record</a>
            </ConfirmModal>
          </div>
        </div>
      </UiDropdown>
    </div>
  </UiMenu>

  <div class="ui basic container segment text-white employee-index-container {{unless this.onSummary "employee__index-container--minimal"}}">
    <div class="ui equal width stackable grid container">
      <div class="twelve wide column">
        <h1 class="ui left floated center aligned header employee-header-group">
          <UiDimmer @class="ui circular image" @onElement=".ui.segment" @variation="inverted" @duration={{hash show=1500}} @on="hover">
            <LinkTo @route="account.employee.index.edit-picture" class="ui circular segment dimmer hover-circular">
              <div class="content">
                <div class="center text-white">
                  <div>Edit Picture</div>
                </div>
              </div>
            </LinkTo>
            <div class="ui small circular image employee-image">
              <Display::EmployeePicture @url={{this.model.picture}} @employeeId={{this.model.id}} />
            </div>
          </UiDimmer>
          <div class="inverted content text-white employee-basic-meta">
            {{this.model.fullName}}
            <div class="sub header text-white">
              {{#if this.model.jobDescription}}
                <LinkTo @route="account.job-description" @model={{this.model.jobDescription.id}}>
                  {{this.model.jobTitle}} <br>
                </LinkTo>
              {{else}}
                {{this.model.jobTitle}} <br>
              {{/if}}
              {{#if this.model.hireDate}}
                Since {{time this.model.hireDate "MMMM YYYY"}}
              {{/if}}
            </div>
          </div>
        </h1>
      </div>
      <div class="right aligned four wide column vertically-aligned contact-column">
        <div class="ui center aligned basic container text-white contact-container">
          <span class="right floated">
            {{#if this.model.phone}}
              <div class="phone-contact-icon">
                <a href="tel:{{this.model.phone}}"><i
                     class="big circular inverted green phone icon phone-contact-icon-hover"></i></a>
              </div>
            {{/if}}
            {{#if this.model.email}}
              <div class="item email-contact-icon">
                <a href="mailto:{{this.model.email}}"><i
                     class="big circular inverted grey mail icon email-contact-icon-hover"></i></a>
              </div>
            {{/if}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui section divider"></div>
  {{outlet}}
</div>
