<div class="ui container employee__offboarding">
  <UiProgress @percent={{this.progress}} @class="indicating employee__offboarding-progress">
    <div class="bar"></div>
  </UiProgress>
  <div class="ui padded segment employee__offboarding-segment">
    <h1 class="ui header">Offboarding {{this.model.fullName}}</h1>
    <div class="ui basic segment">
      {{outlet}}
      <button class="ui small fluid button" type="button" {{on "click" (prevent-default this.cancelOffboard)}}>Cancel</button>
    </div>
  </div>
  <Display::FormSteps @steps={{this.steps}} @basePath={{this.basePath}} @class="employee__offboarding-steps" />
</div>
