<div class="ui container employee__onboarding">
  <UiProgress @percent={{this.progress}} @class="indicating employee__onboarding-progress">
    <div class="bar"></div>
  </UiProgress>

  <div class="ui padded segment employee__onboarding-segment">
    <div class="ui basic segment">
      <h1 class="ui header">Onboard {{this.model.fullName}}</h1>
    </div>

    <div class="ui basic segment">
      {{outlet}}
    </div>
  </div>

  <Display::FormSteps @steps={{this.steps}} @basePath={{this.basePath}} @class="employee__onboarding-steps" />
</div>
