{{#confirm-modal as |confirm|}}
  <form class="ui raised very padded text segment form" {{action (pipe confirm (action 'save')) on='submit'}}>
    <h2 class="ui header">Editing {{model.fullName}}</h2>
    <div class="ui secondary pointing menu">
      {{#link-to 'account.employee.index.edit.index' class='item'}}Personal{{/link-to}}
      {{#link-to 'account.employee.index.edit.job' class='item'}}Job{{/link-to}}
      {{#link-to 'account.employee.index.edit.custom-fields' class='item'}}Custom Fields{{/link-to}}
    </div>
    {{outlet}}
    <div class="ui divider"></div>
    {{#form/action-button type="submit" class="ui massive fluid green button" disabled=(not (or model.hasDirtyAttributes relationshipsChanged)) loading=working}}
      <i class="save icon"></i>Save
    {{/form/action-button}}
    <button type="button" class="ui massive fluid basic button" disabled={{disabled}} {{action (pipe (action 'selectEffectiveDate') (action 'save'))}}>
      <i class="calendar icon"></i>Save with effective date
    </button>
  </form>
{{/confirm-modal}}

{{#ui-modal name='effective-date-modal' id='effective-date-modal' class='small form'}}
  <i class="close icon"></i>
  <div class="header">
    When would you like to date these changes?
  </div>
  <div class="content">
    {{#ui-calendar class="field" type="date" inline=true onChange=(action (mut model.effectiveOn))}}
    {{/ui-calendar}}
  </div>
  <div class="actions">
    <button class="ui red button" {{action 'respondEffectiveDateModal' false}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" {{action 'respondEffectiveDateModal' true}}>
      Save
      {{#if model.effectiveOn}}
        {{time-ago model.effectiveOn}}
        on
        {{time model.effectiveOn 'M/D/YY'}}
      {{/if}}
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
