<div class="right aligned text">
  <Input::EquipmentPicker @assignableAssets={{this.assignableAssets}} @onSelect={{action "selectAsset"}} @onCreate={{action "createAsset"}} @newAssetCategory={{action "newAssetCategory"}}>
    <h3 class="ui header"><a href="#"><i class="plus icon text-white"></i></a></h3>
  </Input::EquipmentPicker>
</div>

{{#if this.model}}
  <div class="ui basic segment">
    <div class="ui cards">
      {{#each this.model as |asset|}}
        <ListItem::AssignedAssetItem @asset={{asset}} @employee={{this.employee}} @onUnassign={{action "unassignAsset"}} />
      {{/each}}
    </div>
    {{#if this.working}}
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    {{/if}}
  </div>
{{else}}
  <h2 class="ui center aligned header text-white">
    No assets assigned. Click "+" to assign some! <i class="right floated clockwise rotated reply icon"></i>
  </h2>
{{/if}}

<UiModal @name="new-asset" @class="new-asset" @detachable={{true}} @onApprove={{action "saveAsset"}} @onDeny={{action "abortAsset"}}>
  <i class="cancel close icon"></i>
  <div class="header">
    Creating a new item in "{{this.pendingAssetItem.asset.name}}" for {{this.employee.firstName}}
  </div>
  <div class="content">
    <form class="ui form container">
      <div class="field">
        <label for="asset-identifier">Asset Identifier</label>
        <Input @type="text" @value={{this.pendingAssetItem.identifier}} @id="asset-identifier" placeholder="Unique identifier (VIN, Stock #, RFID)" />
      </div>

      {{#if this.pendingAssetItem.asset.attributes}}
        <div class="ui divider"></div>
        {{#each this.pendingAssetItem.asset.attributes as |attribute|}}
          <Input::CustomField @object={{this.pendingAssetItem.customFields}} @attribute={{attribute}} />
        {{/each}}
      {{/if}}
    </form>
  </div>
  <div class="actions">
    <div class="ui negative deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Create &amp; Assign Asset
      <i class="check icon"></i>
    </div>
  </div>
</UiModal>

<UiModal @name="asset-documents" @class="asset-documents">
  <div class="header">
    Assign Documents related to {{this.newAssetItem.identifier}}?
  </div>
  <div class="content">
    <form class="ui form">
      {{#if this.suggestedDocs}}
        <h3 class="ui header">
          Suggested Documents
          <div class="small light text">
            Here are some documents that {{this.employee.firstName}} might need.
          </div>
        </h3>

        <div class="ui divided list">
          {{#each this.suggestedDocs as |doc|}}
            {{list-item/document-suggestion
              doc
              class="item"
              addAssignment=(action "createAssignment")}}
          {{/each}}
        </div>
      {{/if}}
      <h3>
        Assignments
      </h3>
      <div class="ui divided list">
        {{#each this.fileAssignments as |assignment|}}
          {{list-item/document-assignment
            assignment
            class="item"
            onRemove=(action "removeAssignment")
            onChange=(action "updateAssignment")}}
        {{else}}
          <h3 class="center aligned light text">Nothing assigned, yet.</h3>
        {{/each}}
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" {{action "cancelAssignments"}}>
      Cancel
    </button>
    <button class="ui primary right labeled icon {{if this.working "loading"}} button" {{action "saveAssignments"}}>
      Assign <i class="add user icon"></i>
    </button>
  </div>
</UiModal>
