<div class="right aligned text">
  {{#input/equipment-picker
    assignableAssets=assignableAssets
    onSelect=(action "selectAsset")
    onCreate=(action "createAsset")
    newAssetCategory=(action "newAssetCategory")}}
    <h3 class="ui header"><a href="#"><i class="plus icon text-white"></i></a></h3>
  {{/input/equipment-picker}}
</div>

{{#if model}}
  <div class="ui basic segment">
    <div class="ui cards">
      {{#each model as |asset|}}
        {{list-item/assigned-asset-item
          asset=asset
          employee=employee
          onUnassign=(action "unassignAsset")}}
      {{/each}}
    </div>
    {{#if working}}
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    {{/if}}
  </div>
{{else}}
  <h2 class="ui center aligned header text-white">
    No assets assigned. Click "+" to assign some! <i class="right floated clockwise rotated reply icon"></i>
  </h2>
{{/if}}

{{#ui-modal name="new-asset" class="new-asset" detachable=true onApprove=(action "saveAsset") onDeny=(action "abortAsset")}}
  <i class="cancel close icon"></i>
  <div class="header">
    Creating a new item in "{{pendingAssetItem.asset.name}}" for {{employee.firstName}}
  </div>
  <div class="content">
    <form class="ui form container">
      <div class="field">
        <label for="asset-identifier">Asset Identifier</label>
        {{input type="text" value=pendingAssetItem.identifier id="asset-identifier" placeholder="Unique identifier (VIN, Stock #, RFID)"}}
      </div>

      {{#if pendingAssetItem.asset.attributes}}
        <div class="ui divider"></div>
        {{#each pendingAssetItem.asset.attributes as |attribute|}}
          {{input/custom-field object=pendingAssetItem.customFields attribute=attribute}}
        {{/each}}
      {{/if}}
    </form>
  </div>
  <div class="actions">
    <div class="ui negative deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Create &amp; Assign Asset
      <i class="check icon"></i>
    </div>
  </div>
{{/ui-modal}}

{{#ui-modal name="asset-documents" class="asset-documents"}}
  <div class="header">
    Assign Documents related to {{newAssetItem.identifier}}?
  </div>
  <div class="content">
    <form class="ui form">
      {{#if suggestedDocs}}
        <h3 class="ui header">
          Suggested Documents
          <div class="small light text">
            Here are some documents that {{employee.firstName}} might need.
          </div>
        </h3>

        <div class="ui divided list">
          {{#each suggestedDocs as |doc|}}
            {{list-item/document-suggestion
              doc
              class="item"
              addAssignment=(action "createAssignment")}}
          {{/each}}
        </div>
      {{/if}}
      <h3>
        Assignments
      </h3>
      <div class="ui divided list">
        {{#each fileAssignments as |assignment|}}
          {{list-item/document-assignment
            assignment
            class="item"
            onRemove=(action "removeAssignment")
            onChange=(action "updateAssignment")}}
        {{else}}
          <h3 class="center aligned light text">Nothing assigned, yet.</h3>
        {{/each}}
      </div>
    </form>
  </div>
  <div class="actions">
    <<button class="ui red button" {{action "cancelAssignments"}}>
      Cancel
    </button>
    <<button class="ui primary right labeled icon {{if working "loading"}} button" {{action "saveAssignments"}}>
      Assign <i class="add user icon"></i>
    </button>
  </div>
{{/ui-modal}}
