<div class="ui rasied segment">
  <h2 class="ui header">History Report</h2>
  <h4 class="ui center aligned header">
    <LinkTo @route="account.employee.index.history">
      <EmberTooltip @side="top" @popperContainer="body" @text="Switch to timeline view" />
      <i class="circle icon"></i>Timeline View
    </LinkTo>
  </h4>

  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Filter by Field</label>
        <UiDropdown @class="multiple selection" @selected={{this.field}} @onChange={{pipe-action this.setReset (set this.field _)}} as |execute mapper|>
          <div class="default text">Click to select</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.fields as |f|}}
              <div class="item" data-value={{map-value mapper f.value}}>
                {{f.display}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>

      <div class="field">
        <label>Filter by Creator</label>
        <UiDropdown @class="multiple selection" @selected={{this.creator}} @onChange={{pipe-action this.setReset (set this.creator _)}} as |execute mapper|>
          <div class="default text">Click to select</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.creators as |c|}}
              <div class="item" data-value={{map-value mapper c.id}}>
                {{c.fullName}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <LightTable @table={{this.table}} @height="90vh" @class="ui celled striped table" as |t|>
    <t.head @onColumnClick={{this.onColumnClick}} @iconAscending="up arrow icon" @iconDescending="down arrow icon" @fixed={{true}} />

    <t.body @class="light-table__word-break" @scrollBuffer={{20}} @canSelect={{false}} @onScrolledToBottom={{this.onScrolledToBottom}} as |body|>
      {{#if this.isLoading}}
        <body.loader>
          <div class="ui active centered inline loader"></div>
        </body.loader>
      {{/if}}
    </t.body>
  </LightTable>
</div>
