<div class="ui rasied segment">
  <h2 class="ui header">History Report</h2>
  <h4 class="ui center aligned header">
    {{#link-to "account.employee.index.history"}}
      {{ember-tooltip
        side="top"
        popperContainer="body"
        text="Switch to timeline view"}}
      <i class="circle icon"></i>Timeline View
    {{/link-to}}
  </h4>

  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Filter by Field</label>
        {{#ui-dropdown class="multiple selection" selected=this.field onChange=(pipe-action (action "setReset") (action (mut this.field))) as |execute mapper|}}
          <div class="default text">Click to select</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.fields as |f|}}
              <div class="item" data-value={{map-value mapper f.value}}>
                {{f.display}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>

      <div class="field">
        <label>Filter by Creator</label>
        {{#ui-dropdown class="multiple selection" selected=this.creator onChange=(pipe-action (action "setReset") (action (mut this.creator))) as |execute mapper|}}
          <div class="default text">Click to select</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.creators as |c|}}
              <div class="item" data-value={{map-value mapper c.id}}>
                {{c.fullName}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  {{#light-table this.table height="90vh" class="ui celled striped table" as |t|}}
    {{t.head
      onColumnClick=(action "onColumnClick")
      iconAscending="up arrow icon"
      iconDescending="down arrow icon"
      fixed=true
    }}

    {{#t.body
      class="light-table__word-break"
      scrollBuffer=20
      canSelect=false
      onScrolledToBottom=(action "onScrolledToBottom")
      as |body|
    }}
      {{#if this.isLoading}}
        {{#body.loader}}
          <div class="ui active centered inline loader"></div>
        {{/body.loader}}
      {{/if}}
    {{/t.body}}
  {{/light-table}}
</div>
