<div class="ui basic blue unbordered container segment text-white statistic-container">
  <div class="ui equal width stackable grid">
    {{#if model.supervisor}}
      <div class="center aligned column">
          <div class="ui mini statistic statistic-item">
            <div class="value">
              {{#link-to 'account.employee' model.supervisor class="statistic-value"}}
                {{model.supervisor.fullName}}
              {{/link-to}}
            </div>
            <div class="label text-white">
              Supervisor
            </div>
          </div>
      </div>
    {{/if}}
    {{#if model.department}}
    <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{model.department.name}}
          </div>
          <div class="label text-white">
            Department
          </div>
        </div>
    </div>
    {{/if}}
    {{#if model.location}}
    <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{model.location.name}}
          </div>
          <div class="label text-white">
            Location
          </div>
        </div>
    </div>
    {{/if}}
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column">
    <div class="ui raised segment">
      <span class="ui blue ribbon label"><i class="announcement icon"></i>Direct Contact</span>
      {{#link-to 'account.employee.index.edit.index' class='ui right corner blue label'}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if hasDirectContact}}
          {{#if model.email}}
            <a href="mailto:{{model.email}}">
              <i class="mail icon"></i>
              {{model.email}}
            </a> <br />
          {{/if}}
          {{#if model.phone}}
            <a href="tel:{{model.phone}}">
              <i class="phone icon"></i>
              {{format-phone model.phone}}
            </a>
          {{/if}}
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Direct Contact Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui teal ribbon label"><i class="mail icon"></i>Mailing Address</span>
      {{#link-to 'account.employee.index.edit.index' class='ui right corner teal label'}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if model.addressLine1}}
          {{model.addressLine1}}, <br />
          {{#if model.addressLine2}}
            {{model.addressLine2}}, <br />
          {{/if}}
          {{model.addressCity}},
          {{model.addressState}}
          {{model.addressZip}}
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Address Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui orange ribbon label"><i class="book icon"></i>Custom Fields</span>
      {{#link-to 'account.employee.index.edit.custom-fields' class='ui right corner orange label'}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if customFieldsExist}}
          <div class="ui list">
            {{#each-in model.customFields as |key value|}}
              <div class="line-item-value">
                <i>
                  {{key}}
                </i>
                <u>
                  {{value}}
                </u>
              </div>
            {{/each-in}}
          </div>
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Additional Information</h3>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui raised segment">
      <span class="ui green left ribbon label"><i class="emergency icon"></i>Additonal Information</span>
      {{#link-to 'account.employee.index.edit.index' class='ui right corner green label'}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        <p class="text">
          {{#if model.ssn}}
            <div class="line-item-value">
              <i>
                SSN
              </i>
              <u>
                {{#if showSSN}}
                  {{model.ssn}}
                {{else}}
                  {{model.ssnMasked}}
                {{/if}}
                <a href="#" class="right floated"{{action (toggle "showSSN" this)}}><i class="{{if showSSN 'hide' 'unhide'}} icon"></i></a>
              </u>
            </div>
          {{else}}
          <h3 class="ui center aligned header no-info-header">No Additional Information</h3>
          {{/if}}
        </p>
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui grey left ribbon label"><i class="birthday icon"></i>Anniversaries</span>
      {{#link-to 'account.employee.index.edit.index' class='ui right corner grey label'}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if hasAnniversaries}}
          <p class="text">
            {{#if model.hireDate}}
              Date of Hire: {{time model.hireDate}} <br />
            {{/if}}
            {{#if model.dateOfBirth}}
              Date of Birth: {{time model.dateOfBirth}}
            {{/if}}
          </p>
        {{else}}
          <h3 class="ui center aligned header no-info-header">No DOB or Hire Date Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui red left ribbon label"><i class="emergency icon"></i>Emergency Contact</span>
      {{#link-to 'account.employee.index.edit.index' class='ui right corner red label'}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        <p class="text">
          {{#if hasEmergencyContact}}
            {{#if model.emergencyContactNameFirst}}
              Emergency Contact:
              {{model.emergencyContactNameFirst}} {{model.emergencyContactNameLast}} <br />
            {{/if}}
            {{#if model.emergencyContactPhone}}
              Contact Phone:
              <a href="tel:{{model.emergencyContactPhone}}">{{format-phone model.emergencyContactPhone}}</a>
            {{/if}}
          {{else}}
          <h3 class="ui center aligned header no-info-header">No Emergency Contact Available</h3>
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>
