<div class="ui basic unbordered container segment text-white statistic-container">
  <div class="ui equal width stackable grid">
    {{#if model.supervisor}}
      <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value">
            {{#link-to "account.employee" model.supervisor.id class="statistic-value"}}
              {{model.supervisor.fullName}}
            {{/link-to}}
          </div>
          <div class="label text-white">
            Supervisor
          </div>
        </div>
      </div>
    {{/if}}
    {{#if model.department}}
      <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{model.department.name}}
          </div>
          <div class="label text-white">
            Department
          </div>
        </div>
      </div>
    {{/if}}
    {{#if model.location}}
      <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{model.location.name}}
          </div>
          <div class="label text-white">
            Location
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column">
    <div class="ui raised segment">
      <span class="ui blue ribbon label"><i class="announcement icon"></i>Direct Contact</span>
      {{#link-to "account.employee.index.edit.index" class="ui right corner blue label"}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if hasDirectContact}}
          {{#if model.email}}
            <a href="mailto:{{model.email}}">
              {{ember-tooltip
                side="right"
                popperContainer="body"
                text="Primary email"}}
                <i class="large icons">
                  <i class="mail icon"></i>
                  <i class="bottom right corner building outline icon"></i>
                </i>
              {{model.email}}
            </a> <br />
          {{/if}}
          {{#if model.privateEmail}}
            <a href="mailto:{{model.privateEmail}}">
              {{ember-tooltip
                side="right"
                popperContainer="body"
                text="Personal Email"}}
                <i class="large icons">
                  <i class="mail icon"></i>
                  <i class="bottom right corner user icon"></i>
                </i>
              {{model.privateEmail}}
            </a> <br />
          {{/if}}
          {{#if model.phone}}
            <a href="tel:{{model.phone}}">
              <i class="phone icon"></i>
              {{format-phone model.phone}}
            </a>
          {{/if}}
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Direct Contact Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui teal ribbon label"><i class="mail icon"></i>Mailing Address</span>
      {{#link-to "account.employee.index.edit.index" class="ui right corner teal label"}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if model.addressLine1}}
          {{model.addressLine1}}, <br />
          {{#if model.addressLine2}}
            {{model.addressLine2}}, <br />
          {{/if}}
          {{model.addressCity}},
          {{model.addressState}}
          {{model.addressZip}}
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Address Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui orange ribbon label"><i class="book icon"></i>Custom Fields</span>
      {{#link-to "account.employee.index.edit.custom-fields" class="ui right corner orange label"}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if customFieldsExist}}
          <div class="ui list">
            {{#each-in model.customFields as |key value|}}
              <div class="line-item-value">
                <i>
                  {{key}}
                </i>
                <u>
                  {{value}}
                </u>
              </div>
            {{/each-in}}
          </div>
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Additional Information</h3>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui raised segment">
      <span class="ui green left ribbon label"><i class="info icon"></i>Additional Information</span>
      {{#link-to "account.employee.index.edit.index" class="ui right corner green label"}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        <p class="text">
          {{#if (or model.probationUntil model.ssn)}}
            {{#if model.ssn}}
              <div class="line-item-value">
                <i>
                  SSN
                </i>
                <u>
                  {{#if showSSN}}
                    {{model.ssn}}
                  {{else}}
                    {{model.ssnMasked}}
                  {{/if}}
                  <a href="#" class="right floated" {{action (toggle "showSSN" this)}}><i class="{{if showSSN "hide" "unhide"}} icon"></i></a>
                </u>
              </div>
            {{/if}}
            <div class="line-item-value">
              <i>
                Probation
                {{if onProbation "Until" "Ended On"}}
              </i>
              <u>
                {{time model.probationUntil}}
              </u>
            </div>
          {{else}}
            <h3 class="ui center aligned header no-info-header">No Additional Information</h3>
          {{/if}}
        </p>
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui grey left ribbon label"><i class="birthday icon"></i>Anniversaries</span>
      {{#link-to "account.employee.index.edit.index" class="ui right corner grey label"}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        {{#if hasAnniversaries}}
          <p class="text">
            {{#if model.hireDate}}
              <div class="line-item-value">
                <i>
                  Date of Hire
                </i>
                <u>
                  {{time model.hireDate}} <br />
                </u>
              </div>
            {{/if}}
            {{#if model.dateOfBirth}}
              <div class="line-item-value">
                <i>
                  Date of Birth
                </i>
                <u>
                  {{time model.dateOfBirth}}
                </u>
              </div>
            {{/if}}
          </p>
        {{else}}
          <h3 class="ui center aligned header no-info-header">No DOB or Hire Date Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui red left ribbon label"><i class="emergency icon"></i>Emergency Contact</span>
      {{#link-to "account.employee.index.edit.index" class="ui right corner red label"}}
        <i class="pencil icon"></i>
      {{/link-to}}
      <div class="ui basic segment">
        <p class="text">
          {{#if hasEmergencyContact}}
            {{#if model.emergencyContactNameFirst}}
              Emergency Contact:
              {{model.emergencyContactNameFirst}} {{model.emergencyContactNameLast}} <br />
            {{/if}}
            {{#if model.emergencyContactPhone}}
              Contact Phone:
              <a href="tel:{{model.emergencyContactPhone}}">{{format-phone model.emergencyContactPhone}}</a>
            {{/if}}
          {{else}}
            <h3 class="ui center aligned header no-info-header">No Emergency Contact Available</h3>
          {{/if}}
        </p>
      </div>
    </div>
    {{#if model.externalLinkService}}
      <div class="ui raised segment">
        {{#if working}}
          <div class="ui inverted active dimmer">
            <div class="ui active text loader">Forcing sync...</div>
          </div>
        {{/if}}
        <span class="ui basic ribbon label"><i class="download icon"></i>Imported</span>
        {{#link-to "account.employee.index.edit.settings" class="ui right corner label"}}
          <i class="pencil icon"></i>
        {{/link-to}}
        <div class="ui basic segment">
          Source: {{capitalize model.externalLinkService}}<br />
          Imported On: {{time model.created "h:mma M/D/YY"}}<br />
          Last Change Sync:
          {{if
            model.externalLinkLastSync
            (time model.externalLinkLastSync "h:mm:ssa M/D/YY")
            "Never"}}
          <a href="#" {{action "forceSync"}}>Force sync from {{model.externalLinkService}}</a>
          <br />
          Automatic Change Syncing: {{if model.externalLinkAutomaticSync "Enabled" "Disabled"}}
          {{#if model.externalLinkDocumentLink}}
            <a class="right floated text" href={{model.externalLinkDocumentLink}}>
              Visit record on Slate <i class="external alternate icon"></i>
            </a>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
