<div class="ui basic unbordered container segment text-white statistic-container">
  <div class="ui equal width stackable grid">
    {{#if this.model.supervisor}}
      <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value">
            <LinkTo @route="account.employee" @model={{this.model.supervisor.id}} class="statistic-value">
              {{this.model.supervisor.fullName}}
            </LinkTo>
          </div>
          <div class="label text-white">
            Supervisor
          </div>
        </div>
      </div>
    {{/if}}
    {{#if this.model.department}}
      <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{this.model.department.name}}
          </div>
          <div class="label text-white">
            Department
          </div>
        </div>
      </div>
    {{/if}}
    {{#if this.model.location}}
      <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{this.model.location.name}}
          </div>
          <div class="label text-white">
            Location
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column">
    {{#if this.model.offboardingCompleted}}
      <div class="ui raised segment">
        <span class="ui orange left ribbon label"><i class="cut icon"></i>Final Information</span>
        {{!-- {{#link-to "account.employee.index.edit.index" class="ui right corner orange label"}}
          <i class="pencil icon"></i>
        {{/link-to}} --}}
        <div class="ui basic segment">
          <p class="text">
            <p>
              {{#if this.model.separationNotes}}
                <div class="line-item-value">
                  <i>
                    Notes
                  </i>
                  <u>
                    {{#if this.separationNotes}}
                      {{this.model.separationNotes}}
                    {{/if}}
                    <a href="#" class="right floated" {{action (toggle "separationNotes" this)}}>{{if this.separationNotes "Hide" "View"}} Notes</a>
                  </u>
                </div>
              {{/if}}
              <div class="line-item-value">
                <i>
                  Terminated on
                </i>
                <u>
                  {{time this.model.terminatedOn}}
                </u>
              </div>
              <div class="line-item-value">
                <i>
                  Offboarder
                </i>
                <u>
                  {{this.model.offboarder.fullName}}
                </u>
              </div>
              <div class="line-item-value">
                <i>
                  Eligible For Rehire
                </i>
                <u>
                  {{if this.model.eligibleForRehire "Yes" "No"}}
                </u>
              </div>
            </p>
            <div>
              <a href="mailto:{{this.model.finalEmail}}">
                <EmberTooltip @side="right" @popperContainer="body" @text="Final Email" />
                <i class="large icons">
                  <i class="mail icon"></i>
                  <i class="bottom right corner building outline icon"></i>
                </i>
                {{this.model.finalEmail}}
              </a>
              <p>
                {{#if this.model.finalAddressCity}}
                  {{#if this.model.finalAddressLine1}}
                    {{this.model.finalAddressLine1}},<br>
                    {{#if this.model.finalAddressLine2}}
                      {{this.model.finalAddressLine2}},<br>
                    {{/if}}
                    {{this.model.finalAddressCity}},
                    {{this.model.finalAddressState}}
                    {{this.model.finalAddressZip}}
                  {{/if}}
                {{/if}}
              </p>
            </div>
          </p>
        </div>
      </div>
    {{/if}}
    <div class="ui raised segment">
      <span class="ui blue ribbon label"><i class="announcement icon"></i>Direct Contact</span>
      <LinkTo @route="account.employee.index.edit.index" class="ui right corner blue label">
        <i class="pencil icon"></i>
      </LinkTo>
      <div class="ui basic segment">
        {{#if this.hasDirectContact}}
          {{#if this.model.email}}
            <a href="mailto:{{this.model.email}}">
              <EmberTooltip @side="right" @popperContainer="body" @text="Primary email" />
              <i class="large icons">
                <i class="mail icon"></i>
                <i class="bottom right corner building outline icon"></i>
              </i>
              {{this.model.email}}
            </a> <br />
          {{/if}}
          {{#if this.model.privateEmail}}
            <a href="mailto:{{this.model.privateEmail}}">
              <EmberTooltip @side="right" @popperContainer="body" @text="Personal Email" />
              <i class="large icons">
                <i class="mail icon"></i>
                <i class="bottom right corner user icon"></i>
              </i>
              {{this.model.privateEmail}}
            </a> <br />
          {{/if}}
          {{#if this.model.phone}}
            <a href="tel:{{this.model.phone}}">
              <i class="phone icon"></i>
              {{format-phone this.model.phone}}
            </a>
          {{/if}}
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Direct Contact Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui teal ribbon label"><i class="mail icon"></i>Mailing Address</span>
      <LinkTo @route="account.employee.index.edit.index" class="ui right corner teal label">
        <i class="pencil icon"></i>
      </LinkTo>
      <div class="ui basic segment">
        {{#if this.model.addressLine1}}
          {{this.model.addressLine1}}, <br />
          {{#if this.model.addressLine2}}
            {{this.model.addressLine2}}, <br />
          {{/if}}
          {{this.model.addressCity}},
          {{this.model.addressState}}
          {{this.model.addressZip}}
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Address Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui orange ribbon label"><i class="book icon"></i>Custom Fields</span>
      <LinkTo @route="account.employee.index.edit.custom-fields" class="ui right corner orange label">
        <i class="pencil icon"></i>
      </LinkTo>
      <div class="ui basic segment">
        {{#if this.customFieldsExist}}
          <div class="ui list">
            {{#each-in this.model.customFields as |key value|}}
              <div class="line-item-value">
                <i>
                  {{key}}
                </i>
                <u>
                  {{value}}
                </u>
              </div>
            {{/each-in}}
          </div>
        {{else}}
          <h3 class="ui center aligned header no-info-header">No Additional Information</h3>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui raised segment">
      <span class="ui green left ribbon label"><i class="info icon"></i>Additional Information</span>
      <LinkTo @route="account.employee.index.edit.index" class="ui right corner green label">
        <i class="pencil icon"></i>
      </LinkTo>
      <div class="ui basic segment">
        <p class="text">
          {{#if (or this.model.probationUntil this.model.ssn)}}
            {{#if this.model.ssn}}
              <div class="line-item-value">
                <i>
                  SSN
                </i>
                <u>
                  {{#if this.showSSN}}
                    {{this.model.ssn}}
                  {{else}}
                    {{this.model.ssnMasked}}
                  {{/if}}
                  <a href="#" class="right floated" {{action (toggle "showSSN" this)}}><i class="{{if this.showSSN "hide" "unhide"}} icon"></i></a>
                </u>
              </div>
            {{/if}}
            <div class="line-item-value">
              <i>
                Probation
                {{if this.onProbation "Until" "Ended On"}}
              </i>
              <u>
                {{time this.model.probationUntil}}
              </u>
            </div>
          {{else}}
            <h3 class="ui center aligned header no-info-header">No Additional Information</h3>
          {{/if}}
        </p>
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui grey left ribbon label"><i class="birthday icon"></i>Anniversaries</span>
      <LinkTo @route="account.employee.index.edit.index" class="ui right corner grey label">
        <i class="pencil icon"></i>
      </LinkTo>
      <div class="ui basic segment">
        {{#if this.hasAnniversaries}}
          <p class="text">
            {{#if this.model.hireDate}}
              <div class="line-item-value">
                <i>
                  Date of Hire
                </i>
                <u>
                  {{time this.model.hireDate}} <br />
                </u>
              </div>
            {{/if}}
            {{#if this.model.dateOfBirth}}
              <div class="line-item-value">
                <i>
                  Date of Birth
                </i>
                <u>
                  {{time this.model.dateOfBirth}}
                </u>
              </div>
            {{/if}}
          </p>
        {{else}}
          <h3 class="ui center aligned header no-info-header">No DOB or Hire Date Available</h3>
        {{/if}}
      </div>
    </div>
    <div class="ui raised segment">
      <span class="ui red left ribbon label"><i class="emergency icon"></i>Emergency Contact</span>
      <LinkTo @route="account.employee.index.edit.index" class="ui right corner red label">
        <i class="pencil icon"></i>
      </LinkTo>
      <div class="ui basic segment">
        <p class="text">
          {{#if this.hasEmergencyContact}}
            {{#if this.model.emergencyContactNameFirst}}
              Emergency Contact:
              {{this.model.emergencyContactNameFirst}} {{this.model.emergencyContactNameLast}} <br />
            {{/if}}
            {{#if this.model.emergencyContactPhone}}
              Contact Phone:
              <a href="tel:{{this.model.emergencyContactPhone}}">{{format-phone this.model.emergencyContactPhone}}</a>
            {{/if}}
          {{else}}
            <h3 class="ui center aligned header no-info-header">No Emergency Contact Available</h3>
          {{/if}}
        </p>
      </div>
    </div>
    {{#if this.model.externalLinkService}}
      <div class="ui raised segment">
        {{#if this.working}}
          <div class="ui inverted active dimmer">
            <div class="ui active text loader">Forcing sync...</div>
          </div>
        {{/if}}
        <span class="ui basic ribbon label"><i class="download icon"></i>Imported</span>
        <LinkTo @route="account.employee.index.edit.settings" class="ui right corner label">
          <i class="pencil icon"></i>
        </LinkTo>
        <div class="ui basic segment">
          Source: {{capitalize this.model.externalLinkService}}<br />
          Imported On: {{time this.model.created "h:mma M/D/YY"}}<br />
          Last Change Sync:
          {{if
            this.model.externalLinkLastSync
            (time this.model.externalLinkLastSync "h:mm:ssa M/D/YY")
            "Never"}}
          <a href="#" {{action "forceSync"}}>Force sync from {{this.model.externalLinkService}}</a>
          <br />
          Automatic Change Syncing: {{if this.model.externalLinkAutomaticSync "Enabled" "Disabled"}}
          {{#if this.model.externalLinkDocumentLink}}
            <a class="right floated text" href={{this.model.externalLinkDocumentLink}}>
              Visit record on Slate <i class="external alternate icon"></i>
            </a>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
