<div class="ui basic blue unbordered container segment text-white statistic-container">
  <div class="ui equal width stackable grid">
    {{#if model.supervisor}}
      <div class="center aligned column">
          <div class="ui mini statistic statistic-item">
            <div class="value">
              {{#link-to 'account.employee' model.supervisor class="statistic-value"}}
                {{model.supervisor.fullName}}
              {{/link-to}}
            </div>
            <div class="label text-white">
              Supervisor
            </div>
          </div>
      </div>
    {{/if}}
    {{#if model.department}}
    <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{model.department.name}}
          </div>
          <div class="label text-white">
            Department
          </div>
        </div>
    </div>
    {{/if}}
    {{#if model.location}}
    <div class="center aligned column">
        <div class="ui mini statistic statistic-item">
          <div class="value statistic-value">
            {{model.location.name}}
          </div>
          <div class="label text-white">
            Location
          </div>
        </div>
    </div>
    {{/if}}
  </div>
</div>
<div class="ui stackable two column grid">
  <div class="column">
    <div class="ui raised blue segment">
      <a class="ui blue ribbon label"><i class="announcement icon"></i>Direct Contact</a>
      <div class="ui basic segment">
        <a href="mailto:{{model.email}}">
          <i class="mail icon"></i>
          {{model.email}}
        </a> <br />
        <a href="tel:{{model.phone}}">
          <i class="phone icon"></i>
          {{format-phone model.phone}}
        </a>
      </div>
    </div>
    <div class="ui raised teal segment">
      <a class="ui teal ribbon label"><i class="mail icon"></i>Mailing Address</a>
      <div class="ui basic segment">
        {{model.addressLine1}}, <br />
        {{#if model.addressLine2}}
          {{model.addressLine2}}, <br />
        {{/if}}
        {{model.addressCity}},
        {{model.addressState}}
        {{model.addressZip}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui raised grey segment">
      <a class="ui grey left ribbon label"><i class="birthday icon"></i>Anniversaries</a>
      <div class="ui basic segment">
        <p class="text">
          Date of Hire: {{time model.hireDate}} <br />
          Birthday: {{time model.dateOfBirth}}
        </p>
      </div>
    </div>
    <div class="ui raised red segment">
      <a class="ui red left ribbon label"><i class="emergency icon"></i>Emergency Contact</a>
      <div class="ui basic segment">
        <p class="text">
          {{#if hasEmergencyContact}}
            Emergency Contact:
            {{model.emergencyContactNameFirst}} {{model.emergencyContactNameLast}} <br />
            Contact Phone:
            <a href="tel:{{model.emergencyContactPhone}}">{{format-phone model.emergencyContactPhone}}</a>
          {{else}}
            No Emergency Contact Available
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>
