<div class="ui two column centered grid">
  <div class="column">
    <p class="center aligned text">
      <div class="ui statistic">
        <div class="value">
          <i class="money icon"></i>
          ${{if model.payRateHourly model.payRateHourly model.payRateSalary}}
        </div>
        <div class="label">
          {{model.payRateType}}
        </div>
      </div>
      {{!-- <i class="money icon"></i>
      {{model.payRateType}} Pay Rate: ${{if model.payRateHourly model.payRateHourly model.payRateSalary}} --}}
    </p>
  </div>
  <div class="four column centered row">
    <div class="column">
      <div class="item">
        Department: Making Freedom
      </div>
      <div class="item">
        Location: Everywhere
      </div>
    </div>
    <div class="column">
      <div class="item">
        Supervisor: Dwight D Eisenhower
      </div>
      <div class="item">
        Hire Date: {{time model.hireDate}}
      </div>
    </div>
  </div>
</div>

{{!-- Some stuff about an employee
Personal info
Address
Contact
ICE contact info
Job info
Pay
Title
Hire date
placeholder link to job description --}}
