<div class="content">
  <div class="form-element__controls">
    <a href="#" class="text-danger" {{on "click" (prevent-default (action "removeElement"))}}>
      <i class="trash icon"></i>
    </a>
  </div>

  {{#if (and this.model.label this.model.type)}}
    <div class="form-element__preview">
      <Input::QuickFormInput
        @field={{hash
          label=this.label
          type=@model.type
          placeholder=(or @model.label " ")
          showLabel=true
          contentPath="controller.options"
          displayKey="text"
          class=this.positionInForm
          inputClass=(if (and (eq @model.type "select") (or @model.multiple @model.allowAdditions)) "search multiple")
          inputAttrs=(hash
            allowAdditions=@model.allowAdditions
            inline=@model.inlineInput
          )
        }}
        @model={{this.emptyObject}}
        @controller={{@model}}
      />
      <div class="ui divider"></div>
    </div>
  {{else if this.loadingType}}
    <div class="form-element__preview form-element__preview--loading">
      {{! dummy element}}
      <Input::QuickFormInput
        @field={{hash
          label=this.label
          type='select'
          placeholder=(or @model.label " ")
          showLabel=true
        }}
        @model={{this.emptyObject}}
        @controller={{@model}}
      />
      <div class="ui divider"></div>
      <div class="ui active inverted dimmer">
        <div class="ui text loader">Loading element...</div>
      </div>
    </div>
  {{/if}}

  {{#unless this.showingPreview}}
    <div class="two fields">
      <div class="field">
        <label>What would you like to ask for question #{{this.positionInForm}}?*</label>
        <Input @type="text" @value={{@model.label}} placeholder={{this.labelSuggestion}} />
      </div>

      <div class="field">
        <label>How should they answer?*</label>
        <UiDropdown @class="selection" @selected={{@model.type}} @forceSelection={{false}} @onChange={{set @model.type _}}>
          <div class="default text">
            Select an input type
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.formTypes as |formType|}}
              <div class="item" data-value={{formType.use}}>
                {{#if formType.icon}}
                  <i class="{{formType.icon}} icon"></i>
                {{/if}}
                {{formType.display}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
    </div>

    {{#if (or (eq @model.type "select") this.loadingType)}}
      <div class="two fields">
        <div class="field">
          <UiCheckbox @class="toggle" @label="Allow multiple selections" @checked={{readonly @model.multiple}} @onChange={{pipe-action (set @model.multiple _) this.changedSelectProperty}} />
        </div>
        <div class="field">
          <EmberTooltip @side="top" @popperContainer="body" @text="This option allows users to select from your list of options or add selection(s) of their own." />
          <UiCheckbox @class="toggle" @label="Allow additions to options" @checked={{readonly @model.allowAdditions}} @onChange={{pipe-action (set @model.allowAdditions _) this.changedSelectProperty}} />
        </div>
      </div>
    {{/if}}

    {{#if (eq @model.type "radio")}}
      <div class="field">
        <UiCheckbox @class="toggle" @label="Inline Input" @checked={{readonly @model.inlineInput}} @onChange={{set @model.inlineInput _}} />
      </div>
    {{/if}}

    {{#if @mapField}}
      <div class="ui two fields">
        <div class="field">
          <label>Available Employee Fields*</label>
          <UiDropdown
                @class="selection"
                @selected={{@model.field}}
                @forceSelection={{false}}
                @onChange={{set this.model.field _}}>
            <div class="default text">
              Don't map to an employee field
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each @mapField as |employeeField|}}
                {{#each-in employeeField as |type field|}}
                  <div class="item" data-value={{field}}>
                    {{#if type.icon}}
                      <i class="{{type.icon}} icon"></i>
                    {{/if}}
                    {{type}}
                  </div>
                {{/each-in}}
              {{/each}}
            </div>
          </UiDropdown>
        </div>
    
        {{#if (eq @model.field "customFields")}}
          <div class="ui field">
            <label>What would you like to label the "Custom Field"*</label>
            <input
              value={{@model.customField}}
              placeholder="Allergies, Talents"
            />
          </div>
        {{/if}}
      </div>
    {{/if}}

    <div class="field">
      {{#liquid-if (and (or (eq @model.type "checkbox") (eq @model.type "toggle")) @model.required)}}
        <p class="center aligned text text-danger">Note: Requiring this field requires the applicant to select "Yes" to proceed.</p>
      {{/liquid-if}}

      <UiCheckbox @label="This question is required" @checked={{readonly @model.required}} @onChange={{set @model.required _}} />
    </div>

    {{#if (or this.requiresOptions this.loadingType)}}
      <div class="field">
        <label>Add options for the applicant to choose from</label>
      </div>
      {{#if @model.options}}
        <div class="ui vertically divided vertically padded unpadded grid form-element__options-grid">
          {{#each @model.options as |option|}}
            <div class="row">
              <div class="{{if @scoring "eight" "sixteen"}} wide column">
                <div class="ui field">
                  <Input @type="text" class="ui mini fluid input" placeholder="Enter option text" @value={{option.text}} />
                </div>
                <a href="#" class="text-danger" {{on "click" (prevent-default (fn this.removeOption option))}}><i class="trash icon"></i> Remove</a>
              </div>
              {{#if @scoring}}
                <div class="eight wide column">
                  <div class="ui field">
                    <Input @type="number" class="ui mini fluid input" @min="-100" @max="100" @step="1" placeholder="Weight (+/-100)" @disabled={{option.disqualifier}} @value={{option.weight}} />
                  </div>
                  <UiCheckbox @label="Exclude applicants with this answer" @checked={{readonly option.disqualifier}} @onChange={{set option.disqualifier _}} />
                </div>
              {{/if}}
              {{!-- <div class="{{if scoring "four" "eight"}} wide column options-grid__option-controls">
              </div> --}}
            </div>
          {{/each}}
        </div>
      {{/if}}
      <a href="#" {{on "click" (prevent-default this.addOption)}}><i class="plus icon"></i>Add option...</a>
    {{else if (and this.showScoring (not this.model.required))}}
      <div class="two fields">
        <div class="field">
          <div class="ui field">
            <label>How should "Yes" be weighted?</label>
            <Input @type="number" class="ui mini fluid input" @min="-100" @max="100" @step="1" placeholder="Weight (+/-100)" @disabled={{@model.trueDisqualifies}} @value={{@model.trueWeight}} />
          </div>
        </div>
        <div class="field">
          <div class="ui field">
            <label>How should "No" be weighted?</label>
            <Input @type="number" class="ui mini fluid input" @min="-100" @max="100" @step="1" placeholder="Weight (+/-100)" @disabled={{@model.falseDisqualifies}} @value={{@model.falseWeight}} />
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <UiCheckbox @label="Exclude applicants with 'Yes' answer" @checked={{readonly @model.trueDisqualifies}} @onChange={{set @model.trueDisqualifies _}} />
        </div>
        <div class="field">
          <UiCheckbox @label="Exclude applicants with 'No' answer" @checked={{readonly @model.falseDisqualifies}} @onChange={{set @model.falseDisqualifies _}} />
        </div>
      </div>
    {{/if}}
  {{/unless}}
</div>

<div class="form-element__handle">
  <i class="resize vertical fitted icon"></i>
</div>
