<button class="ui button {{if this.data.statuses.working.isLoading "loading"}} {{if this.alreadyLinked "disabled"}}" type={{this.type}} disabled={{this.disabled}} {{on "click" (prevent-default this.click)}} ...attributes>
  {{yield this.alreadyLinked}}
</button>
