<div class="timeline-detail__content">
  {{#liquid-if this.group}}
    <h2 class="ui center aligned header">{{this.group.history.length}} {{inflect-text "Changes" this.group.history.length}} on {{time this.group.date "MMMM Do"}}</h2>
    {{#each this.group.history as |history|}}
      <ListItem::HistoryItem @history={{history}} />
    {{/each}}
  {{/liquid-if}}
</div>
<div class="timeline-detail__pointer"></div>

{{#liquid-if this.group}}
  <button type="button" class="ui fluid button history-timeline__deselect" {{on "click" (prevent-default (action "deselectGroup"))}}>Return to all events</button>
{{/liquid-if}}
