{{#if this.link}}
  <LinkTo @route={{this.step.path}}>
    <div class="content">
      <div class="title">
        {{this.step.title}}
        {{#if this.step.completed}}
          <i class="check icon"></i>
        {{else}}
          {{#if this.step.icon}}<i class="{{this.step.icon}} icon"></i>{{/if}}
        {{/if}}
      </div>
      <div class="description">{{this.step.description}}</div>
    </div>
  </LinkTo>
{{else}}
  <div class="content">
    <div class="title">
      {{this.step.title}}
      {{#if this.step.completed}}
        <i class="check icon"></i>
      {{else}}
        {{#if this.step.icon}}<i class="{{this.step.icon}} icon"></i>{{/if}}
      {{/if}}
    </div>
    <div class="description">{{this.step.description}}</div>
  </div>
{{/if}}
