{{display/employee-picture url=this.message.from.picture class="ui avatar image" employeeId=this.message.from._id}}

<div class="content message__content-block">
  <div class="header message__sender">
    {{this.message.from.name.first}}
  </div>
  <div class="description message__content">
    {{this.message.content}}

    {{#if this.message.file}}
      {{#if this.message.content}}<div class="ui divider"></div>{{/if}}

      {{#if (or this.isImage this.message.file.previewPath)}}
        <img alt="" class="ui small image" src={{if this.isImage this.message.file.url this.message.file.previewPath}}>
      {{/if}}

      <p><a href={{this.message.file.url}} download>Download Attachment (.{{this.message.file.extension}}) <i class="download icon"></i></a></p>
    {{/if}}
  </div>
</div>

<div class="message__ts">
  <span class="light text message-ts__content">
    {{time-ago this.message.created}}
  </span>
</div>
