<div class="ui form">
  <h3 class="ui header">
    Features
  </h3>
  <p>This section allows you to toggle granite features on and off, depending on what your company needs.</p>
  <div class="ui divider"></div>

  <div class="field">
    <label for="eeoc">
      Collect EEO data<br />
      <small class="light text">
        Enabling this feature will collect data required for the EEO-1 report (race & gender). You should only enable this feature if you are required to file an annual EEO-1 Report. To find out if you are required to file an EEO-1 report, contact AE or visit <a href="https://www.eeoc.gov/employers/eeo1survey/faq.cfm" rel="noopener noreferrer">EEOC FAQ</a>.
      </small>
    </label>
    Off
    <UiCheckbox @class="toggle" @label="On" @checked={{this.model.collectEEO}} @onChange={{pipe (set this.model.collectEEO _) (fn this.data.saveRecord this.model)}} />
  </div>

  {{#if this.model.benefitsEnabled}}
    <div class="field">
      <label for="wellness-plan">
        Wellness Plan<br />
        <small class="light text">
          Does your company offer a wellness plan? Enable this to change benefit contributions for wellness participants.
        </small>
      </label>
      Off
      <UiCheckbox @id="wellness-plan" @class="toggle" @label="On" @checked={{this.model.wellnessPlan}} @onChange={{pipe (set this.model.wellnessPlan _) (fn this.data.saveRecord this.model)}} />
    </div>
  {{/if}}

  {{#if this.model.collectEEO}}
    <div class="field">
      <label for="aa">
        Collect additional Affirmative Action data<br />
        <small class="light text">
          Enabling this feature will collect data required for an Affirmative Action Plan (race, gender, veteran’s status and disabled status). You should only enable this feature if you are subject to Executive Order 11246 and required to develop an annual Affirmative Action Plan. To find out if you are subject to Executive Order 11246, contact AE or visit <a href="https://www.dol.gov/ofccp/taguides/sbguide.htm">Guide for Small Businesses with Federal Contracts</a>.
        </small>
      </label>
      Off
      <UiCheckbox @class="toggle" @label="On" @checked={{this.model.collectAA}} @onChange={{pipe (set this.model.collectAA _) (fn this.data.saveRecord this.model)}} />
    </div>
  {{/if}}

  {{#if this.model.benefitsEnabled}}
    <div class="field">
      <label for="benefit-notification">
        Benefit Notifications<br />
        <small class="light text">If no users are selected, all company users will be emailed</small>
      </label>
      <div class="fields" id="benefit-notifications">
        <div class="eight wide field">
          <label for="benefit-notifications-internal">Internal Users</label>
          <UiDropdown @id="benefit-notifications-internal" @class="fluid multiple selection" @selected={{this.model.notificationListBenefits}} @onChange={{set this.model.notificationListBenefits _}}>
            <i class="dropdown icon"></i>
            <div class="default text">Select User</div>
            <div class="menu">
              {{#each this.users as |user|}}
                <div class="item segment__activity" data-value={{user}}>
                  {{user.fullName}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="eight wide field">
          DROPDOWN HERE TO ADD EXTERNAL
        </div>
      </div>

      {{#each this.model.notificationListBenefits as |contact|}}
        
      {{/each}}
    </div>
  {{/if}}
</div>
