<div class="ui form">
  <h3 class="ui header">
    Forms
  </h3>
  <p>Manage various forms from across different GraniteHR modules.</p>
  <div class="ui divider"></div>

  <Modals::FormCreator @onNotify={{this.onNotify}} @onCreateForm={{route-action "refreshModel"}} as |openModal|>
    <ConfirmModal @class="item" as |confirm|>
      <div class="ui divided items">
        {{#each this.model as |formRecord|}}
          <ListItem::FormItem
            @model={{formRecord}}
            @onEdit={{fn openModal formRecord}}
            @onDelete={{pipe confirm (fn this.data.deleteRecord)}}/>
        {{else}}
          <h2 class="ui center aligned header">No {{this.resourceName}} available.</h2>
        {{/each}}
      </div>
    </ConfirmModal>
  </Modals::FormCreator>
</div>
