<div class="ui grid">
  <div class="four wide column">
    <h3 class="ui header">Select a list</h3>
    <div class="ui vertical fluid tabular menu">
      <a href="#" class="{{if (eq list 'dqReasons') 'active'}} item" {{action "toggleList" 'dqReasons'}}>
        Disqualification Reasons
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    {{#if dirtyList}}
      <button class="ui green fluid button" disabled={{working}} {{action 'saveList'}}>Save Changes</button>
    {{/if}}
    <div class="ui relaxed divided list">
      <a href="#" class="item" {{action "openModal" "add"}}>
        <i class="blue plus icon"></i> New item...
      </a>
      {{#each model as |item|}}
        {{list-item/settings-lists-item
          item
          addItem=(action "addItem")
          deleteItem=(action "deleteItem")
        }}
      {{/each}}
    </div>
  </div>
</div>

{{#ui-modal id="settings__add-edit-list-item" class="small form"}}
  MODAL

{{/ui-modal}}
