<div class="ui grid">
  <div class="four wide column">
    <h3 class="ui header">Select a list</h3>
    <div class="ui vertical fluid tabular menu">
      <a href="#" class="{{if (eq this.list "dqReasons") "active"}} item" {{on "click" (prevent-default (fn this.toggleList "dqReasons"))}}>
        Disqualification Reasons
      </a>
      <a href="#" class="{{if (eq this.list "labels") "active"}} item" {{on "click" (prevent-default (fn this.toggleList "labels"))}}>
        Labels
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    {{#if this.dirtyList}}
      <button type="button" class="ui green fluid button" disabled={{this.data.statuses.working.isLoading}} {{on "click" (prevent-default this.saveList)}}>Save Changes</button>
    {{/if}}
    <div class="ui relaxed divided list">
      {{#if this.list}}
        <a href="#" class="item" {{on "click" (prevent-default (pipe this.openModal this.addItem))}}>
          <i class="blue plus icon"></i> New item...
        </a>
      {{/if}}
      {{#each this.model as |item index|}}
        {{#if (eq this.list "dqReasons")}}
          <ListItem::SettingsListsItem
            @item={{item}}
            @index={{index}}
            @editItem={{pipe this.beginEdit this.openModal this.editItem}}
            @deleteItem={{this.deleteItem}} />
        {{else if (eq this.list "labels")}}
          <ListItem::SettingsListsLabel
            @item={{item}}
            @index={{index}}
            @editItem={{pipe this.beginEdit this.openModal this.editItem}}
            @deleteItem={{this.deleteItem}} />
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<UiModal @id={{this.modalId}} @class="small form">
  <div class="header">
    {{if this.editingItem "Edit" "Add"}} item
  </div>
  <div class="content">
    <QuickForm
      @form={{this.currentForm.elements}}
      @model={{this.modelForForm}}/>
  </div>
  <div class="actions">
    <button class="ui red button" type="button" {{on "click" (prevent-default (fn this.respondModal false))}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" type="button" {{on "click" (prevent-default (fn this.respondModal true))}}>
      {{if this.editingItem "Edit" "Add"}} List Item<i class="check icon"></i>
    </button>
  </div>
</UiModal>
