<div class="ui grid">
  <div class="four wide column">
    <h3 class="ui header">Select a list</h3>
    <div class="ui vertical fluid tabular menu">
      <a href="#" class="{{if (eq this.list "dqReasons") "active"}} item" {{on "click" (prevent-default (fn (action "toggleList") "dqReasons"))}}>
        Disqualification Reasons
      </a>
      <a href="#" class="{{if (eq this.list "labels") "active"}} item" {{on "click" (prevent-default (fn (action "toggleList") "labels"))}}>
        Labels
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    {{#if this.dirtyList}}
      <button type="button" class="ui green fluid button" disabled={{this.data.statuses.working.isLoading}} {{on "click" (prevent-default (action "saveList"))}}>Save Changes</button>
    {{/if}}
    <div class="ui relaxed divided list">
      {{#if this.list}}
        <a href="#" class="item" {{on "click" (prevent-default (pipe-action (action "openModal") (action "addItem")))}}>
          <i class="blue plus icon"></i> New item...
        </a>
      {{/if}}
      {{#each this.model as |item index|}}
        {{#if (eq this.list "dqReasons")}}
          {{list-item/settings-lists-item
            item
            index
            editItem=(action (pipe-action (action "beginEdit") (action "openModal") (action "editItem")))
            deleteItem=(action "deleteItem")
          }}
        {{else if (eq this.list "labels")}}
          {{list-item/settings-lists-label
            item
            index
            editItem=(action (pipe-action (action "beginEdit") (action "openModal") (action "editItem")))
            deleteItem=(action "deleteItem")
          }}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<UiModal @id={{this.modalId}} @class="small form">
  <div class="header">
    {{if this.editingItem "Edit" "Add"}} item
  </div>
  <div class="content">
    <QuickForm
      @form={{this.currentForm.elements}}
      @model={{this.modelForForm}}/>
  </div>
  <div class="actions">
    <button class="ui red button" type="button" {{on "click" (prevent-default (fn (action "respondModal") false))}}>
      Cancel
    </button>
    <button class="ui green right labeled icon button" type="button" {{on "click" (prevent-default (fn (action "respondModal") true))}}>
      {{if this.editingItem "Edit" "Add"}} List Item<i class="check icon"></i>
    </button>
  </div>
</UiModal>
