<div class="ui form">
  <h3 class="ui header ">Probationary Period</h3>
  <p>
    Adjust your company's probationary period in specified days, months, or years.
  </p>
  <div class="field">
    <label class="sr-only" for="probationary-period">Probationary Period Length</label>
    <div class="ui left icon input probationary-period-number">
      <Input @type="number" @value={{this.model.probationaryPeriodAmount}} @id="probationary-period" @onChange={{set this.model.probationaryPeriodAmount _}} />
      <i class="calendar icon"></i>
      <UiDropdown @class="inline inside-input probationary-period-unit" @selected={{this.model.probationaryPeriodUnit}} @onChange={{set this.model.probationaryPeriodUnit _}}>
        <div class="default text">Unit</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="year">
            years
          </div>
          <div class="item" data-value="month">
            months
          </div>
          <div class="item" data-value="day">
            days
          </div>
        </div>
      </UiDropdown>
    </div>
  </div>
  <div class="ui divider"></div>
  <h3 class="ui header">Corrective Action Options</h3>
  <p>
    Options are severities of actions issued during counseling when using the employee counseling module. An example of a series of options is: "Counseling", "Written Warning", "Final Written Warning" with orders of 1 through 3 respectively. Please
    review your handbook to make sure your process is communicated to your employees. Consult us if you have questions about this setup.
  </p>
  <div class="ui divider"></div>
  <button type="button" id="add-cas" class="ui primary fluid button" {{on "click" this.openSeverityModal}}>
    <i class="plus icon"></i>Add Option
  </button>
  <div class="ui list">
    {{#each this.model.correctiveActionSeverities as |severity|}}
      <div class="item">
        <ConfirmModal @class="item" as |confirm|>
          {{severity.name}} ({{severity.order}})
          <a href="#" {{on "click" (prevent-default (fn this.beginSeverityEdit severity))}}>
            <i class="edit icon"></i>
          </a>
          <a href="#" class="right floated text-danger" {{on "click" (prevent-default (pipe confirm (fn this.removeSeverity severity)))}}>Remove</a>
        </ConfirmModal>
      </div>
    {{else}}
      <p class="center aligned text">You haven't configured options, yet. Use the "Add Option" button to do so.</p>
    {{/each}}
  </div>

  <div class="ui divider"></div>

  <h3 class="ui header">Recruitment Pipeline Stages</h3>
  <p>
    Add up to five recruitment stages.
  </p>
  <div class="ui divider"></div>
  {{#liquid-if this.canAddStages}}
    <button type="button" id="add-stage" class="ui primary fluid button" {{on "click" this.openStageModal}}>
      <i class="plus icon"></i>Add Stage
    </button>
  {{/liquid-if}}

  <SortableGroup @tagName="ul" @classNames="pipeline-stage-list__cards" @onChange={{this.reorderItems}} as |group|>
    {{#each this.pipeline.stages as |stage|}}
      <SortableItem @tagName="li" @classNames="stage-list__card" @model={{stage}} @group={{group}}>
        <div class="card-content__wrapper">
          <div class="card-content__title-bar">
            <ConfirmModal @class="item" as |confirm|>
              <span class="card-content__stage-name">
                <i class="arrows alternate vertical icon"></i> {{stage.name}}
                <a href="#" {{on "click" (prevent-default (fn this.beginStageEdit stage))}}>
                  <i class="edit icon"></i>
                </a>
              </span>
              <a href="#" class="right floated text-danger delete-stage" {{on "click" (prevent-default (pipe confirm (fn this.removeStage stage)))}}>Remove</a>
            </ConfirmModal>
          </div>
        </div>
      </SortableItem>
    {{/each}}
  </SortableGroup>

  <div class="ui divider"></div>
  <form {{on "submit" (prevent-default this.save)}}>
    <Form::ActionButton type="submit" class="ui positive fluid huge button" @disabled={{this.disableSave}} @loading={{this.data.statuses.working.isLoading}}>
      Save Changes
    </Form::ActionButton>
  </form>
</div>

<UiModal @id="modal__add-cas" @class="small form">
  <div class="header">
    <i class="plus icon"></i>{{if this.editingCas "Edit" "Add"}} corrective action option
  </div>
  <div class="content">
    <QuickForm
      @form={{this.severityForm}}
      @model={{this.currentSeverity}}
      @controller={{this}}
      @tagName="div"/>
  </div>
  <div class="actions">
    {{#unless this.editingCas}}
      <button class="ui red button" {{on "click" (fn this.respondSeverityAddition false)}}>
        Cancel
      </button>
    {{/unless}}
    <button class="ui primary right labeled icon button" {{on "click" (fn this.respondSeverityAddition true)}}>
      Done
      <i class="check icon"></i>
    </button>
  </div>
</UiModal>

<UiModal @id="modal__add-stage" @class="small form">
  <div class="header">
    <i class="plus icon"></i>{{if this.editingStage "Edit" "Add"}} recruiting pipeline stage
  </div>
  <div class="content">
    <QuickForm
      @form={{this.stageForm}}
      @model={{this.currentStage}}
      @controller={{this}}
      @tagName="div"/>
  </div>
  <div class="actions">
    {{#unless this.editingStage}}
      <button class="ui red button" {{on "click" (fn this.respondStageAddition false)}}>
        Cancel
      </button>
    {{/unless}}
    <button class="ui primary right labeled confirm-add-stage icon button" {{on "click" (fn this.respondStageAddition true)}}>
      Done
      <i class="check icon"></i>
    </button>
  </div>
</UiModal>
