<div class="ui raised padded segment container clearfix animated fadeInUp">
  <h1 class="ui header titlecased text">
    Add a new {{this.type}} for {{this.employee.firstName}}
  </h1>

  <div class="ui divider"></div>

  <QuickForm
    @form={{this.currentForm.elements}}
    @model={{this.model}}
    @controller={{this}}
    @submitClass="large green fluid"
    @onsubmit={{fn this.data.saveRecord this.model "working" this.saveOptions}}>
    Add {{this.type}}
  </QuickForm>
</div>
