{{#if this.showFilters}}
  <Display::FilterPane class="ui content form padded segment container" @onChange={{this.updateFilter}} as |filter|>
    <h2>
      <i class="filter icon"></i> Filters
      <a href="#" class="ui small text right floated text-red" {{on "click" (prevent-default this.resetFilters)}}>Reset
        All</a>
    </h2>

    <filter.section @name="Enrollment Status" @activeState={{hash showInactive=false}} as |controls|>
      <controls.toggleControl
        @name="showInactive"
        @state={{this.showInactive}}
        @label="Show Inactive Enrollments"/>
    </filter.section>

    <filter.section @name="Elections" as |controls|>
    <div class="ui six fields">
      <controls.toggleControl
        @name="waiveAll"
        @state={{this.waiveAll}}
        @label="Waived All benefits"/>

      <controls.toggleControl
        @name="medical"
        @state={{this.medical}}
        @label="Medical Election"/>

      <controls.toggleControl
        @name="dental"
        @state={{this.dental}}
        @label="Dental Election"/>

      <controls.toggleControl
        @name="vision"
        @state={{this.vision}}
        @label="Vision Election"/>

      <controls.toggleControl
        @name="life"
        @state={{this.life}}
        @label="Life Election"/>

      <controls.toggleControl
        @name="other"
        @state={{this.other}}
        @label="Other Elections"/>

      </div>
    </filter.section>
  </Display::FilterPane>
{{/if}}

<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui container clearfix">
    <hgroup class="clearfix">
      <h1 class="ui header left floated">Enrollments</h1>
      <div class="right aligned text floated menu__actions">

        <h3 class="ui right floated header">
          <a href="#" class={{if this.showFilters "text-red"}}
            {{on "click" (prevent-default (toggle "showFilters" this))}}>
            <EmberTooltip @side="left" @popperContainer="body" @text="Filters" />
            <i class="{{if this.showFilters "remove" "filter"}} icon"></i>
          </a>
        </h3>

        <UiDropdown @class="left floated top pointing inline" @selected={{this.sortProp}} @onChange={{set this.sortProp _}}>
          <h3 class="ui inline header">
            <EmberTooltip @side="left" @popperContainer="body" @text="Choose sort method" />
            <a href="#" id="sort-employee-icon"><i class="sort icon"></i></a>
          </h3>
          <div class="menu">
            {{#each this.sortOptions as |option|}}
              <div class="item" data-value={{option.path}}>
                {{#if (eq option.path this.sortProp)}}
                  <i class="check icon"></i>
                {{/if}}
                {{option.label}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>

        <h3 class="ui left floated header">
          <EmberTooltip @side="left" @popperContainer="body" @text={{if this.asc "Sort descending" "Sort ascending"}} />
          <a href="#" class="top pointing inline" {{on "click" (prevent-default (toggle "asc" this))}}>
            <i class="sort amount {{if this.asc "up" "down"}} icon"></i>
          </a>
        </h3>

        <Benefits::ExportMenu />
      </div>
    </hgroup>
    <div class="ui divider"></div>
    <Display::ResourceList
      @model={{this.model}}
      @itemComponent="benefits/enrollments/enrollments-list"
      @linkTo="account.benefits.enrollments.enrollment.index"
      @linkClass="item"
      class="ui divided link items"
      @modelName="Enrollment" />
    <Elements::XPagination @page={{this.page}} @model={{this.model}} @limit={{this.limit}} @onChange={{set this.page _}} />
    </div>
</div>
