<div class="ui very padded raised segment animated fadeInUp">
  {{#if pendingApplications}}
    <h2 class="ui clearfix header">
      Applicants Awaiting Review
    </h2>

    <div class="right aligned text">
      {{#if selectedApplications}}
        <a href="#" class="ui small green button"
          {{action (pipe
            (action openModal confirmInjectModalId "inject")
            (action injectConfirmed selectedApplications)
          )}}
        >
          Move Selected To Pipeline
        </a>

        <a href="#" class="ui small orange button"
          {{action (pipe
            (action openModal confirmDisqualifyModalId 'disqualify')
            (action "disqualifyCandidate" selectedApplications)
            (action "deselectAllApplications")
          )}}
        >
          Disqualify Selected
        </a>
      {{/if}}

      {{#if showingAllPending}}
        <a href="#" class="ui small button" {{action "selectAllApplications"}}>
          Select All
        </a>
        <a href="#" class="ui small negative button" {{action "deselectAllApplications"}}>
          Deselect All
        </a>
      {{/if}}
    </div>

    <div class="ui selectable divided items {{unless (or showingAllPending (lt pendingApplications.length 4)) 'fade-unless-hovered'}}">
      {{#each
        (if (not showingAllPending)
          (take 3 pendingApplications)
          pendingApplications
        )
        as |application|
      }}
        {{list-item/pending-applicant
          application
          selected=selectedApplications
          onSelectChange=(action 'selectApplication')
        }}
      {{/each}}
    </div>

    {{#if (gt pendingApplications.length 3)}}
      <h4 class="center aligned text">
        <a href="#" class="" {{action "toggleProperty" "showingAllPending"}}>
          {{#if showingAllPending}}
            Show Less <i class="angle up icon"></i>
          {{else}}
            Show More <i class="angle down icon"></i>
          {{/if}}
        </a>
      </h4>
    {{/if}}

    <div class="ui divider"></div>
  {{/if}}

  <h2 class="ui clearfix header">
    Your Recruiting Pipeline
    <small class="right floated small text">
      <a href="#" {{action toggleProperty "showDisqualified"}}>
        {{if showDisqualified 'Hide' 'Show'}} Disqualified Applicants
      </a>
      <a href="#" {{action toggleProperty "addingApplicant"}}>
        <i class="ui plus icon"></i>
      </a>
    </small>
  </h2>

  {{#liquid-if addingApplicant}}
    <h3>Add Applicant</h3>

  <form class="ui form"  {{action "save" on="submit"}}>
    <div class="fields">
      <div class="five wide field">
        <label for="first-name">First Name</label>
        {{#auto-focus}}
          {{validated-input type="text" model=newApplicant valuePath="firstName" placeholder="First Name" id="first-name"}}
        {{/auto-focus}}
      </div>
      <div class="three wide field">
        <label for="middle-name">Middle Name</label>
        {{input type="text" value=newApplicant.middleName placeholder="Middle" id="middle-name"}}
      </div>
      <div class="five wide field">
        <label for="last-name">Last Name</label>
        {{validated-input type="text" model=newApplicant valuePath="lastName" placeholder="Last Name" id="last-name"}}
      </div>
      <div class="three wide field">
        <label for="suffix-name">Suffix</label>
        {{#ui-dropdown class="selection" onChange=(action (mut newApplicant.suffixName))}}
          <div class="default text">Suffix</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each suffixes as |suffix|}}
              <div class="item" data-value="{{suffix}}">
                {{suffix}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="employee-phone">Phone Number</label>
        {{masked-input type="tel" placeholder="Employee Phone #" id="employee-phone" mask="(111) 111-1111" on-change=(action (mut newApplicant.phone) value='target.value')}}
      </div>
      <div class="field">
        <label for="email">Email</label>
        {{validated-input type="email" model=newApplicant valuePath="email" placeholder="Email" id="email"}}
      </div>
    </div>
    <div class="field">
      <label for="cover-letter">Cover Letter</label>
      {{textarea rows="5" placeholder="Cover Letter" value=newApplication.coverLetter}}
    </div>

    <div class="ui divider"></div>
    {{#form/action-button type="submit" class="ui massive fluid green button" disabled=disabled loading=working}}Create Applicant{{/form/action-button}}
  </form>
  {{/liquid-if}}


  {{#confirm-modal
    confirmContent='Are you sure you want to hire and onboard this candidate?'
    as |confirm|}}
    {{card-pipeline
      activeCandidates
      pipeline=model.pipeline
      onDisqualify=(action (pipe
        (action set 'appInDisqualifyConfirm')
        (action openModal confirmDisqualifyModalId 'disqualify')
        (action "disqualifyCandidate" appInDisqualifyConfirm)
      ))
      onUnDisqualify=(action "unDisqualifyCandidate")
      onUnHire=(action "unSetHire")
      onSchedule=(action (pipe
        (action set 'appInScheduler')
        (action resetMeeting)
        (action openModal schedulerModalId 'scheduler')
        (action saveMeeting)
      ))
      onOnboardCandidate=(action (pipe
        (action confirm)
        (action beginOnboarding)
      ))
    }}
  {{/confirm-modal}}

  {{modals/ats-confirm-inject
    applicants=selectedApplications
    modalId=confirmInjectModalId
    onResponse=(action 'modalResponse' 'inject')}}

  {{modals/ats-confirm-disqualify
    appInDisqualifyConfirm
    modalId=confirmDisqualifyModalId
    onResponse=(action 'modalResponse' 'disqualify')}}

  {{modals/ats-scheduler
    appInScheduler
    currentMeeting
    modalId=schedulerModalId
    availableOrganizers=model.employees
    onResponse=(action 'modalResponse' 'scheduler')}}
</div>
