<div class="ui very padded raised segment animated fadeInUp">
  {{#if pendingApplications}}
    <h2 class="ui clearfix header">
      Applicants Awaiting Review
    </h2>

    {{#if showingAllPending}}
      <div class="right aligned text">
        <a href="#" class="ui small button" {{action "selectAllApplications"}}>
          Select All
        </a>
        <a href="#" class="ui small negative button" {{action "deselectAllApplications"}}>
          Deselect All
        </a>
      </div>
    {{/if}}

    <div class="ui selectable divided items {{unless showingAllPending 'fade-unless-hovered'}}">
      {{#each
        (if (not showingAllPending)
          (take 3 pendingApplications)
          pendingApplications
        )
        as |application|
      }}
        {{list-item/pending-applicant
          application
          selected=selectedApplications
          onSelectChange=(action 'selectApplication')
        }}
      {{/each}}
    </div>

    {{#if (gt pendingApplications.length 3)}}
      <h4 class="center aligned text">
        <a href="#" class="" {{action "toggleProperty" "showingAllPending"}}>
          {{#if showingAllPending}}
            Show Less <i class="angle up icon"></i>
          {{else}}
            Show More <i class="angle down icon"></i>
          {{/if}}
        </a>
      </h4>
    {{/if}}

    <div class="ui divider"></div>
  {{/if}}

  <h2 class="ui clearfix header">
    Your Recruiting Pipeline
  </h2>
  {{card-pipeline activeCandidates}}

</div>
