<div class="ui very padded raised segment animated fadeInUp">
  {{#if pendingApplications}}
    <h2 class="ui clearfix header">
      Applicants Awaiting Review
    </h2>

    <div class="right aligned text">
      {{#if selectedApplications}}
        <a href="#" class="ui small green button"
          {{action (pipe
            (action openModal confirmInjectModalId "inject")
            (action injectConfirmed selectedApplications)
          )}}
        >
          Move Selected To Pipeline
        </a>

        <a href="#" class="ui small orange button"
          {{action (pipe
            (action openModal confirmDisqualifyModalId 'disqualify')
            (action "disqualifyCandidate" selectedApplications)
            (action "deselectAllApplications")
          )}}
        >
          Disqualify Selected
        </a>
      {{/if}}

      {{#if showingAllPending}}
        <a href="#" class="ui small button" {{action "selectAllApplications"}}>
          Select All
        </a>
        <a href="#" class="ui small negative button" {{action "deselectAllApplications"}}>
          Deselect All
        </a>
      {{/if}}
    </div>

    <div class="ui selectable divided items {{unless (or showingAllPending (lt pendingApplications.length 4)) 'fade-unless-hovered'}}">
      {{#each
        (if (not showingAllPending)
          (take 3 pendingApplications)
          pendingApplications
        )
        as |application|
      }}
        {{list-item/pending-applicant
          application
          selected=selectedApplications
          onSelectChange=(action 'selectApplication')
        }}
      {{/each}}
    </div>

    {{#if (gt pendingApplications.length 3)}}
      <h4 class="center aligned text">
        <a href="#" class="" {{action "toggleProperty" "showingAllPending"}}>
          {{#if showingAllPending}}
            Show Less <i class="angle up icon"></i>
          {{else}}
            Show More <i class="angle down icon"></i>
          {{/if}}
        </a>
      </h4>
    {{/if}}

    <div class="ui divider"></div>
  {{/if}}

  <h2 class="ui clearfix header">
    Your Recruiting Pipeline
    <small class="right floated small text">
      <a href="#" {{action toggleProperty "showDisqualified"}}>
        {{if showDisqualified 'Hide' 'Show'}} Disqualified Applicants
      </a>
    </small>
  </h2>

  {{#confirm-modal
    confirmContent='Are you sure you want to hire and onboard this candidate?'
    as |confirm|}}
    {{card-pipeline
      activeCandidates
      pipeline=model.pipeline
      onDisqualify=(action (pipe
        (action set 'appInDisqualifyConfirm')
        (action openModal confirmDisqualifyModalId 'disqualify')
        (action "disqualifyCandidate" appInDisqualifyConfirm)
      ))
      onUnDisqualify=(action "unDisqualifyCandidate")
      onSchedule=(action (pipe
        (action set 'appInScheduler')
        (action resetMeeting)
        (action openModal schedulerModalId 'scheduler')
        (action saveMeeting)
      ))
      onOnboardCandidate=(action (pipe
        (action confirm)
        (action beginOnboarding)
      ))
    }}
  {{/confirm-modal}}

  {{modals/ats-confirm-inject
    applicants=selectedApplications
    modalId=confirmInjectModalId
    onResponse=(action 'modalResponse' 'inject')}}

  {{modals/ats-confirm-disqualify
    appInDisqualifyConfirm
    modalId=confirmDisqualifyModalId
    onResponse=(action 'modalResponse' 'disqualify')}}

  {{modals/ats-scheduler
    appInScheduler
    currentMeeting
    modalId=schedulerModalId
    availableOrganizers=model.employees
    onResponse=(action 'modalResponse' 'scheduler')}}
</div>
