<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached {{if this.model.disqualified "red" "green"}} label">
    <i class="info circle icon"></i>
    This application is currently
    {{~#if this.model.disqualified}}
      disqualified{{#if this.model.disqualificationReason}} ({{this.model.disqualificationReason}}){{/if}}
    {{~else if this.stage}}
      in the <strong>{{this.stage.name}}</strong> stage
    {{~else}}
      not in a stage
    {{~/if}}.
    <div class="right floated detail">
      Submitted {{time-ago this.model.created}} on {{time this.model.created}}
    </div>
  </div>

  <hgroup class="clearfix">
    <span class="ui large header">
      Job Application for {{this.model.person.firstName}} {{this.model.person.lastName}}
    </span>

    {{#ui-dropdown class="item icon top right floated right pointing"}}
      <i class="wrench icon"></i><i class="dropdown fitted icon"></i>
      <div class="menu">
        <div class="header">Actions</div>
        {{#link-to "account.job-opening.campaign.job-application.edit" this.model.id class="item"}}
          <i class="edit icon"></i>Edit Application
        {{/link-to}}
      </div>
    {{/ui-dropdown}}
  </hgroup>

  <div class="job-application__labels">
    {{#each this.model.labels as |label|}}
      {{custom-label label size="small" tagName="span"}}
    {{/each}}
  </div>

  <div class="ui divider"></div>

  {{outlet}}
</div>
