<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached green label">
    <i class="info circle icon"></i>
    This application is currently
    {{~#if stage}}
      in the <strong>{{stage.name}}</strong> stage
    {{~else}}
      not in a stage
    {{~/if}}.
    <div class="right floated detail">
      Submitted {{time-ago model.created}} on {{time model.created}}
    </div>
  </div>

  <hgroup class="clearfix">
    <span class="ui large header">
      Job Application for {{model.person.firstName}} {{model.person.lastName}}
    </span>

    {{#ui-dropdown class="item icon top right floated right pointing"}}
      <i class="wrench icon"></i><i class="dropdown fitted icon"></i>
      <div class="menu">
        <div class="header">Actions</div>
        {{#link-to "account.job-opening.campaign.job-application.edit" model.id class="item"}}
          <i class="edit icon"></i>Edit Application
        {{/link-to}}
      </div>
    {{/ui-dropdown}}
  </hgroup>

  <div class="ui divider"></div>

  {{outlet}}
</div>
