<UiModal @id={{or @modalId this.modalId}} @observeChanges={{true}} @context=".ember-application">
  <i class="close icon"></i>
  <div class="header">
    Sharing Configuration<br>
    <small class="light text">
      Manage link sharing of this job application
    </small>
  </div>
  <div class="content ui form">
    {{#if this.data.statuses.linkSharing.isLoading}}
      <div class="ui active inverted dimmer">
        <div class="ui text loader">Hang on...</div>
      </div>
    {{/if}}
    <div class="field">
      <label for="link-sharing">
        Link Sharing<br>
        <p class="light text">
          Use link sharing to enable a publicly accessible page for this application, so you can share it with collegues that don't have a Granite HR account.
        </p>
      </label>
      <UiCheckbox @id="link-sharing" @class="toggle" @label={{if this.publicLink "Link sharing is enabled. Click to turn off link sharing." "Link sharing is disabled. Click to turn on link sharing."}} @checked={{this.publicLink}} @onChange={{fn this.toggleSharedLink}} />
    </div>

    {{#if this.publicLink}}
      <p>
        Public application link for {{@model.applicant.firstName}}<br>
        <a href={{this.publicLink}} target="_blank" rel="noopener noreferrer">{{this.publicLink}}</a><br>
        <strong>
          Treat this link like a password for the job application.
        </strong>
      </p>

      <div class="ui divider"></div>
      <div class="field">
        <label>Send public link to emails</label>
        <UiDropdown @class="fluid search multiple selection" @selected={{this.sendTo}} @allowAdditions={{true}} @onChange={{set this.sendTo _}} as |execute mapper|>
          <i class="dropdown icon"></i>
          <div class="default text">Add emails to send link</div>
          <div class="menu">
            {{#each this.prevEmails as |item|}}
              <div class="item" data-value={{map-value mapper item}}>
                {{item}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
      <div class="field">
        <label>Note to recipients (optional)</label>
        <Textarea @rows="3" placeholder="Note" @value={{this.linkNote}} />
      </div>

      <button class="ui fluid primary {{if this.data.statuses.linkSharing.isLoading "loading"}} button" disabled={{or this.data.statuses.linkSharing.isLoading (not this.sendTo.length)}} {{on "click" this.sendLink}} type="button">
        Send Link
      </button>
    {{/if}}
  </div>
  <div class="actions">
    <p class="left floated">
      {{#if this.errorMessage}}
        <p class="text-red">{{this.errorMessage}}</p>
      {{/if}}
      {{#if this.successMessage}}
        <p class="text-green">{{this.successMessage}}</p>
      {{/if}}
    </p>
    <button class="ui right button" disabled={{this.data.statuses.linkSharing.isLoading}} {{on "click" (fn this.respond @model)}} type="button">
      Close
    </button>
  </div>
</UiModal>
