{{stateful-intro-js
  user=auth.user
  steps=intros
  start-if=true
  hintKey="recruiting-campaigns-index"}}

{{#if showFilters}}
  {{#display/filter-pane
    class="ui content form padded segment container"
    onChange=(action "updateFilter") as |filter|
  }}
    <h2>
      <i class="filter icon"></i> Filters
      <div class="ui horizontal list right floated">
        <div class="item">
          <button class="negative ui button small text" {{action "resetFilters"}}>Reset All</button>
        </div>
        <div class="item">
          <a href="#" class="light text" {{action toggleProperty "showFilters"}}>
            <i class="remove icon"></i>
          </a>
        </div>
      </div>
    </h2>

    {{#filter.section "Job Description"}}
      {{#filter.selectControl
        "job"
        job
        searchable=true
        model=jobs as |item|
      }}
        {{item.title}}{{#if item.description}} - <span class="light text">{{item.description}}</span>{{/if}}
      {{/filter.selectControl}}
    {{/filter.section}}

    {{#filter.section "Additional Filters"}}
      <div class="ui two fields">
        {{filter.toggleControl
          "closed"
          closed
          label="Is Closed"
          class="center aligned text field"}}

        {{filter.toggleControl
          "setup"
          setup
          label="Needs Setup"
          class="center aligned text field"}}
      </div>
    {{/filter.section}}
  {{/display/filter-pane}}
{{/if}}

<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Recruiting Campaigns
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui inline header">
        {{#link-to "account.recruiting.index.new"}}
          <i id="add-job-opening" class="plus icon"></i>
        {{/link-to}}
        {{#ui-popup position="left center" content="Filters" tagName="span"}}
          <a href="#" class={{if showFilters "text-red"}} {{action toggleProperty "showFilters"}}>
            <i class="{{if showFilters "remove" "filter"}} icon"></i>
          </a>
        {{/ui-popup}}
      </h3>
    </div>
  </hgroup>
  <div class="ui divider"></div>

  {{display/resource-list
    model
    "list-item/job-opening-item"
    class="ui divided items"}}

  {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}}
</div>
