{{stateful-intro-js
  user=this.auth.user
  steps=this.intros
  start-if=true
  hintKey="recruiting-campaigns-index"}}

{{#if this.showFilters}}
  {{#display/filter-pane
    class="ui content form padded segment container"
    onChange=(action "updateFilter") as |filter|
  }}
    <h2>
      <i class="filter icon"></i> Filters
      <div class="ui horizontal list right floated">
        <div class="item">
          <button class="negative ui button small text" {{action "resetFilters"}}>Reset All</button>
        </div>
        <div class="item">
          <a href="#" class="light text" {{action this.toggleProperty "showFilters"}}>
            <i class="remove icon"></i>
          </a>
        </div>
      </div>
    </h2>

    {{#filter.section "Job Description"}}
      {{#filter.selectControl
        "job"
        this.job
        searchable=true
        model=this.jobs as |item|
      }}
        {{item.title}}{{#if item.description}} - <span class="light text">{{item.description}}</span>{{/if}}
      {{/filter.selectControl}}
    {{/filter.section}}

    {{#filter.section "Additional Filters"}}
      <div class="ui two fields">
        {{filter.toggleControl
          "closed"
          this.closed
          label="Is Closed"
          class="center aligned text field"}}

        {{filter.toggleControl
          "setup"
          this.setup
          label="Needs Setup"
          class="center aligned text field"}}
      </div>
    {{/filter.section}}
  {{/display/filter-pane}}
{{/if}}

<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Recruiting Campaigns
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui inline header">
        {{#link-to "account.recruiting.index.new"}}
          {{ember-tooltip
            side="left"
            popperContainer="body"
            text="Start a campaign"}}
          <i id="add-job-opening" class="plus icon"></i>
        {{/link-to}}
        <a href="#" class={{if this.showFilters "text-red"}} {{action this.toggleProperty "showFilters"}}>
          {{ember-tooltip
            side="left"
            popperContainer="body"
            text="Filters"}}
          <i class="{{if this.showFilters "remove" "filter"}} icon"></i>
        </a>
      </h3>
    </div>
  </hgroup>
  <div class="ui divider"></div>

  {{display/resource-list
    this.model
    "list-item/job-opening-item"
    class="ui divided items"}}

  {{elements/x-pagination
    page=(readonly this.page)
    pages=(readonly this.pages)
    onchange=(action (mut this.page))}}
</div>
