<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      New Position
    </h1>
    <h4 class="right floated"><LinkTo @route="account.recruiting.job-descriptions.new">Add a job description...</LinkTo></h4>
  </hgroup>
  <div class="ui divider"></div>

  <QuickForm
    @form={{this.form}}
    @model={{this.model}}
    @controller={{this}}
    @working={{this.data.statuses.savingCampaign.isLoading}}
    @submitClass="huge fluid green"
    @onsubmit={{this.save}}
    @disabled={{or (and (not this.model.name) (not this.model.defaultName)) (not this.model.job)}}
  >
    Save and Continue
  </QuickForm>
</div>
