<div class="card-content__wrapper">
  <div class="card-content__title-bar">
    <span class="card-content__applicant-name">
      {{this.application.person.firstName}} {{this.application.person.lastName}}
    </span>
    <div class="card-title-bar__controls">
      <UiDropdown @class="title-bar__control item icon top right pointing" @direction="downward">
        <i class="exchange icon"></i>
        <div class="menu">
          <div class="header">Move candidate to...</div>
          {{#each this.allExceptCurrentStage as |stage|}}
            <a href="#" class="item" {{action "moveTo" stage}}>{{stage.name}}</a>
          {{/each}}
        </div>
      </UiDropdown>
      {{#unless this.controlsDisabled}}
        <UiDropdown @class="title-bar__control item icon top right pointing">
          <i class="setting icon"></i>
          <div class="menu">
            <a href="#" class="item" {{action this.onSchedule this.application}}><i class="calendar icon"></i> Schedule...</a>
            <a href="#" class="item" {{action this.onAddLabel this.application}}><i class="plus icon"></i> Add/Remove labels</a>
            <a href="#" class="item" {{action this.onDisqualify this.application}}><i class="remove circle icon"></i> Disqualify candidate...</a>
            <a href="#" class="item" {{action this.onLinkSharing this.application}}><i class="globe icon"></i> Sharing...</a>
            {{#if this.onOnboardCandidate}}
              <a href="#" class="item" {{action this.onOnboardCandidate this.application}}>
                <i class="user plus icon"></i> Hire candidate...
              </a>
            {{/if}}
          </div>
        </UiDropdown>
      {{/unless}}
    </div>
  </div>

  <div class="card-content__email">
    <a href="mailto:{{this.application.person.email}}?subject=Regarding the {{this.application.jobOpening.job.title}} position">{{this.application.person.email}}</a>
  </div>

  <div class="card-content__next-schedule">
    {{#if (await this.nextMeeting)}}
      Next meeting is {{time-ago (get (await this.nextMeeting) "start")}}
    {{else}}
      Nothing scheduled
    {{/if}}
  </div>

  <div class="card-content__application-link card-content__score-container">
    <LinkTo @route="account.job-opening.campaign.job-application" @model={{this.application.id}}>Open Application</LinkTo>
    {{#if this.application.isScored}}
      <Display::CalcColor @value={{this.application.scoreAbs}} as |red green|>
        {{! template-lint-disable }}
        <span style="color: rgb({{red}}, {{green}}, 0)" class="card-content__score">
          {{this.application.scoreAbs}}%
        {{! template-lint-enable }}
        </span>
      </Display::CalcColor>
    {{/if}}
    <span class="card-content__entry-method">
      {{if this.application.manualEntry "Manual Entry" "From Quartz"}}
    </span>
  </div>

  {{#if (gt this.application.labels.length 0)}}
    <div class="card-content__labels">
      {{#each (take 3 this.application.labels) as |label|}}
        {{custom-label label size="mini"}}
      {{/each}}
      {{#if (gt this.application.labels.length 3)}}
        <i class="gray-icon ellipsis horizontal icon">
          <EmberTooltip @side="top" @popperContainer="body">
            {{#each (drop 3 this.application.labels) as |label|}}
              {{custom-label label tagName="span" size="mini"}}
            {{/each}}
          </EmberTooltip>
        </i>
      {{/if}}
    </div>
  {{/if}}
</div>

{{#if this.application.employee.id}}
  <span class="ui bottom attached blue label">
    <i class="fitted user icon"></i>
    Internal applicant
  </span>
{{/if}}

{{#if this.application.hired}}
  <div class="ui bottom attached green label">
    <i class="fitted check icon"></i>
    Marked as hired on {{time this.application.hiredSetOn "M/D/YY"}}
    {{#if this.application.hiredSetBy.firstName}}
      by {{this.application.hiredSetBy.firstName}}
    {{/if}}
    {{!-- <a class="ui right floated"{{action onUnHire application}}>
      <i class="history icon"></i>
      Undo
    </a> --}}
  </div>
{{/if}}

{{#if this.application.disqualified}}
  <div class="ui bottom attached red label">
    <i class="fitted remove icon"></i>
    Candidate is disqualified
    {{#if this.application.disqualificationReason}}
      ({{this.application.disqualificationReason}})
    {{/if}}
    {{#if this.application.disqualificationEmail}}<span class="card-content__notified">Notified</span>{{/if}}
    <a class="ui right floated" role="button" {{action this.onUnDisqualify this.application}}>
      <i class="history icon"></i>
      Undo
    </a>
  </div>
{{/if}}
