<div class="right aligned text floated menu__actions">
  <h3 class="ui header">
    {{#input/document-selection-modal
      title="Assign asset documents"
      selected=model.documents
      autoTag="Asset"
      onSelected=(pipe-action
        (action (mut model.documents))
        (action "save"))
      as |execute|
    }}
      <a href="#" {{action execute "selectDocuments"}}>
        {{ember-tooltip
          side="left"
          popperContainer="body"
          text="Add a document"}}
        <i class="plus icon"></i>
      </a>
    {{/input/document-selection-modal}}
  </h3>
</div>

<div class="ui divided items">
  {{#each model.documents as |file|}}
    <span class="item">
      {{list-item/document-item
        file
        deleteAction=(action "removeDocument")
        confirmDeleteContent="Are you sure you want to remove this document?"
      }}
    </span>
  {{else}}
    <h2 class="ui center aligned header">No documents available.</h2>
  {{/each}}
</div>

{{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
