<h3 class="ui header">
  {{#liquid-if (or this.addingAsset this.editAsset)}}
    <LinkTo @route="account.asset.index" class="right floated text-danger">
      <EmberTooltip @side="left" @popperContainer="body" @text="Cancel" />
      <i class="remove icon"></i>
    </LinkTo>
  {{else}}
    <div class="right floated">
      {{#if this.model}}
        <a href="#" {{action "toggleProperty" "expandAttributes"}}>
          <EmberTooltip @side="left" @popperContainer="body" @text={{if this.expandAttributes "Hide all stock attributes" "Show all stock attributes"}} />
          <i class="eye {{if this.expandAttributes "slash"}} icon"></i>
        </a>
      {{/if}}
      <LinkTo @route="account.asset.index.new">
        <EmberTooltip @side="left" @popperContainer="body" @text="Add an asset stock item" />
        <i class="plus icon"></i>
      </LinkTo>
    </div>
  {{/liquid-if}}
</h3>

{{liquid-outlet class="add-asset-stock"}}

<div class="ui relaxed divided list">
  {{#each this.model as |asset|}}
    <ListItem::AssetStockItem @asset={{asset}} @showAttributes={{this.expandAttributes}} @addDocuments={{true}} @saveStockItem={{action "save" asset}} @onDelete={{action "delete"}} />
  {{else}}
    <h2 class="ui center aligned header">No assets available. <LinkTo @route="account.asset.index.new">Add one?</LinkTo></h2>
  {{/each}}
</div>
<Elements::XPagination @page={{readonly this.page}} @pages={{readonly this.pages}} @onchange={{action (mut this.page)}} />
