<h3 class="ui header">
  {{#liquid-if (or addingAsset editAsset)}}
    {{#link-to "account.asset.index" class="right floated text-danger"}}
      {{ember-tooltip
        side="left"
        popperContainer="body"
        text="Cancel"}}
      <i class="remove icon"></i>
    {{/link-to}}
  {{else}}
    <div class="right floated">
      {{#if model}}
        <a href="#" {{action "toggleProperty" "expandAttributes"}}>
          {{ember-tooltip
            side="left"
            popperContainer="body"
            text=(if expandAttributes "Hide all stock attributes" "Show all stock attributes")}}
          <i class="eye {{if expandAttributes "slash"}} icon"></i>
        </a>
      {{/if}}
      {{#link-to "account.asset.index.new"}}
        {{ember-tooltip
          side="left"
          popperContainer="body"
          text="Add an asset stock item"}}
        <i class="plus icon"></i>
      {{/link-to}}
    </div>
  {{/liquid-if}}
</h3>

{{liquid-outlet class="add-asset-stock"}}

<div class="ui relaxed divided list">
  {{#each model as |asset|}}
    {{list-item/asset-stock-item
      asset=asset
      showAttributes=expandAttributes
      addDocuments=true
      saveStockItem=(action "save" asset)
      onDelete=(action "delete")}}
  {{else}}
    <h2 class="ui center aligned header">No assets available. {{#link-to "account.asset.index.new"}}Add one?{{/link-to}}</h2>
  {{/each}}
</div>
{{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
