{{#if this.showFilters}}
  <Display::FilterPane @class="ui content form padded segment container" @onChange={{action "updateFilter"}} as |filter|>
    <h2>
      <i class="filter icon"></i> Filters
      <a href="#" class="ui small text right floated text-red" {{action "resetFilters"}}>Reset All</a>
    </h2>

    {{#filter.section "Visibility" activeState=(hash visibleToEmployee=false)}}
      {{filter.toggleControl
        "visibleToEmployee"
        this.visibleToEmployee
        label="Visible To Employee"}}
    {{/filter.section}}

    {{#filter.section "Viewed by Employee" activeState=(hash readOn=false)}}
      {{filter.toggleControl
        "readOn"
        this.readOn
        label="Viewed"}}
    {{/filter.section}}

    {{#filter.section "Signed by Employee" activeState=(hash signedOn=false)}}
      {{filter.toggleControl
        "signedOn"
        this.signedOn
        label="Signed"}}
    {{/filter.section}}
  </Display::FilterPane>
{{/if}}

<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Assigned Documents
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui inline header">
        <LinkTo @route="account.employee.index.documents.new">
          <EmberTooltip @side="left" @popperContainer="body" @text="Assign a document" />
          <i id="add-document" class="plus icon"></i>
        </LinkTo>
        <a href="#" class={{if this.showFilters "text-red"}} {{action this.toggleProperty "showFilters"}}>
          <EmberTooltip @side="left" @popperContainer="body" @text="Filters" />
          <i class="{{if this.showFilters "remove" "filter"}} icon"></i>
        </a>
      </h3>
    </div>
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided items">
    {{#each this.model as |assignment|}}
      <ListItem::EmployeeDocumentItem @assignment={{assignment}} @onNotify={{route-action "notify"}} />
    {{else}}
      <h2 class="ui center aligned header">No file assignments available.</h2>
    {{/each}}
  </div>

  <Elements::XPagination
    @page={{this.page}}
    @model={{this.model}}
    @limit={{this.limit}}
    @onChange={{set this.page _}} />
</div>
