<div class="ui raised padded segment container clearfix animated fadeInUp">
  <div class="ui form">
    <hgroup class="clearfix">
      <h1 class="ui header left floated">
        Assign New Document to {{this.model.employee.fullName}}
      </h1>
    </hgroup>
    <div class="ui divider"></div>
    <div class="center aligned text">
      <Input::DocumentSelectionModal @title="Add a document" @assignText="Use Documents" @selection={{this.docModalSelection}} @onSelected={{this.addAssignment}} as |execute|>
        <a href="#" {{on "click" (prevent-default execute)}}>Choose a Document</a>
      </Input::DocumentSelectionModal>
    </div>
    <div class="ui divided list">
      {{#each assignments as |assignment|}}
        <ListItem::DocumentAssignment
          @model={{assignment}}
          class="item"
          @onRemove={{this.removeAssignment}} />
      {{else}}
        <h3 class="center aligned light text">Nothing assigned, yet.</h3>
      {{/each}}
    </div>
    {{#if assignments}}
      <div class="ui divider"></div>
      <form {{on "submit" (prevent-default (pipe this.saveAssignment (route-action "refreshModel")))}}>
        <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{working}} @disabled={{not assignments}}>Assign {{assignments.length}} {{inflect-text "Document" assignments.length}}</Form::ActionButton>
      </form>
    {{/if}}
  </div>
</div>
