<div class="ui raised padded segment container clearfix animated fadeInUp">
  <div class="ui form">
    <hgroup class="clearfix">
      <h1 class="ui header left floated">
        Assign New Document to {{model.employee.fullName}}
      </h1>
    </hgroup>
    <div class="ui divider"></div>
    <div class="center aligned text">
      {{#input/document-selection-modal
        title="Add a document"
        assignText="Use Documents"
        selection=docModalSelection
        onSelected=(action "addAssignment")
        as |execute|}}
        <a  href="#" {{action execute}}>Choose a Document</a>
      {{/input/document-selection-modal}}
    </div>
    <div class="ui divided list">
      {{#each assignments as |assignment|}}
        {{list-item/document-assignment
          assignment
          class="item"
          onRemove=(action "removeAssignment")
          onChange=(action "change")}}
      {{else}}
        <h3 class="center aligned light text">Nothing assigned, yet.</h3>
      {{/each}}
    </div>
    {{#if assignments}}
      <div class="ui divider"></div>
      <form {{action "saveAssignment" on="submit"}}>
        {{#form/action-button type="submit" class="ui huge fluid green button" loading=working disabled=(not assignments)}}Assign {{assignments.length}} {{inflect-text "Document" assignments.length}}{{/form/action-button}}
      </form>
    {{/if}}
  </div>
</div>
