<div class="ui tall stacked opaque very padded container segment">
  <form class="ui form" {{action "submit" nonce on="submit"}}>
    <h1 class="ui header centered"><i class="lock icon"></i>Payment Information</h1>

    <div class="ui divider"></div>
    {{braintree-dropin
      braintreeOptions=(hash
        paypal=(hash
         flow="vault"
        )
      )
      authorization=braintreeToken.token
      onNonce=(action (mut nonce))}}
    <div>
      {{#unless showPromo}}
        <a href="#" class="link__promo-toggle"{{action toggleProperty "showPromo"}}>Have a promo code?</a>
      {{/unless}}
      <p class="right aligned very small text"><i class="lock icon"></i>Powered by Braintree Payments</p>
    </div>

    {{#if showPromo}}
      <div class="animated fadeInUp container__promo-code">
        <div class="ui divider"></div>
        <h3>Promo Code</h3>
        {{#if appliedPromo}}
          <p class="text-green promo-code__applied">
            <i class="check icon"></i>
            <strong>Account promo code applied, "{{appliedPromo.code}}" for {{appliedPromo.amount}} off.</strong>
          </p>
        {{/if}}
        <div class="ui stackable grid">
          <div class="thirteen wide column field">
            {{input/ui-input
              type="text"
              inputId="promo"
              inputClass="ui large input promo-code__input"
              srOnly=true
              placeholder="Enter a promo code"
              value=promoCode}}
          </div>
          <div class="three wide column field">
            <button type="button" class="ui large fluid blue button promo-code__apply" disabled={{not promoCode}} {{action "verifyDiscount"}}>Apply</button>
          </div>
        </div>
      </div>
    {{/if}}

    <h4 class="ui horizontal divider header">Note</h4>
    <p class="center aligned text">We won't charge your card until after the trial and have added active employees. You may also cancel at any time. Adding your payment information and completing your account setup creates a monthly subscription that adjusts based on active employees. {{#link-to "pricing"}}Learn more about our pricing.{{/link-to}}</p>

    {{#form/action-button type="submit" disabled=(or savingStep (not nonce)) class="ui massive fluid green button" loading=savingStep}}
      Start 14-day trial and setup Granite
    {{/form/action-button}}
  </form>
</div>
