<div class="ui tall stacked opaque very padded container segment">
  <form class="ui form" {{action "submit" this.nonce on="submit"}}>
    <h1 class="ui header centered"><i class="lock icon"></i>Payment Information</h1>

    <div class="ui divider"></div>
    <BraintreeDropin @braintreeOptions={{hash
        paypal=(hash
         flow="vault"
        )
      }} @authorization={{this.braintreeToken.token}} @onNonce={{action (mut this.nonce)}} />

    <div>
      {{#unless this.showPromo}}
        <a href="#" class="link__promo-toggle" {{action this.toggleProperty "showPromo"}}>Have a promo code?</a>
      {{/unless}}
      <p class="right aligned very small text"><i class="lock icon"></i>Powered by Braintree Payments</p>
    </div>

    {{#if this.showPromo}}
      <div class="animated fadeInUp container__promo-code">
        <div class="ui divider"></div>
        <h3>Promo Code</h3>
        {{#if this.appliedPromo}}
          <p class="text-green promo-code__applied">
            <i class="check icon"></i>
            <strong>Account promo code applied, "{{this.appliedPromo.code}}" for {{this.appliedPromo.amount}} off.</strong>
          </p>
        {{/if}}
        <div class="ui stackable grid">
          <div class="thirteen wide column field">
            <Input::UiInput @type="text" @inputId="promo" @inputClass="ui large input promo-code__input" @srOnly={{true}} @placeholder="Enter a promo code" @value={{this.promoCode}} />
          </div>
          <div class="three wide column field">
            <button type="button" class="ui large fluid blue button promo-code__apply" disabled={{not this.promoCode}} {{action "verifyDiscount"}}>Apply</button>
          </div>
        </div>
      </div>
    {{/if}}

    <h4 class="ui horizontal divider header">Note</h4>
    <p class="center aligned text">We won't charge your card until after the trial and have added active employees. You may also cancel at any time. Adding your payment information and completing your account setup creates a monthly subscription that adjusts based on active employees. <LinkTo @route="pricing">Learn more about our pricing.</LinkTo></p>

    <Form::ActionButton type="submit" @disabled={{or this.savingStep (not this.nonce)}} class="ui massive fluid green button" @loading={{this.savingStep}}>
      Start 14-day trial and setup Granite
    </Form::ActionButton>
  </form>
</div>
