<div class="ui tall stacked opaque very padded container segment">
  <form class="ui form" {{action "saveCompany" on="submit"}}>
    <h1 class="ui header centered">Company Information</h1>
    <div class="ui divider"></div>

    <div class="field">
      <label for="company-name" class="sr-only">Company Name</label>
      {{validated-input type="text" model=model valuePath="name" placeholder="Company Name" id="company-name"}}
    </div>

    <h3 class="ui horizontal divider header"><i class="phone icon"></i>Primary Contact</h3>
    <div class="three fields">
      <div class="field">
        <label for="first-name" class="sr-only">First Name</label>
        {{validated-input type="text" model=model valuePath="contactFirstName" placeholder="First Name" id="first-name"}}
      </div>
      <div class="field">
        <label for="middle-name" class="sr-only">Middle Name</label>
        {{input type="text" value=model.contactMiddleName placeholder="Middle(Optional)" id="middle-name"}}
      </div>
      <div class="field">
        <label for="last-name" class="sr-only">Last Name</label>
        {{validated-input type="text" model=model valuePath="contactLastName" placeholder="Last Name" id="last-name"}}
      </div>
    </div>
    <div class="field">
      <label for="company-email" class="sr-only">Email Address</label>
       {{validated-input type="text" model=model valuePath="email" placeholder="Email Address" id="company-email"}}
    </div>
    <div class="two fields">
      <div class="twelve wide field">
        {{#validated-input model=model valuePath="contactPhone"}}
          {{masked-input placeholder="Phone Number" mask="(111) 111-1111" on-change=(action (mut model.contactPhone) value="target.value") name="phone-number"}}
        {{/validated-input}}
      </div>
      <div class="four wide field">
        {{input type="text" name="phone-extension" value=model.contactExtension placeholder="Extension"}}
      </div>
    </div>

    <h3 class="ui horizontal divider header"><i class="building icon"></i>Address</h3>
    <div class="fields">
      <div class="twelve wide field">
        <label for="street-address"></label>
        {{validated-input type="text" model=model valuePath="addressLine1" placeholder="Street Address" id="street-address"}}
      </div>
      <div class="four wide field">
        <label for="suite-number"></label>
        {{validated-input type="text" model=model valuePath="addressLine2" placeholder="Suite #" id="suite-number"}}
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <label for="city"></label>
        {{validated-input type="text" model=model valuePath="addressCity" placeholder="City" id="city"}}
      </div>
      <div class="field">
        {{#validated-input model=model valuePath="addressState"}}
          {{#ui-dropdown class="select__address-state search selection" onChange=(action (mut-select model 'addressState'))}}
            <div class="default text">Select a State</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each stateOptions as |state|}}
                <div class="item select-address-state__item" data-id="{{state}}" value=model.addressState>
                  {{state}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        {{/validated-input}}
      </div>
      <div class="field">
        <label for="zipcode"></label>
        {{validated-input type="text" model=model valuePath="addressZipCode" placeholder="Zip Code" id="zipcode"}}
      </div>
    </div>

    <h3 class="ui horizontal divider header"><i class="setting icon"></i>Configuration</h3>
    <div class="field">
      <label for="url-prefix" class="sr-only">Employee Access URL</label>
      {{validated-input type="text" model=model valuePath="urlPrefix" placeholder="Employee Access URL (generally your company's abbreviation)" id="url-prefix"}}
    </div>
    {{#display/preview-browser}}{{if model.urlPrefix model.urlPrefix 'portal'}}{{/display/preview-browser}}
    <div class="ui divider"></div>
    {{#form/action-button type="submit" class="ui massive fluid green button" loading=working}}Next: Billing{{/form/action-button}}
  </form>
</div>
