<div class="ui aligned grid">
  <div class="four wide column"></div>
  <div class="eight wide column grid-style">
    <h1 class="centered">Tell us about yourself</h1>
    <hr />
    <form class="ui form">
      <div class="field">
        <label for="company-name">Company Name</label>
        {{validated-input type="text" model=model valuePath="name" placeholder="Company Name" id="company-name"}}
      </div>
      <div class="field">
        <label>Company Contact</label>
        <div class="three fields">
          <div class="field">
            <label for="first-name"></label>
            {{validated-input type="text" model=model valuePath="contactFirstName" placeholder="First Name" id="first-name"}}
          </div>
          <div class="field">
            <label for="middle-name"></label>
            {{input type="text" value=model.contactMiddleName placeholder="Middle(Optional)" id="middle-name"}}
          </div>
          <div class="field">
            <label for="last-name"></label>
            {{validated-input type="text" model=model valuePath="contactLastName" placeholder="Last Name" id="last-name"}}
          </div>
        </div>
        <div class="inline fields">
          <div class="field">
            {{ui-checkbox id="middle-name-checkbox"}}
          </div>
          <div class="field">
            <label for="middle-name-checkbox">I prefer to go by my middle name</label>
          </div>
        </div>
        <div class="field">
          <label for="company-email"></label>
           {{validated-input type="text" model=model valuePath="email" placeholder="Email" id="company-email"}}
        </div>
        <hr />
        <label>Company Contact Phone Number</label>
          <div class="two fields">
            <div class="twelve wide field">
              {{!-- TO-DO: make it required(validated) --}}
              {{phone-number value=model.contactPhone placeholder="Phone Number"}}
            </div>
            <div class="four wide field">
              {{input type="text" value=model.contactExtension placeholder="Extension"}}
            </div>
          </div>
      </div>
      <div class="field">
        <label>Company Address</label>
        <div class="fields">
          <div class="twelve wide field">
            <label for="street-address"></label>
            {{validated-input type="text" model=model valuePath="addressLine1" placeholder="Street Address" id="street-address"}}
          </div>
          <div class="four wide field">
            <label for="suite-number"></label>
            {{validated-input type="text" model=model valuePath="addressLine2" placeholder="Suite #" id="suite-number"}}
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label for="city"></label>
          {{validated-input type="text" model=model valuePath="addressCity" placeholder="City" id="city"}}
        </div>
        <div class="field">
          {{!-- TO-DO: validate or require state--}}
          {{#ui-dropdown class="selection" onChange=(action "updateSelected")}}
            <div class="default text">Select a State</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each stateOptions as |state|}}
                <div class="item" data-id="{{state}}" value=model.addressState>
                  {{state}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          <label for="zipcode"></label>
          {{validated-input type="text" model=model valuePath="addressZipCode" placeholder="Zip Code" id="zipcode"}}
        </div>
      </div>
      <hr />
      <button class="ui button" type="submit" model=model {{action 'saveCompany' model}}>Submit</button>
      {{notification-container notifications=notifications}}
    </form>
  </div>
</div>
