<div class="ui aligned grid">
  <div class="four wide column"></div>
  <div class=" eight wide column grid-style">
    <h1 class="centered">Tell us about yourself</h1>
    <hr />
    <form class="ui form">
      <div class="field">
        <label>Company Name</label>
        <input type="text" name="company[name]" placeholder="Company Name">
      </div>
      <div class="field">
        <label>Company Contact</label>
        <div class="three fields">
          <div class="field">
            <input type="text" name="company[contact[first-name]]" placeholder="First Name">
          </div>
          <div class="field">
            <input type="text" name="company[contact[middle-name]]" placeholder="Middle(Optional)">
          </div>
          <div class="field">
            <input type="text" name="company[contact[last-name]]" placeholder="Last Name">
          </div>
        </div>
        <div class="inline fields">
          <div class="field">
            {{ui-checkbox}}
          </div>
          <div class="field">
            <label>I prefer to go by my middle name</label>
          </div>
        </div>
        <div class="field">
          <input type="email" name="company[contact[email]]" placeholder="Company Contact Email">
        </div>
        <hr />
        <label>Company Contact Phone Number</label>
        <div class="inline fields">
          <div class="five wide field">
            <input type="text" placeholder="(xxx)">
          </div>
          <div class="four wide field">
            <input type="text" placeholder="xxx">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="xxxx">
          </div>
          <div class="two wide field">
            <input type="text" placeholder="ext">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Company Address</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="text" name="company[address-1]" placeholder="Street Address">
          </div>
          <div class="four wide field">
            <input type="text" name="company[address-2]" placeholder="Suite #">
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <input type="text" name="company[city]" placeholder="City">
        </div>
        <div class="field">
          {{#ui-dropdown class="selection" onChange=(action 'updateSelected')}}
            <div class="default text">Select a State</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each stateOptions as |state|}}
                <div class="item" data-id="{{state}}">
                  {{state}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          <input type="text" name="company[zip]" placeholder="Zip Code">
        </div>
      </div>
      <hr />
      <div class="field">
        {{ui-checkbox checked=agreeTerms}}
        <label>I agree to the Terms and Conditions</label>
      </div>
      <button class="ui button" type="submit">Submit</button>
      <div class="field">
        {{#ui-shape}}
          <div class="sides">
            <img class="active side"src="http://fillmurray.com/200/200" alt="Bill">
            <img class="side" src="http://www.placecage.com/200/200" alt="Nick">
            <img class="side" src="http://stevensegallery.com/200/200" alt="Steven">
            <img class="side" src="http://placekitten.com/200/200" alt="Kitty">
          </div>
        {{/ui-shape}}
        <div class="ui buttons">
          <button class="ui red button"{{action 'flip' 'over'}}>Flip over</button>
          <div class="or"></div>
          <button class="ui teal button"{{action 'flip' 'back'}}>Flip back</button>
          <div class="or"></div>
          <button class="ui yellow button"{{action 'flip' 'down'}}>Flip up</button>
          <div class="or"></div>
          <button class="ui orange button"{{action 'flip' 'up'}}>Flip down</button>
        </div>
      </div>
    </form>
  </div>
</div>
