<h2 class="ui horizontal divider header">Equal Employment Opportunity</h2>

<h3 class="center aligned light text header">
  {{#if this.collectEEO}}
    <i class="check icon"></i>
    Your company has elected to collect Equal Employment Opportunity data, so Granite will attempt to collect this information during the application process.
  {{else}}
    <i class="remove circle outline icon"></i>
    We will not collect Equal Employment Opportunity data for this job. If your company is an applicable employer, you may adjust your EEO settings in <LinkTo @route="account.settings">General Settings</LinkTo>.
  {{/if}}
</h3>
<div class="ui divider"></div>

{{#if this.collectEEO}}
  <QuickForm
    @form={{this.eeoSettingsForm}}
    @model={{this.model}}
    @controller={{this}}
    @tagName="div"/>
{{/if}}

<div class="ui divider"></div>
<form {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>
    Next
  </Form::ActionButton>
</form>
