<form {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Review</h2>
  <h3 class="ui center aligned lightly weighted header">
    You are hiring <strong>{{this.model.positions}} {{inflect-text this.model.job.title this.model.positions}}</strong> for your <strong>{{this.model.location.name}}</strong> location.
    {{#if this.model.applicantSources.length}}
      After launching your campaign, Granite will post your job to
      <strong>
        {{#ember-tooltip
          popperContainer="body"
          text="Manually add applicant"
        }}
          {{#each this.model.applicantSources as |source|}}
            {{source.name}}<br>
          {{/each}}
        {{/ember-tooltip}}
        {{this.model.applicantSources.length}} {{inflect-text "source" this.model.applicantSources.length}}
      </strong>
      beginning
      <strong>
        {{~#if this.model.startOn}}
          {{time-ago this.model.startOn}} on {{time this.model.startOn}}
        {{else}}
          immediately
        {{~/if}}
      </strong>
      until
      <strong>
        {{~#if this.model.endOn}}
          {{time this.model.endOn}}
        {{else}}
          the position is filled
        {{~/if}}.
      </strong>
    {{/if}}
    You can edit this campaign at any time, but changes to the listing may take up to 24 hours to update.
  </h3>

  <div class="ui divider"></div>

  {{#form/action-button
    type="submit"
    class="ui huge fluid green button"
    loading=this.working}}
    <i class="rocket icon"></i> Launch Campaign
  {{/form/action-button}}
</form>
