<div class="ui form">
  <h2 class="ui horizontal divider header">
    Display
  </h2>
  <p>Edit the title and description of your job listing</p>

  <Input::UiInput @value={{this.model.title}} @placeholder="What shows as the job name on the listing?">
    Title
  </Input::UiInput>

  <div class="field">
    <label>Description (How your job description displays on the listing)</label>
    <Input::RichText @value={{this.model.description}} @onChange={{set this.model.description _}} />
  </div>

  <h2 class="ui horizontal divider header">
    Available Manual Sources
    <a href="#" {{on "click" (prevent-default
      (pipe
        this.addManualSource
        this.data.saveRecord
        this.addToSelection
      ))
    }}>
      <i class="plus icon"></i>
    </a>
  </h2>
  <div class="ui divided link items">
    {{#each this.sources.manual as |manualSource|}}
      <ListItem::ApplicantSourceSelect
        @model={{manualSource}}
        @selected={{contains manualSource this.model.manualApplicantSources}}
        @onUpdate={{this.mutManualSelection}}/>
    {{else}}
      <h2 class="center aligned light text header">
        <i class="exclamation triangle icon"></i>
        You don't have any available manual sources.
      </h2>
    {{/each}}
  </div>

  <h2 class="ui horizontal divider header">Available Automatic Sources</h2>
  <div class="ui divided link items">
    {{#each this.sources.automatic as |source|}}
      <ListItem::ApplicantSourceSelect
        @model={{source}}
        @selected={{contains source this.model.applicantSources}}
        @onUpdate={{this.mutSelection}}/>
    {{/each}}
  </div>

  <div class="ui divider"></div>

  <form {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
    <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>
      Next
    </Form::ActionButton>
  </form>
</div>

<UiModal @id="modal__add--manual-source" @class="small form">
  <i class="close icon"></i>
  <div class="header">
    Create a new manual source
  </div>
  <div class="content">
    <Input::UiInput @value={{this.manualSource.name}} @placeholder="ex. Post to Craigslist">
      Manual Source Name
    </Input::UiInput>
  </div>
  <div class="actions">
    <button type="button" class="ui red button" {{on "click" (fn this.respondManualSource false)}}>
      Cancel
    </button>
    <button type="button" class="ui green right labeled icon button" disabled={{not this.manualSource.name}} {{on "click" (fn this.respondManualSource true)}}>
      Save Manual Source
      <i class="check icon"></i>
    </button>
  </div>
</UiModal>
