<div class={{if this.dragging "dragging"}} {{on "dragover" (fn this.dragOver)}} {{on "dragenter" (fn this.dragEnter)}} {{on "dragleave" (fn this.dragLeave)}} {{on "drop" (fn this.drop)}}>
  <div class="ui raised very padded text container segment file-uploader">
    {{#if this.fileError}}
      <p class="ui red segment">
        <i class="red warning sign icon"></i> {{this.fileError}}
      </p>
    {{/if}}
    <form {{on "submit" (prevent-default this.saveDocument)}}>
      <div class="ui form">
        <div class="field">
          <div class="ui center aligned segment dropzone">
            <i class="cloud upload massive icon"></i><p class="dragText">{{if @dragText @dragText "Drag Your Files Here."}}</p>
            <h4>
              <a href="#" {{on "click" (prevent-default this.triggerFileInput)}}>Choose a file from your computer</a>
              or <a href="/assets/documents/census-template.xlsx" download>start with this template</a>
            </h4>
            <p class="extensions">
              Supported file types are:
              {{#each @allowedExtensions as |extension|}}
                {{extension}}
              {{/each}}
            </p>
          </div>
          {{#if this.files}}
            <div class="ui green segment">
              <h2 class="ui center aligned">Ready to Upload:</h2>
              <ul class="file-upload-list">
                {{#each this.files as |file|}}
                  <li>
                    {{file.name}}
                    <a href="#" {{on "click" (prevent-default (fn this.removeFile file))}}><i class="red remove circle icon"></i></a>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </div>

        {{#if this.errorMessage}}
          <p class="text danger">Error occured while uploading file: {{this.errorMessage}}</p>
        {{else}}
          {{#if this.uploadProgress}}
            <UiProgress @percent={{this.uploadProgress}} @classNames="indicating">
              <div class="bar"></div>
              <div class="label">{{this.uploadProgress}}% Uploaded</div>
            </UiProgress>
          {{/if}}
        {{/if}}

        <div class="field">
          <input class="input-hidden" type="file" id={{this.inputId}} multiple={{this.allowMulti}} {{on "change" this.selectFile}}>
          {{#if this.saveError}}
            <p>{{this.saveError}}</p>
          {{/if}}
          {{#unless @autoUpload}}
            <button type="submit" class="positive ui {{if this.data.statuses.working.isLoading "loading"}} button right floated" disabled={{or (not this.files) this.data.statuses.working.isLoading}}>Upload</button>
          {{/unless}}
        </div>
      </div>
    </form>
  </div>
</div>
