<td>
  {{#if this.duplicate}}
    <div class="ui red ribbon label import__duplicate-label">
      {{#ember-tooltip
        side="right"
        popperContainer="body"
      }}
        {{this.matchReason}} match
      {{/ember-tooltip}}
      Possible duplicate of
      <a href="#" {{action "linkToDuplicate"}}>
        {{this.duplicate.text}}
      </a>
    </div>
  {{/if}}
  <div>
    {{ui-checkbox
      class=""
      label=""
      checked=this.isSelected
      onChange=(action this.onToggle)
    }}
  </div>
</td>
{{yield this.record}}
