<td>
  {{#if duplicate}}
    <div class="ui red ribbon label import__duplicate-label">
      {{#ember-tooltip
        side="right"
        popperContainer="body"
      }}
        {{matchReason}} match
      {{/ember-tooltip}}
      Possible duplicate of
      <a href="#" {{action "linkToDuplicate"}}>
        {{duplicate.text}}
      </a>
    </div>
  {{/if}}
  <div>
    {{ui-checkbox
      class=""
      label=""
      checked=isSelected
      onChange=(action onToggle)
    }}
  </div>
</td>
{{yield record}}
