<h3 class="titlecased text">{{@recordSet.name}}</h3>
<table class="ui striped stackable responsive table">
  <thead>
    <tr>
      <th class="import__select-all-checkbox">
        {{!-- SELECT ALL BROKEN ON THIS COMMIT --}}
        <UiCheckbox @label={{if this.allSelected "Deselect All" "Select All"}} @checked={{this.allSelected}} @onChange={{fn @toggleAllSelected @recordSet.name @recordSet.records}} />
      </th>
      {{#each @recordSet.displayMap as |header|}}
        <th>{{humanize-key header}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each @recordSet.records as |record|}}
      {{yield
        (hash
          row=(component
            "tables/import/record-set-record"
            record=record
            selectedRows=@selectedRows
            onToggle=(fn @onToggle @recordSet.name record.id)
            onTransition=(fn @onTransition)
            fields=@recordSet.displayMap
            recordType=@recordSet.name
          )
        )
        @recordSet.displayMap
      }}
    {{/each}}
  </tbody>
</table>
<div class="ui divider"></div>
