{{#link-to 'account.action-item' actionItem.slug class="ui link fluid raised card"}}
  <div class="content">
    <h6 class="ui header clearfix">
      <div class="meta">
        Owner: {{actionItem.owner.fullName}}
        <span class="right floated">
          <strong>Ongoing</strong> since {{time actionItem.created}}
        </span>
      </div>
    </h6>
    <div class="header">
      {{actionItem.title}}
      {{#ui-popup tagName="span" class="right floated" content="Subscribe to notifications" position="top center"}}
        <a href="#"><i class="eye fitted icon"></i></a>
      {{/ui-popup}}
    </div>
  </div>
  <div class="content">
    {{display/priority-label actionItem.priority}}
  </div>
  <div class="content">
    {{#if actionItem.checklist.length}}
      {{#ui-progress percent=actionItem.percentComplete class="teal indicating tiny"}}
        <div class="bar"></div>
      {{/ui-progress}}
    {{/if}}
    <h4 class="ui sub header clearfix">
      {{#if actionItem.checklist.length}}
        {{#if todosComplete}}
          <strong class="text-green">
            <i class="check icon"></i>All todos complete
          </strong>
        {{else}}
          {{actionItem.incompleteTodos.length}} {{inflect-text 'Todos' actionItem.incompleteTodos.length}} Left
        {{/if}}
      {{/if}}
      <span class="right floated meta">
        {{#if actionItem.participants}}{{actionItem.participants.length}}{{else}}No{{/if}}
        {{inflect-text 'Participants' actionItem.participants.length}}
      </span>
    </h4>

    {{#if actionItem.incompleteTodos.length}}
      <div class="ui list">
        {{#each actionItem.incompleteTodos as |todo|}}
          {{list-item/todo-item todo}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="extra content">
    <button class="ui button">View Item</button>
  </div>
{{/link-to}}
