<div class="ui fluid raised card action-items__action-item--card">
  <div class="content">
    <h6 class="ui header clearfix">
      <div class="meta">
        Owner: {{this.actionItem.owner.fullName}}
        <span class="right floated">
          {{#if this.actionItem.completedOn}}
            <strong>Completed</strong> on {{time this.actionItem.completedOn}}
          {{else if this.actionItem.cancelledOn}}
            <strong>Cancelled</strong> on {{time this.actionItem.cancelledOn}}
          {{else}}
            <strong>Ongoing</strong> since {{time this.actionItem.created}}
          {{/if}}
        </span>
      </div>
    </h6>
    <div class="header">
      {{#link-to "account.action-item" this.actionItem.slug}}{{this.actionItem.title}}{{/link-to}}
      <a href="#" class="right floated" title="Toggle subscription" {{action "toggleSubscription"}}><i class="{{if (contains this.userId this.subscriberIds) "hide" "unhide"}} fitted icon"></i></a>
    </div>
  </div>
  <div class="content">
    {{display/priority-label this.actionItem.priority}}
    <div class="right floated ui label">
      <i class="clock icon"></i>
      {{#if this.actionItem.dueOn}}
        {{#if this.actionItem.delayedUntil}}
          <span class="text-yellow">Delayed Until {{time this.actionItem.delayedUntil}}</span> - Originally
        {{else}}
          Due {{time-ago this.actionItem.dueOn}}
        {{/if}}
        Due on {{time this.actionItem.dueOn}}
      {{else}}
        No due date
      {{/if}}
    </div>
  </div>
  <div class="content">
    {{#if this.actionItem.checklist.length}}
      {{#ui-progress percent=this.actionItem.percentComplete class="teal indicating tiny"}}
        <div class="bar"></div>
      {{/ui-progress}}
    {{/if}}
    <h4 class="ui sub header clearfix">
      {{#if this.actionItem.checklist.length}}
        {{#if this.todosComplete}}
          <strong class="text-green">
            <i class="check icon"></i>All todos complete
          </strong>
        {{else}}
          {{#link-to "account.action-item.todo" this.actionItem.slug}}{{this.actionItem.incompleteTodos.length}} {{inflect-text "Todos" this.actionItem.incompleteTodos.length}} Left{{/link-to}}
        {{/if}}
      {{/if}}
      <span class="right floated meta">
        {{#if this.actionItem.participants}}{{this.actionItem.participants.length}}{{else}}No{{/if}}
        {{inflect-text "Participants" this.actionItem.participants.length}}
      </span>
    </h4>

    {{#if this.actionItem.incompleteTodos.length}}
      <div class="ui list">
        {{#each this.actionItem.incompleteTodos as |todo|}}
          {{list-item/todo-item todo}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="extra content">
    {{#link-to "account.action-item" this.actionItem.slug class="ui fluid primary button"}}View Item{{/link-to}}
  </div>
</div>
