<div class="ui fluid raised card action-items__action-item--card">
  <div class="content">
    <h6 class="ui header clearfix">
      <div class="meta">
        Owner: {{actionItem.owner.fullName}}
        <span class="right floated">
          {{#if actionItem.completedOn}}
            <strong>Completed</strong> on {{time actionItem.completedOn}}
          {{else if actionItem.cancelledOn}}
            <strong>Cancelled</strong> on {{time actionItem.cancelledOn}}
          {{else}}
            <strong>Ongoing</strong> since {{time actionItem.created}}
          {{/if}}
        </span>
      </div>
    </h6>
    <div class="header">
      {{#link-to 'account.action-item' actionItem.slug}}{{actionItem.title}}{{/link-to}}
      <a href="#" class="right floated" title="Toggle subscription" {{action "toggleSubscription"}}><i class="{{if (contains userId subscriberIds) 'hide' 'unhide'}} fitted icon"></i></a>
    </div>
  </div>
  <div class="content">
    {{display/priority-label actionItem.priority}}
  </div>
  <div class="content">
    {{#if actionItem.checklist.length}}
      {{#ui-progress percent=actionItem.percentComplete class="teal indicating tiny"}}
        <div class="bar"></div>
      {{/ui-progress}}
    {{/if}}
    <h4 class="ui sub header clearfix">
      {{#if actionItem.checklist.length}}
        {{#if todosComplete}}
          <strong class="text-green">
            <i class="check icon"></i>All todos complete
          </strong>
        {{else}}
          {{#link-to 'account.action-item.todo' actionItem.slug}}{{actionItem.incompleteTodos.length}} {{inflect-text 'Todos' actionItem.incompleteTodos.length}} Left{{/link-to}}
        {{/if}}
      {{/if}}
      <span class="right floated meta">
        {{#if actionItem.participants}}{{actionItem.participants.length}}{{else}}No{{/if}}
        {{inflect-text 'Participants' actionItem.participants.length}}
      </span>
    </h4>

    {{#if actionItem.incompleteTodos.length}}
      <div class="ui list">
        {{#each actionItem.incompleteTodos as |todo|}}
          {{list-item/todo-item todo}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="extra content">
    {{#link-to 'account.action-item' actionItem.slug class="ui fluid primary button"}}View Item{{/link-to}}
  </div>
</div>
