{{#if this.model.logo}}
  <img src={{this.model.logo}} alt="Logo" class="ui mini image applicant-source-item__image" />
{{/if}}
<div class="content">
  <div class="header">
    <UiCheckbox @class="checkbox" @checked={{readonly this.selected}} @label={{this.model.name}} />
  </div>
  {{#if this.model.costPerCycle}}
    <div class="ui orange right floated horizontal label">${{this.model.costPerCycle}}/Billing Cycle</div>
  {{/if}}
  <div class="meta">
    <span>{{this.model.description}}</span>
  </div>

  <div class="extra">

  </div>
</div>
