<div class="applicant-source__list-item item {{if @selected "applicant-source__list-item--selected"}}">
  {{#if @model.logo}}
    <img src={{@model.logo}} alt="Logo" class="ui mini image applicant-source-item__image" />
  {{/if}}
  <div class="content">
    <div class="header">
      <UiCheckbox @class="checkbox" @checked={{readonly @selected}} @label={{@model.name}} @onChange={{fn @onUpdate @model}} />
    </div>
    {{#if @model.costPerCycle}}
      <div class="ui orange right floated horizontal label">${{@model.costPerCycle}}/Billing Cycle</div>
    {{/if}}
    <div class="meta">
      <span>{{@model.description}}</span>
    </div>

    <div class="extra">

    </div>
  </div>
</div>
