{{#if hasBlock}}
  {{yield this.asset.name this.asset.description}}
{{else}}
  {{#if this.asset.icon}}
    <i class="large middle aligned {{this.asset.icon}} icon"></i>
  {{/if}}
  <div class="content">
    <div class="header">{{this.asset.name}}</div>
    <div class="meta">
      <span>{{this.asset.description}}</span>
      <span class="ui small text right floated">{{time-ago this.asset.created}} on {{time this.asset.created}} by {{this.asset.creator.fullName}}</span>
    </div>
    <div class="extra">
      {{#if this.employee.onboarding}}
        <div class="ui green label">
          <i class="circle thin icon"></i>Onboarding
          {{#if this.employee.onboardingProgress}}
            {{this.employee.onboardingProgress}}% complete
          {{else}}
            in progress
          {{/if}}
          {{#if this.employee.onboarder}}
            by {{this.employee.onboarder.fullName}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
