<div class="content">
  <span class="header clearfix">
    {{asset.identifier}}
    {{#if attributes.length}}
      {{#ui-popup tagName='span' content="View attributes"}}
        <a href="#" {{action "toggleProperty" "details"}}><i class="{{if details 'up' 'down'}} angle icon"></i></a>
      {{/ui-popup}}
    {{/if}}

    <div class="right floated">
      <a href="#" class="text-danger" {{action "delete"}}>
        <i class="trash icon"></i>
      </a>
    </div>
  </span>
  <div class="description text small">
    Assigned to <a href="#" {{action toggleProperty 'showAssignments'}}>{{asset.assignments.length}} employee(s)</a>
    - Created {{time-ago asset.created}}{{#if asset.creator}} by {{asset.creator.fullName}}{{/if}}
    {{#liquid-if showAssignments}}
      <ul>
        {{#each asset.assignments as |assignment|}}
          <li>{{assignment.employee.fullName}}</li>
        {{/each}}
      </ul>
    {{/liquid-if}}
  </div>
  {{#if attributes.length}}
    {{#liquid-if details}}
      <div class="ui segment">
        {{#each attributes as |attr|}}
          <div class="line-item-value">
            <i>{{attr.key}}</i>
            <u>
              {{attr.value}}
            </u>
          </div>
        {{/each}}
      </div>
    {{/liquid-if}}
  {{/if}}

</div>
