<div class="content">
  <div class="header">
    {{this.asset.identifier}}<i class="{{this.asset.asset.icon}} icon right floated"></i>
  </div>
</div>
<div class="content">
  <h3 class="ui sub header">
    Activity
  </h3>
  <div class="ui small feed">
    <div class="event">
      <div class="content">
        <div class="summary">
          {{#if this.assignment.assigner}}
            <LinkTo @route="account.employee" @model={{this.assignment.assigner.id}}>
              {{this.assignment.assigner.fullName}}
            </LinkTo>
            assigned
          {{else}}
            Assigned
          {{/if}}
          from
          <LinkTo @route="account.asset" @model={{this.asset.asset.id}}>
            {{this.asset.asset.name}}
          </LinkTo>
          on {{time this.asset.created}}
        </div>
      </div>
    </div>
    {{#if this.attributes.length}}
      <a href="#" {{action "toggleProperty" "details"}}>
        <EmberTooltip @side="right" @popperContainer="body" @text="View attributes" />
        <i class="info circle icon"></i>
      </a>
    {{/if}}
    {{#if this.attributes.length}}
      {{#liquid-if this.details}}
        <div class="ui segment">
          {{#each this.attributes as |attr|}}
            <div class="line-item-value">
              <i>{{attr.key}}</i>
              <u>
                {{attr.value}}
              </u>
            </div>
          {{/each}}
        </div>
      {{/liquid-if}}
    {{/if}}
  </div>
</div>
<ConfirmModal @confirmContent="Are you sure you want to unassign this item and return it to your stock?" as |confirm|>
  <button class="ui bottom attached fluid button" role="button" {{action (pipe confirm (action "unassign"))}}>
    <i class="remove user icon"></i>
    Unassign asset
  </button>
</ConfirmModal>
