{{#link-to "account.employee.index.education.certification" model.id class="item"}}
  <div class="content">
    <h3 class="header">
      {{model.name}}
      {{#if model.renews}}
        <small class="light text">
          Renewal {{time-ago model.nextRenewalDate}} on {{time model.nextRenewalDate "M/D/YY"}}
        </small>
      {{/if}}
    </h3>
    <div class="meta">
      {{#if model.requiresDocument}}
        <span class="ui tiny {{if model.document "green" "red"}} label">
          {{#if model.document}}
            <i class="check icon"></i>Document uploaded
          {{else}}
            Document required
          {{/if}}
        </span>
      {{/if}}
    </div>
  </div>
  <div class="right content">
    <span class="ui small text">Added {{time-ago model.created}} by {{model.creator.fullName}}</span>
  </div>
{{/link-to}}
