{{#link-to "account.employee.index.education.certification" this.model.id class="item"}}
  <div class="content">
    <h3 class="header">
      {{this.model.name}}
      {{#if this.model.renews}}
        <small class="light text">
          Renewal {{time-ago this.model.nextRenewalDate}} on {{time this.model.nextRenewalDate "M/D/YY"}}
        </small>
      {{/if}}
    </h3>
    <div class="meta">
      {{#if this.model.requiresDocument}}
        <span class="ui tiny {{if this.model.document "green" "red"}} label">
          {{#if this.model.document}}
            <i class="check icon"></i>Document uploaded
          {{else}}
            Document required
          {{/if}}
        </span>
      {{/if}}
    </div>
  </div>
  <div class="right content">
    <span class="ui small text">Added {{time-ago this.model.created}} by {{this.model.creator.fullName}}</span>
  </div>
{{/link-to}}
