{{#if hasBlock}}
  {{yield this.model this.isExpanded}}
{{else}}
  <div class="content clearfix">
    <div class="header {{if this.model.didResolve "text-green" "light text"}}">

      <i class="{{if this.model.didResolve "check" "ellipsis horizontal"}} icon">
        <EmberTooltip @side="right" @popperContainer="body">
          {{if this.model.didResolve "This follow up marked the issue as resolved." "This follow up did not resolve the issue."}}
        </EmberTooltip>
      </i>

      {{time this.model.created "MMMM Do YYYY"}}
      {{#if this.model.creator}}
        by {{this.model.creator.firstName}}
      {{/if}}
    </div>

    {{#if this.model.notes}}
      <a href="#" class="right floated" {{action (toggle "isExpanded" this)}}>
        <EmberTooltip @side="left" @popperContainer="body" @text="Toggle notes" />
        <i class="eye {{if this.isExpanded "slash"}} icon"></i>
      </a>
    {{/if}}

    {{#liquid-if this.isExpanded class="meta"}}
      <p>{{long-text this.model.notes}}</p>
    {{/liquid-if}}
  </div>
{{/if}}
