<div class="content">
  <div class="header">
    {{department.name}}
    {{#if department.code}}
      <div class="ui blue label">
        {{department.code}}
      </div>
    {{/if}}
  </div>
  <div class="right floated">
    {{#link-to "account.anatomy.department.edit" department.id}}
      {{ember-tooltip
        side="left"
        popperContainer="body"
        text="Edit department"}}
      <i class="edit icon"></i>
    {{/link-to}}
    {{#confirm-modal deleteContext=department.name tagName="span" as |confirm|}}
      <a href="#" class="text-danger" {{action (pipe confirm (action "delete"))}}>
        {{ember-tooltip
          side="left"
          popperContainer="body"
          text="Delete department"}}
        <i class="trash icon"></i>
      </a>
    {{/confirm-modal}}
  </div>
  <div class="meta">
    <span class="ui small text right floated">Created {{time-ago department.created}} {{#if department.creator.fullName}}by {{department.creator.fullName}}{{/if}}</span>
  </div>
</div>
