<div class="content">
  <div class="header clearfix">{{department.name}}</div>
  <div class="meta">
    {{#if department.code}}
      Department Code: <span>{{department.code}}</span>
    {{/if}}
    <div class="description right floated text">
      Created on {{time department.created}}
      {{#if department.creator}}
        by {{department.creator}}
      {{/if}}
    </div>
    <div class="right floated">
      {{#confirm-modal confirmContent="Do you want to delete this department?" as |confirm|}}
        {{#ui-popup content="Delete this department"}}
          <a href="#" class="text-danger" {{action (pipe confirm (action 'delete'))}}>
            <i class="trash icon"></i>
          </a>
        {{/ui-popup}}
      {{/confirm-modal}}
    </div>
  </div>
</div>
