<a class="avatar">
  <Display::EmployeePicture @url={{this.comment.commenter.picture}} @employeeId={{this.comment.commenter.id}} />
</a>
<div class="content">
  <LinkTo @route="account.employee" @model={{this.comment.commenter.id}} @class="author">{{this.comment.commenter.fullName}}</LinkTo>
  <div class="metadata">
    <span class="date"><TimeAgo @time={{this.comment.created}} /> on {{time this.comment.created "M/D/YY [at] h:mma"}}</span>
  </div>

  <div class="text">{{this.comment.text}}</div>

  <div class="actions">
    <a href="#" class="text-red" {{on "click" this.delete}}>Remove</a>
  </div>
</div>
