<div ...attributes>
  <strong>{{this.model.file.title}} ({{this.model.file.extension}})</strong>

  <div class="ui mini form right floated">
    {{#if this.isPendingState}}
      <div class="ui mini active inline loader"></div> Saving...
    {{else}}
      <div class="small field">
        <UiCheckbox
          @class="small"
          @checked={{this.model.visibleToEmployee}}
          @onChange={{
            pipe
              (set this.model.visibleToEmployee _)
              this.checkBoxDisplay
              (if @onChange (fn @onChange this.model))
          }}
        >
          <label>
            Visible To Employee
          </label>
        </UiCheckbox>
      </div>
      {{#if model.visibleToEmployee}}
        <div class="small field">
          <UiCheckbox
            @class="small"
            @disabled={{not this.model.visibleToEmployee}}
            @checked={{this.model.signatureRequired}}
            @onChange={{
              pipe
                (set this.model.signatureRequired _)
                (if @onChange (fn @onChange this.model))
            }}
          >
            <label>
              Require Signature
            </label>
          </UiCheckbox>
        </div>
        <div class="small field">
          <UiCheckbox
            @class="small"
            @label="Assign For A Future Date"
            @checked={{isExpanded}}
            @onChange={{toggle "isExpanded" this}}/>
        </div>
        {{#if isExpanded}}
          <UiCalendar
            @class="field"
            @type="date"
            @dateValue={{this.model.effectiveOn}}
            @onChange={{
              pipe
              (set this.model.effectiveOn _)
              (if @onChange (fn @onChange this.model))
            }}/>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  <div class="small text">
    <a href="#" class="text-danger" {{on "click" (prevent-default (fn @onRemove this.model))}}><i class="minus icon"></i>Remove Assignment</a>
  </div>
</div>
