{{file.title}}

<div class="right floated content">
  <a href="{{file.url}}" rel="noopener" target="_blank">
    <i class="download icon"></i>
  </a>
  {{#if (not remove)}}
    <a href="#" {{action "addDocument"}}>
      <i class="green plus square outline icon"></i>
    </a>
  {{else}}
    <a href="#" {{action "removeDocument"}}>
      <i class="red minus square outline icon"></i>
    </a>
  {{/if}}
</div>
