<li class="item">
  <strong>{{this.model.file.title}} ({{this.model.file.extension}})</strong>

  <div class="ui mini form right floated">
    {{#if this.isPendingState}}
      <div class="ui mini active inline loader"></div> Saving...
    {{else}}
      <div class="small field">
        <UiCheckbox
          @class="small"
          @checked={{this.model.visibleToEmployee}}
          @onChange={{
            pipe
              (set model.visibleToEmployee _)
              this.checkBoxDisplay
              (if onChange (fn this.onChange model))
          }}
        >
          <label>
            Visible To Employee
          </label>
        </UiCheckbox>
      </div>
      {{#if model.visibleToEmployee}}
        <div class="small field">
          {{#ui-checkbox
            class="small"
            disabled=(not model.visibleToEmployee)
            checked=model.signatureRequired
            onChange=(action
              (pipe
                (action (mut model.signatureRequired))
                (if onChange (action onChange model))
              )

            )
          }}
            <label>
              Require Signature
            </label>
          {{/ui-checkbox}}
        </div>
        <div class="small field">
          {{ui-checkbox
            class="small"
            label="Assign For A Future Date"
            checked=isExpanded
            onChange=(action (toggle "isExpanded" this))
          }}
        </div>
        {{#if isExpanded}}
          {{ui-calendar
            class="field"
            type="date"
            onChange=(if onChange (action onChange model))
          }}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  {{!-- <div class="small text">
    <a href="#" class="text-danger" {{action this.onRemove this.model}}><i class="minus icon"></i>Remove Assignment</a>
  </div> --}}
</li>
