{{#if imagePreview}}
  <div class="ui tiny rounded image">
    <img src="{{file.url}}" alt="">
  </div>
{{else}}
  {{display/icon-for-file file class="huge"}}
{{/if}}
<div class="clearing content">
  <div class="header">
    {{file.title}}
    <span class="light text">{{file.extension}}</span>
  </div>

  <div class="meta">
    {{#each file.tags as |tag|}}
      <span class="ui tiny label">{{tag}}</span>
    {{/each}}
    <span class="ui small text right floated">Created {{time file.created}}</span>
  </div>
</div>
