{{#if hasBlock}}
  {{yield model}}
{{else}}
  <div class="header">
    {{#if (await model.actionSeverity)}}
      {{get (await model.actionSeverity) 'name'}} on
    {{/if}}
    {{time (if model.issuedOn model.issuedOn model.created) 'MMMM Do YYYY'}}
  </div>
  <div class="meta">
    <span class="ui small text right floated">Created: {{time model.created}}{{#if model.creator}} by {{model.creator.fullName}}{{/if}}</span>
  </div>
  <div class="extra">
  </div>
{{/if}}
