{{#if hasBlock}}
  {{yield this.employee.fullName this.employee.title}}
{{else}}
  <div class="ui tiny rounded image">
    <Display::EmployeePicture @url={{this.employee.picture}} @employeeId={{this.employee.id}} />
  </div>
  <div class="content">
    <div class="header">{{this.employee.fullName}}</div>
    <div class="meta">
      <span>{{this.employee.jobTitle}}</span>
      <span class="ui small text right floated">{{time this.employee.created}}</span>
    </div>
    <div class="extra">
      {{#if this.employee.externalLinkService}}
        <div class="ui basic label">
          <i class="download icon"></i>Imported from {{capitalize this.employee.externalLinkService}}
        </div>
      {{/if}}
      {{#if this.employee.onboarding}}
        <div class="ui green label">
          <i class="circle thin icon"></i>Onboarding
          {{#if this.employee.onboardingProgress}}
            {{this.employee.onboardingProgress}}% complete
          {{else}}
            in progress
          {{/if}}
          {{#if this.employee.onboarder}}
            by {{this.employee.onboarder.fullName}}
          {{/if}}
        </div>
      {{/if}}

      {{#if this.employee.offboarding}}
        <div class="ui red label">
          <i class="remove icon"></i>Offboarding
          {{#if this.employee.offboardingProgress}}
            {{this.employee.offboardingProgress}}% complete
          {{else}}
            in progress
          {{/if}}
          {{#if this.employee.offboarder}}
            by {{this.employee.offboarder.fullName}}
          {{/if}}
        </div>
      {{/if}}

      {{#if this.employee.onProbation}}
        <div class="ui basic label">
          In Probation Period
        </div>
      {{/if}}

      {{#if this.employee.terminatedOn}}
        <div class="ui red label">
          <i class="user times icon"></i>Terminated on {{time this.employee.terminatedOn}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
