<div class="event_times clearfix">
  <span class="event__date">{{time model.start 'M/D'}}</span>
  <span class="event__time event__meta--right">
    {{time model.start 'h:mma'}} - {{time model.end 'h:mma'}}
  </span>
</div>
<div class="event_details">
  <span class="event__title">{{model.title}}</span>
  <span class="event__participants event__meta--right">
    <i class="users icon"></i>{{attendeeCount}}
  </span>
</div>
