{{!-- {{assignment.employee.fullName}}
{{#if assignment.signatureRequired}}
  <span class="ui small text">
    {{#if assignment.readOn}}
      Read {{time assignment.readOn}},
    {{else}}
      Not read yet,
    {{/if}}
    {{#if assignment.signedOn}}
      <a href="#" {{action toggleProperty 'viewSignature'}}>
        signed on {{time assignment.signedOn}}.
      </a>
    {{else}}
      not signed yet.
    {{/if}}
  </span>
{{/if}}


{{#liquid-if viewSignature}}
  {{#if assignment.signature}}
    <div class="signature-container">
      <img src="{{assignment.signature}}" width="150px" height="80px" />
    </div>
  {{else}}
    <span class="ui small text">Not signed yet</span>
  {{/if}}
{{/liquid-if}} --}}

{{#link-to "account.employee" assignment.employee.id class="ui image label"}}
  {{display/employee-picture url=assignment.employee.picture employeeId=assignment.employee.id}}
  {{assignment.employee.fullName}}
  {{#if assignment.readOn}}
    viewed document on {{time assignment.readOn}}.
  {{/if}}
  {{#if assignment.signedOn}}

    {{#ui-popup tagName="span" html='<img src={{assignment.signature}}>'}}
      Signed document on {{time assignment.signedOn}}.
    {{/ui-popup}}

  {{/if}}
{{/link-to}}
