<div class="ui image label">
  <Display::EmployeePicture @url={{this.assignment.employee.picture}} @employeeId={{this.assignment.employee.id}} />
  <LinkTo @route="account.employee" @model={{this.assignment.employee.id}} class="item text-black">
    {{this.assignment.employee.fullName}}
  </LinkTo>
  {{#if this.assignment.readOn}}
    &nbsp;
    <i class="eye icon gray-icon">
      <EmberTooltip @side="right" @popperContainer="body">
        Viewed on {{time this.assignment.readOn}}
      </EmberTooltip>
    </i>
  {{/if}}
  {{#if this.assignment.signedOn}}
    <a href="#" class="gray-icon" {{action "openSignatureModal"}}>
      <i class="edit icon"></i>
      <EmberPopover @side="right" @popperContainer="body">
        <h4 class="center aligned text">
          Signed on {{time this.assignment.signedOn}}
        </h4>
        <img src={{this.assignment.signature}} class="ui medium image" alt="Signature image">
      </EmberPopover>
    </a>
  {{/if}}
  <div class="detail">
    {{if this.pastAssignment "Assigned" "Pending"}}
    <EmberTooltip @side="right" @popperContainer="body">
      Document {{if this.pastAssignment "was" "will be"}} assigned on {{time (or this.assignment.effectiveOn this.assignment.created)}} by {{this.assignment.creator.fullName}}
    </EmberTooltip>
  </div>
</div>

<UiModal @name="modal__file-assignment-signature" @id={{this.modalId}}>
  <div class="header">
    {{this.assignment.file.title}} signature for {{this.assignment.employee.fullName}}
  </div>
  <div class="content">
    <img src={{this.assignment.signature}} alt="">
  </div>
  <div class="actions">
    <button class="ui red button" {{action "closeSignatureModal"}} type="button">
      Close
    </button>
  </div>
</UiModal>
