{{#if hasBlock}}
  {{yield this.model}}
{{else}}
  <div class="content">
    <div class="header">
      {{this.model.name}}
      {{#if this.model.formType}}
        <span class="ui blue label">{{this.model.formType}}</span>
      {{/if}}
    </div>
    <div class="right floated">
      {{#if this.onEdit}}
        <a href="#" {{action this.onEdit this.model}}>
          <EmberTooltip @side="left" @popperContainer="body" @text="Edit form" />
          <i class="ui edit icon"></i>
        </a>
      {{/if}}
      {{#if this.onDelete}}
        <a href="#" class="text-danger" {{action this.onDelete this.model}}>
          <EmberTooltip @side="left" @popperContainer="body" @text="Remove form" />
          <i class="ui trash icon"></i>
        </a>
      {{/if}}
    </div>

    <div class="meta">
      {{this.model.elements.length}} {{inflect-text "Question" this.model.elements.length}}
      <span class="ui small text right floated">Created {{time this.model.created}}{{#if this.model.creator}} by {{this.model.creator.fullName}}{{/if}}</span>
    </div>
  </div>
{{/if}}
