{{#if hasBlock}}
  {{yield this.model}}
{{else}}
  <div class="content clearfix">
    <div class="header">
      {{this.model.name}}
      {{#if this.model.formType}}
        <span class="ui tiny label">{{this.model.formType}}</span>
      {{/if}}
      {{#if this.model.count}}
        <div class="right floated">
          {{#link-to "account.employees.forms.responses" this.model._id}}
            View Responses
          {{/link-to}}
        </div>
      {{/if}}
    </div>

    {{#if this.model.count}}
      <div class="extra">
        {{this.model.count}} {{inflect-text "responses" this.model.count}} collected
      </div>
    {{else}}
      <div class="meta">
        <i>No responses to this form.</i>
      </div>
    {{/if}}
  </div>
{{/if}}
