<h4 class="ui light horizontal divider header">
  {{this.history.creator.fullName}}
  made
  {{this.history.diff.length}}&nbsp;{{inflect-text "changes" this.history.diff.length}}
  at {{time this.history.created "h:mma"}}
</h4>
<div class="ui divided list">
  {{#each this.history.diff as |diff|}}
    <div class="item">
      <strong>{{humanize-key (join-array diff.path ".")}}</strong>
      changed from
      <span class="ui label">{{diff-value-translator key=diff.path value=diff.lhs}}</span> to
      <span class="ui green label">{{diff-value-translator key=diff.path value=diff.rhs}}</span>
    </div>
  {{/each}}
</div>
