{{#if group.startOfYear}}
  <span class="history__year-start">
    {{time group.date 'YYYY'}}
  </span>
{{/if}}

{{#if group.startOfMonth}}
  <span class="history__month-start">
    <span class="group-date__month">{{time group.date 'MMMM'}}</span>
  </span>
{{/if}}

<span class="history__group-date animated rollIn">
  <span class="group-date__month">{{time group.date 'MMM'}}</span>
  <span class="group-date__day">{{time group.date 'Do'}}</span>
</span>


<div class="history-group__operation {{if oneOperationInDay 'history-group__operation-single'}}">
  {{#if singleOperationInDay}}
    Changes made to {{join-array shownKeys}}
    {{#if hiddenKeys.length}}
      {{#ui-popup content=(join-array hiddenKeys)}}
        {{hiddenKeys.length}} {{inflect-text 'other' hiddenKeys.length}}
      {{/ui-popup}}
    {{/if}}
  {{/if}}
</div>
{{!-- {{list-item/history-item history=history}} --}}
