{{#if hasBlock}}
  {{yield this.model}}
{{else}}
  <div class="content mobile-view__job-opening">
    <div class="header">
      <LinkTo @route="account.job-opening" @model={{this.model.id}}>
        {{this.model.name}}
      </LinkTo>
    </div>
    {{#if this.model.hiring}}
      <span class="ui right floated"><a href="https://{{this.auth.user.company.urlPrefix}}.granitehr.com/careers/{{this.model.slug}}" target="_blank" rel="noopener">View careers link <i class="external alternate fitted icon"></i></a></span>
    {{/if}}
    <div class="meta">
      Hiring for <strong>{{this.model.job.title}}</strong> position
      <span class="ui small text right floated">Created: {{time this.model.created}}{{#if this.model.creator}} by {{this.model.creator.fullName}}{{/if}}</span>
    </div>
    <div class="extra">
      {{#if this.model.completedSetup}}
        {{#if this.model.completedOn}}
          <span class="ui label"><i class="check icon"></i>Completed on {{time this.model.completedOn}}</span>
        {{else if this.model.hiring}}
          <span class="ui green label"><i class="add user icon"></i>Hiring</span>
          <span class="ui blue label"><i class="check icon"></i>Completed setup {{time-ago this.model.completedSetup}}</span>
        {{else}}
          <span class="ui label"><i class="hourglass empty icon"></i>Ended</span>
        {{/if}}
      {{else}}
        <span class="ui orange label">Needs Setup</span>
      {{/if}}
    </div>
  </div>
{{/if}}
