<div class="content">
  <div class="header clearfix">{{location.name}}</div>
    {{#liquid-if details}}
      <div class="ui segment">
          <div class="line-item-value">
            <i>Created On</i>
            <u>
              {{time location.created}}
            </u>
          </div>
          {{#if location.code}}
            <div class="line-item-value">
              <i>Location Code</i>
              <u>
                {{location.code}}
              </u>
            </div>
          {{/if}}
      </div>
    {{/liquid-if}}
  <div class="extra content">
    <div class="right floated">
      {{#confirm-modal as |confirm|}}
        <a href="#" class="text-danger" {{action (pipe confirm (action 'delete'))}}>
          <i class="trash icon"></i>
        </a>
      {{/confirm-modal}}
    </div>
    <div class="left floated">
      {{#ui-popup tagName='span' content="View details"}}
        <a href="#" {{action "toggleProperty" "details"}}><i class="{{if details 'up' 'down'}} angle icon"></i></a>
      {{/ui-popup}}
    </div>
  </div>
</div>
{{!-- TODO: Add address to this template and the model --}}
