<div class="content">
  <div class="header">
    {{location.name}}
    {{#if location.code}}
      <div class="ui blue label">
        {{location.code}}
      </div>
    {{/if}}
  </div>
  <div class="right floated">
    {{#link-to "account.anatomy.location.edit" location.id}}
      {{#ui-popup tagName="span" position="left center" content="Edit location"}}
        <i class="edit icon"></i>
      {{/ui-popup}}
    {{/link-to}}
    {{#confirm-modal deleteContext=location.name tagName="span" as |confirm|}}
      {{#ui-popup tagName="span" position="left center" content="Delete location"}}
        <a href="#" class="text-danger" {{action (pipe confirm (action "delete"))}}>
          <i class="trash icon"></i>
        </a>
      {{/ui-popup}}
    {{/confirm-modal}}
  </div>
  <div class="meta">
    <p>
      {{location.addressLine1}} <br />
      {{#if location.addressLine2}}
        {{location.addressLine2}} <br />
      {{/if}}
      {{location.addressCity}}, {{location.addressState}} {{location.addressZipcode}}
    </p>
    {{#if location.phoneFormatted}}
      <div class="left floated text">
        {{location.phoneFormatted}}
      </div>
    {{/if}}
    <span class="ui small text right floated">Created {{time-ago location.created}} {{#if location.creator.fullName}}by {{location.creator.fullName}}{{/if}}</span>
  </div>
</div>
