<div class="content">
  <div class="header">
    {{this.location.name}}
    {{#if this.location.code}}
      <div class="ui blue label">
        {{this.location.code}}
      </div>
    {{/if}}
  </div>
  <div class="right floated">
    {{#link-to "account.anatomy.location.edit" this.location.id}}
      {{ember-tooltip
        side="left"
        popperContainer="body"
        text="Edit location"}}
      <i class="edit icon"></i>
    {{/link-to}}
    {{#confirm-modal deleteContext=this.location.name tagName="span" as |confirm|}}
      <a href="#" class="text-danger" {{action (pipe confirm (action "delete"))}}>
        {{ember-tooltip
          side="left"
          popperContainer="body"
          text="Delete location"}}
        <i class="trash icon"></i>
      </a>
    {{/confirm-modal}}
  </div>
  <div class="meta">
    <p>
      {{this.location.addressLine1}}<br>
      {{#if this.location.addressLine2}}
        {{this.location.addressLine2}}<br>
      {{/if}}
      {{this.location.addressCity}}, {{this.location.addressState}} {{this.location.addressZipcode}}
    </p>
    {{#if this.location.phoneFormatted}}
      <div class="left floated text">
        {{this.location.phoneFormatted}}
      </div>
    {{/if}}
    <span class="ui small text right floated">Created {{time-ago this.location.created}} {{#if this.location.creator.fullName}}by {{this.location.creator.fullName}}{{/if}}</span>
  </div>
</div>
