{{#if participant.company}} {{! is employee }}
  {{#link-to
    "account.employee"
    participant.id
    class="ui image label"
  }}
    {{display/employee-picture
      url=participant.picture
    }}
    {{participant.fullName}}
    {{#if detail}}
      <div class="detail">{{detail}}</div>
    {{/if}}
  {{/link-to}}
{{else}}
  <span class="ui image label">
    {{display/employee-picture
      url=participant.picture
    }}
    {{participant.fullName}}
    {{#if detail}}
      <div class="detail">{{detail}}</div>
    {{/if}}
  </span>
{{/if}}
