{{#if hasBlock}}
  {{yield todo}}
{{else}}
  <div class="content">
    {{#if onStatusChange}}
      <a href="#" {{action "changeStatus"}}><i class="{{if todo.completedOn 'checkmark box' 'square outline'}} icon"></i></a>
    {{else}}
      <i class="{{if todo.completedOn 'checkmark box' 'square outline'}} icon"></i>
    {{/if}}
    {{todo.title}}
    <small class="right floated meta">
      {{#if todo.assignedTo}}
        <strong>Assigned</strong> to {{todo.assignedTo.firstName}} by {{todo.assignedBy.firstName}} {{time-ago todo.assignedOn}}
      {{else}}
        No owner
      {{/if}}
    </small>
  </div>
{{/if}}
