<div class="content">
  <div class="header">
    {{this.history.diff.length}} {{inflect-text "changes" this.history.diff.length}} for {{time this.history.effectiveOn}}
  </div>
  <div class="meta">
    By {{this.history.creator.fullName}} at {{time this.history.created "h:mma"}}
  </div>
  <div class="description">
    <table class="ui very basic striped unstackable table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Previous</th>
          <th>New</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.history.diff as |diff|}}
          <tr>
            <td><strong>{{humanize-key (join-array diff.path ".")}}</strong></td>
            <td><DiffValueTranslator @key={{diff.path}} @value={{diff.lhs}} /></td>
            <td><DiffValueTranslator @key={{diff.path}} @value={{diff.rhs}} /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <ConfirmModal @title="Are you sure?" @confirmContent="This will change the effective date to today." @class="item" as |confirmApply|>
    <ConfirmModal @title="Are you sure?" @confirmContent="This will delete the changes." @class="item" as |confirmDelete|>
      <div class="extra content">
        <div class="ui divider"></div>
        <div class="ui two buttons">
          <button class="positive ui button" {{action (pipe confirmApply (action "modifyEffectiveDate"))}}>Apply these changes now</button>
          <button class="negative ui button" {{action (pipe confirmDelete (action "delete" this.history))}}>Discard these changes</button>
        </div>
      </div>
    </ConfirmModal>
  </ConfirmModal>
</div>
