<div class="ui tiny rounded image">
  {{display/employee-picture url=user.employee.picture employeeId=user.employee.id}}
</div>
<div class="content">
  <div class="header">
    {{user.fullName}}
    {{#if user.inactive}}
      <label class="ui red label">Deactivated</label>
    {{/if}}
  </div>
  <div class="right floated">
    {{#link-to "account.anatomy.company-users.edit" user.id}}
      {{#ui-popup tagName="span" position="left center" content="Edit user"}}
        <i class="edit icon"></i>
      {{/ui-popup}}
    {{/link-to}}
    {{#if user.inactive}}
      {{#ui-popup tagName="span" position="left center" content="Activate user"}}
        <a href="#" {{action "reactivateUser"}}>
          <i class="{{if working "loading spinner" "undo"}} icon"></i>
        </a>
      {{/ui-popup}}
    {{else}}
      {{#ui-popup tagName="span" position="left center" content="Deactivate user"}}
        <a href="#" class="text-danger" {{action "transferProjects"}}>
          <i class="{{if working "loading spinner" "times"}} icon"></i>
        </a>
      {{/ui-popup}}
    {{/if}}
  </div>
  <div class="meta">
    <span>{{user.email}}</span>
    <span class="ui small text right floated">Created {{time-ago user.created}} on {{time user.created}}</span>
  </div>
  <div class="extra">
    {{#if user.activatedOn}}
      <i class="check icon"></i>Activated {{time-ago user.activatedOn}}
    {{else}}
      <span class="text-green"><i class="mail outline icon"></i>Activation email sent {{time-ago user.created}}</span>
    {{/if}}
  </div>
</div>



{{#ui-modal name="modal__transfer-projects" id="modal__transfer-projects" class="small form"}}
  <div class="header">
    {{user.fullName}} has projects that need to be transfered
  </div>
  <div class="content">
    PROJECTS NEEDING TRANSFER
  </div>
  <div class="actions">
    <button class="ui inverted red button" {{action 'cancel'}}>Cancel</button>
    <button class="ui primary button" {{action "deactivateUser"}}>Confirm deactivation</button>
  </div>
{{/ui-modal}}
