<div class="ui raised very padded text container segment file-uploader">
  {{#if this.fileError}}
    <p class="ui red segment">
      <i class="red warning sign icon"></i> {{this.fileError}}
    </p>
  {{/if}}
  <form {{action "saveDocument" on="submit"}}>
    <div class="ui form">
      <div class="field">
        <div class="ui center aligned segment dropzone">
          <i class="cloud upload massive icon"></i><p class="dragText">{{if this.dragText this.dragText "Drag Your Files Here."}}</p>
          <h4>
            <a href="#" {{action "triggerFileInput" on="click"}}>Choose a file from your computer</a>
            or <a href="/assets/documents/census-template.xlsx" download>start with this template</a>
          </h4>
          <p class="extensions">
            Supported file types are:
            {{#each this.allowedExtensions as |extension|}}
              {{extension}}
            {{/each}}
          </p>
        </div>
        {{#if this.files}}
          <div class="ui green segment">
            <h2 class="ui center aligned">Ready to Upload:</h2>
            <ul class="file-upload-list">
              {{#each this.files as |file|}}
                <li>
                  {{file.name}}
                  <a href="#" {{action "removeFile" file}}><i class="red remove circle icon"></i></a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>

      {{#if this.errorMessage}}
        <p class="text danger">Error occured while uploading file: {{this.errorMessage}}</p>
      {{else}}
        {{#if this.uploadProgress}}
          {{#ui-progress percent=this.uploadProgress classNames="indicating"}}
            <div class="bar"></div>
            <div class="label">{{this.uploadProgress}}% Uploaded</div>
          {{/ui-progress}}
        {{/if}}
      {{/if}}

      <div class="field">
        <input class="input-hidden" type="file" id={{this.inputId}} multiple={{this.allowMulti}} {{action "selectFile" on="change"}}>
        {{#if this.saveError}}
          <p>{{this.saveError}}</p>
        {{/if}}
        {{#unless this.autoUpload}}
          <button type="submit" class="positive ui {{if this.working "loading"}} button right floated" disabled={{or (not this.files) this.working}}>Upload</button>
        {{/unless}}
      </div>
    </div>
  </form>
</div>
