<div class="ui raised very padded text container segment file-uploader">
  {{#if fileError}}
    <p class="ui red segment">
      <i class="red warning sign icon"></i> {{fileError}}
    </p>
  {{/if}}
  <form {{action "saveDocument" on="submit"}}>
    <div class="ui form">
      <div class="field">
        <div class="ui center aligned segment dropzone">
          <i class="cloud upload massive icon"></i><p class="dragText">{{if dragText dragText 'Drag Your Files Here.'}}</p>
          <h4>Or <a href="#" {{action "triggerFileInput" on="click"}}>choose a file from your computer</a></h4>
          <p class="extensions">
            Supported file types are:
            {{#each allowedExtensions as |extension|}}
              {{extension}}
            {{/each}}
          </p>
        </div>
        {{#if files}}
          <div class="ui green segment">
            <h2 class="ui center aligned">Ready to Upload:</h2>
            <ul class="file-upload-list">
              {{#each files as |file|}}
                <li>
                  {{file.name}}
                  <a href="#" {{action "removeFile" file}}><i class="red remove circle icon"></i></a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>

      {{#if errorMessage}}
        <p class="text danger">Error occured while uploading file: {{errorMessage}}</p>
      {{else}}
        {{#if uploadProgress}}
          {{#ui-progress percent=uploadProgress classNames="indicating"}}
            <div class="bar"></div>
            <div class="label">{{uploadProgress}}% Uploaded</div>
          {{/ui-progress}}
        {{/if}}
      {{/if}}

      <div class="field">
        <input class="input-hidden" type="file" id="{{inputId}}" multiple={{allowMulti}} {{action "selectFile" on="change"}} />
        {{#if saveError}}
          <p>{{saveError}}</p>
        {{/if}}
        {{#unless autoUpload}}
          <button type="submit" class="positive ui button right floated" disabled={{if files false true}}>Upload</button>
        {{/unless}}
      </div>
    </div>
  </form>
</div>
