<LinkTo @route="account.employee.index.counseling.issue.new" class="ui red fluid button">
  <i class="bullseye icon"></i>Issue a new corrective action
</LinkTo>

<div class="ui divider"></div>

<Display::ResourceList
  @model={{this.model}}
  @itemComponent="list-item/employee-corrective-action-item"
  @linkTo="account.employee.index.counseling.issue.corrective-action"
  @linkClass="item"
  class="ui divided link items"/>

<Elements::XPagination @page={{this.page}} @model={{this.model}} @limit={{this.limit}} @onChange={{set this.page _}} />
