<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui form">
    <Input::UiInput @type="text" @inputId="action-item-title" @placeholder="Title" @value={{this.model.title}} />

    <div class="field">
      <label for="action-item-description">Description</label>
      <Textarea @rows="5" placeholder="Description" @value={{this.model.description}} />
    </div>

    <div class="ui divider"></div>

    <div class="field">
      <label for="action-item-priority"><i class="exclamation icon"></i> Priority</label>
      <div class="range-label"><i>Low</i><i>High</i></div>
      <EmberRangeSlider @id="action-item-priority" @keyboard={{true}} @keyboard_step={{20}} @grid={{true}} @min={{1}} @max={{5}} @step={{1}} @from={{this.model.priority}} @slideStop={{this.updatePriority}} />
    </div>

    <div class="field">
      <label for="action-item-prerequisites">
        <EmberTooltip @targetId="it__prerequisites" @popperContainer="body" @side="left" @text="Prerequisites indicate which projects need to be completed before this project can be completed." />
        Prerequisites
        <i class="right floated info icon" id="it__prerequisites"></i>
      </label>
      {{#if this.actionItems}}
        <UiDropdown @class="fluid search multiple selection" @id="action-item-prerequisites" @selected={{this.model.prerequisites}} @onChange={{set this.model.prerequisites _}} as |execute mapper|>
          <i class="dropdown icon"></i>
          <div class="default text">Type or select to assign prerequisites</div>
          <div class="menu">
            {{#each this.actionItems as |item|}}
              <div class="item" data-value={{map-value mapper item}}>
                {{item.title}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      {{else}}
        <p>No other projects are available.</p>
      {{/if}}
    </div>
    <div class="ui divider"></div>
    <form {{on "submit" (prevent-default (fn this.data.saveRecord this.model 'working' this.afterSaveOptions))}}>
      <Form::ActionButton
        @type="submit"
        @class="ui huge fluid green button"
        @loading={{this.data.statuses.working.isLoading}}
      >
        Save project
      </Form::ActionButton>
    </form>
  </div>
</div>
