<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui form">
    {{input/ui-input type="text" inputId="action-item-title" placeholder="Title" value=model.title}}

    <div class="field">
      <label for="action-item-description">Description</label>
      {{textarea rows="5" placeholder="Description" value=model.description}}
    </div>

    <div class="ui divider"></div>

    <div class="field">
      <label for="action-item-priority"><i class="exclamation icon"></i> Priority</label>
      <div class="range-label"><i>Low</i><i>High</i></div>
      {{ember-range-slider id="action-item-priority" keyboard=true keyboard_step=20 grid=true min=1 max=5 step=1 from=model.priority slideStop=(action "updatePriority")}}
    </div>

    <div class="field">
      <label for="action-item-prerequisites">
        {{ember-tooltip
          targetId="it__prerequisites"
          popperContainer="body"
          side="left"
          text="Prerequisites indicate which projects need to be completed before this project can be completed."}}
        Prerequisites
        <i class="right floated info icon" id="it__prerequisites"></i>
      </label>
      {{#if actionItems}}
        {{#ui-dropdown class="fluid search multiple selection" id="action-item-prerequisites" selected=model.prerequisites onChange=(action (mut model.prerequisites)) as |execute mapper|}}
          <i class="dropdown icon"></i>
          <div class="default text">Type or select to assign prerequisites</div>
          <div class="menu">
            {{#each actionItems as |item|}}
              <div class="item" data-value={{map-value mapper item}}>
                {{item.title}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{else}}
        <p>No other projects are available.</p>
      {{/if}}
    </div>
    <div class="ui divider"></div>
    <form {{action "save" on="submit"}}>
      {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Save project{{/form/action-button}}
    </form>
  </div>
</div>
