<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached green label">
    {{#if model.target}}
      This item pertains to <a href="#">{{model.target}}</a>
    {{/if}}
    <div class="right floated detail">
      Started on {{time model.created}}
    </div>
  </div>

  <h2 class="ui clearfix header">
    {{#if (eq model.owner.id auth.user.employee.id)}}
      {{#link-to 'account.action-item.edit'}}
        <i class="edit fitted icon"></i>
      {{/link-to}}
    {{/if}}
    {{model.title}}
    <span class="right floated sub header">
      <i class="clock icon"></i>
      {{#if model.dueOn}}
        {{#if model.delayedUntil}}
          <span class="text-yellow">Delayed until {{time model.delayedUntil}}</span> - originally due
        {{else}}
          Due {{time-ago model.dueOn}}
        {{/if}}
        on {{time model.dueOn}}
      {{else}}
        No due date
      {{/if}}
    </span>
  </h2>
  <p>{{model.description}}</p>

  {{#if model.prerequisites}}
    <div class="ui divider"></div>
    <h3 class="ui header">
      Prerequisites
      <a href="#" class="right floated">
        <i class="edit icon"></i>
      </a>
    </h3>

    <div class="ui selection list action-item__prerequisites">
      {{#each model.prerequisites as |prework|}}
        {{#link-to "account.action-item.index" prework class="item"}}
          <div class="header">
             {{prework.title}}
          </div>
          {{#if prework.checklist}}
            <div class="ui list">
              {{#each prework.checklist as |checklistItem|}}
                <div class="item">
                  <i class="square outline icon"></i>{{checklistItem.title}}
                </div>
              {{/each}}
            </div>
            {{/if}}
        {{/link-to}}
      {{/each}}
    </div>
  {{/if}}

  {{#if model.participants}}
    <div class="ui divider"></div>
    <h3 class="header">
      Participants
    </h3>
    {{#each model.participants as |participant|}}
      {{list-item/action-item-participant participant model.owner}}
    {{/each}}
  {{/if}}

  {{#if (and dependents (not model.completedOn))}}
    <div class="ui divider"></div>
    <h3 class="header">
      {{dependents.length}} {{inflect-text 'Project' dependents.length}} Waiting
    </h3>
    <div class="ui selection list action-item__prerequisites">
      {{#each dependents as |dependent|}}
        {{#link-to "account.action-item.index" dependent class="item"}}
          <div class="header">{{dependent.title}}</div>
        {{/link-to}}
      {{/each}}
    </div>
  {{/if}}
</div>
