<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached green label">
    {{#if model.target}}
      This item pertains to <a href="#">{{model.target}}</a>
    {{/if}}
    <div class="right floated detail">
      Started on {{time model.created}}
    </div>
  </div>

  <h2 class="ui header">
    {{model.title}}
    <span class="right floated sub header">
      <i class="clock icon"></i>Due {{time-ago model.dueOn}} on {{time model.dueOn}}
    </span>
  </h2>
  <p>{{model.description}} </p>
  {{!description}}
  <div class="ui divider"></div>
  <h3 class="ui header">
    Prerequisites
    <a href="#" class="right floated">
      <i class="edit icon"></i>
    </a>
  </h3>
  {{#if model.prerequisites}}
    <div class="ui selection list action-item__prerequisites">
        {{#each model.prerequisites as |prework|}}
          {{#link-to "account.employee" class="item"}}
            <div class="header">
               {{prework.title}}
            </div>
            {{#if prework.checklist}}
              <div class="ui list">
                {{#each prework.checklist as |checklistItem|}}
                  <div class="item">
                    <i class="square outline icon"></i>{{checklistItem.title}}
                  </div>
                {{/each}}
              </div>
              {{/if}}
          {{/link-to}}
        {{/each}}
    </div>
  {{/if}}
  {{#if model.participants}}
    <div class="ui divider"></div>
    <h3 class="header">
      Participants
    </h3>
    {{#each model.participants as |participant|}}
      <a class="ui image label">
        {{display/employee-picture src=participant.picture}}
        {{participant.name}}
        {{#if participant.isOwner}}
          <div class="detail">Owner</div>
        {{/if}}
      </a>
    {{/each}}
  {{/if}}
</div>
{{!-- TODO: partcipants, owner --}}

{{!--
  !Title
  !Description
  !Target
  !Due On
  Priority
  !Prerequisites
  Delayed Until
  !Completed On
  !Cancelled On
  !Participants
  !Owner
--}}
