<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached green label">
    {{#if this.model.target}}
      This item pertains to <a href="#">{{this.model.target}}</a>
    {{/if}}
    <div class="right floated detail">
      Started on {{time this.model.created}}
    </div>
  </div>

  <h2 class="ui clearfix header">
    {{#if (eq this.model.owner.id this.auth.user.employee.id)}}
      <LinkTo @route="account.action-item.edit">
        <i class="edit fitted icon"></i>
      </LinkTo>
    {{/if}}
    {{this.model.title}}
    <span class="right floated sub header project__sub-header">
      <i class="clock icon"></i>
      {{#if this.model.dueOn}}
        {{#if this.model.delayedUntil}}
          <span class="text-yellow">Delayed until {{time this.model.delayedUntil}}</span> - originally due
        {{else}}
          Due {{time-ago this.model.dueOn}}
        {{/if}}
        on {{time this.model.dueOn}}
      {{else}}
        No due date
      {{/if}}
    </span>
  </h2>
  <p>{{this.model.description}}</p>

  {{#if this.model.prerequisites}}
    <div class="ui divider"></div>
    <h3 class="ui header">
      Prerequisites
      <a href="#" class="right floated">
        <i class="edit icon"></i>
      </a>
    </h3>

    <div class="ui selection list action-item__prerequisites">
      {{#each this.model.prerequisites as |prework|}}
        <LinkTo @route="account.action-item.index" @model={{prework}} class="item">
          <div class="header">
            {{prework.title}}
          </div>
          {{#if prework.checklist}}
            <div class="ui list">
              {{#each prework.checklist as |checklistItem|}}
                <div class="item">
                  <i class="square outline icon"></i>{{checklistItem.title}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        </LinkTo>
      {{/each}}
    </div>
  {{/if}}

  {{#if this.model.participants}}
    <div class="ui divider"></div>
    <h3 class="header">
      Participants
    </h3>
    {{#each this.model.participants as |participant|}}
      {{list-item/action-item-participant
        participant
        owner=this.model.owner}}
    {{/each}}
  {{/if}}

  {{#if (and this.dependents (not this.model.completedOn))}}
    <div class="ui divider"></div>
    <h3 class="header">
      {{this.dependents.length}} {{inflect-text "Project" this.dependents.length}} Waiting
    </h3>
    <div class="ui selection list action-item__prerequisites">
      {{#each this.dependents as |dependent|}}
        <LinkTo @route="account.action-item.index" @model={{dependent}} class="item">
          <div class="header">{{dependent.title}}</div>
        </LinkTo>
      {{/each}}
    </div>
  {{/if}}
</div>
