<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached green label">
    This item pertains to <a href="#">{{model.target}}</a>
    <div class="right floated detail">
      Started on {{model.createdOn}}
    </div>
  </div>

  <h2 class="ui header">
    {{model.title}}
    <span class="right floated sub header">
      <i class="clock icon"></i>Due in 5 days on {{model.dueOn}}
    </span>
  </h2>
  <p>{{model.description}} </p>
  {{!description}}
  <div class="ui divider"></div>
  <h3 class="ui header">
    Prerequisites
    <a href="#" class="right floated">
      <i class="edit icon"></i>
    </a>
  </h3>
  <div class="ui selection list action-item__prerequisites">
    <a href="#" class="item">
      <div class="header">
        Write Job Description for UX Designer
      </div>
      <div class="ui list">
        <div class="item">
          <i class="square outline icon"></i>Prepare Final Draft
        </div>
        <div class="item">
          <i class="square outline icon"></i>Approve Final Draft
        </div>
      </div>
    </a>
    <a href="#" class="item">
      <div class="header">
        Perform Salary Survey for 2016
      </div>
      <div class="ui list">
        <div class="item">
          <i class="square outline icon"></i>Gather Sources
        </div>
        <div class="item">
          <i class="square outline icon"></i>Compile Data
        </div>
        <div class="item">
          <i class="square outline icon"></i>Assess Data
        </div>
        <div class="item">
          <i class="square outline icon"></i>Generate Report
        </div>
      </div>
    </a>
    <a href="#" class="item">
      <div class="header">
        Talk to the boss about making a really long description for the action-item.
      </div>
      <div class="ui list">
        <div class="item">
          <i class="square outline icon"></i>Talk
        </div>
      </div>
    </a>
  </div>
  <div class="ui divider"></div>
  <h3 class="header">
    Participants
  </h3>
  <a class="ui image label">
    <img src="/assets/mock/avatars/small/1.png">
    Sandra Villegas
    <div class="detail">Owner</div>
  </a>
  <a class="ui image label">
    <img src="/assets/mock/avatars/small/2.png">
    Bryan Edwards
  </a>
  <a class="ui image label">
    <img src="/assets/mock/avatars/small/3.png">
    Jackie Swiesz
  </a>
</div>

{{!--
  !Title
  !Description
  !Target
  !Due On
  Priority
  !Prerequisites
  Delayed Until
  !Completed On
  !Cancelled On
  !Participants
  !Owner
--}}
