{{#ui-progress percent=model.percentComplete class="top thin indicating"}}
  <div class="bar"></div>
{{/ui-progress}}

<div class="ui very padded raised segment animated fadeInUp">
  {{#if userTodos}}
    <div class="ui padded green segment">
      <h2 class="ui header"><i class="user icon"></i>Your Todo Items</h2>
      <div class="ui very relaxed divided list">
        {{#each userTodos as |todo|}}
          {{list-item/todo-item todo onStatusChange=(action "changeCompletedStatus")}}
        {{/each}}
      </div>
    </div>
  {{/if}}
  <h3 class="ui header"><i class="left floated users icon"></i>All Todo Items <i class="right floated {{if addingTodo 'remove orange' 'plus'}} icon" {{action 'toggleProperty' 'addingTodo'}}></i> </h3>
  {{#if addingTodo}}
    <form class="ui form basic segment animated fadeInUp" {{action "addTodo" on="submit"}}>
      <div class="field">
        <label for="new-todo-item" class="sr-only">Add a new todo item</label>
        {{input type='text' value=pendingTodo placeholder="Type to add a new todo item"}}
      </div>
      {{#ui-dropdown class="fluid search selection" id="new-todo-assigned-to" onChange=(action (mut pendingTodoAssignee)) as |execute mapper|}}
        <i class="dropdown icon"></i>
        <div class="default text">Assign someone to this item</div>
        <div class="menu">
          <div class="item" data-value="">No Assignee</div>
          {{#each employees as |employee|}}
            <div class="item" data-value="{{map-value mapper employee}}">
              {{employee.fullName}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
      {{#liquid-if pendingTodo class="field"}}
        <div class="ui divider"></div>
        {{#form/action-button type="submit" class="ui fluid button"}}Add{{/form/action-button}}
      {{/liquid-if}}
    </form>
  {{/if}}
  <div class="ui very relaxed divided list">
    {{#if model.checklist}}
      {{#each model.incompleteTodos as |todo|}}
        {{list-item/todo-item todo onStatusChange=(action "changeCompletedStatus")}}
      {{/each}}
      {{#each model.completeTodos as |todo|}}
        {{list-item/todo-item todo onStatusChange=(action "changeCompletedStatus")}}
      {{/each}}
    {{else}}
      <h4 class="center aligned header">No todos available.</h4>
    {{/if}}
  </div>
</div>
