{{#ui-progress percent=model.percentComplete class="top thin indicating"}}
  <div class="bar"></div>
{{/ui-progress}}

<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui padded green segment">
    <h2 class="ui header">Your Todo Items</h2>
    <div class="ui very relaxed divided list">
      {{#each userTodos as |todo|}}
        {{list-item/todo-item todo
          onStatusChange=(action 'changeCompletedStatus')
          onAssigneeChange=(action 'changeAssignee')
          assignableTo=employees
        }}
      {{else}}
        <h2 class="center aligned text">{{emoji-icon 'tada'}} <div class="content">All up to date!</div></h2>
      {{/each}}
    </div>
  </div>

  <div class="ui padded segment">
    <hgroup class="clearfix">
      <h3 class="ui right floated header"><a href="#" {{action (toggle 'addingTodo' this)}}><i class="{{if addingTodo 'remove orange' 'plus'}} icon"></i></a></h3>
      <h3 class="ui left floated header">
        <i class="checkmark box icon"></i>
        <div class="content">All Todo Items</div>
      </h3>
    </hgroup>

    {{#if addingTodo}}
      <form class="ui form basic segment animated fadeInUp" {{action "addTodo" on="submit"}}>
        <div class="field">
          <label for="new-todo-item" class="sr-only">Add a new todo item</label>
          {{input type='text' value=pendingTodo placeholder="Type to add a new todo item"}}
        </div>
        {{#ui-dropdown class="fluid search selection" id="new-todo-assigned-to" onChange=(action (mut pendingTodoAssignee)) as |execute mapper|}}
          <i class="dropdown icon"></i>
          <div class="default text">Assign someone to this item</div>
          <div class="menu">
            <div class="item" data-value="">No Assignee</div>
            {{#each employees as |employee|}}
              <div class="item" data-value="{{map-value mapper employee}}">
                {{employee.fullName}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
        {{#liquid-if pendingTodo class="field"}}
          <div class="ui divider"></div>
          {{#form/action-button type="submit" class="ui fluid button"}}Add{{/form/action-button}}
        {{/liquid-if}}
      </form>
    {{/if}}

    <div class="ui very relaxed divided list">
      {{#each (union model.incompleteTodos model.completeTodos) as |todo|}}
        {{list-item/todo-item todo
          onStatusChange=(action 'changeCompletedStatus')
          onAssigneeChange=(action 'changeAssignee')
          assignableTo=employees
        }}
      {{else}}
        <h4 class="center aligned header">No todos available.</h4>
      {{/each}}
    </div>
  </div>
</div>
