<form class="ui form" {{on "submit" (prevent-default this.linkCarrier)}}>
  <p class="aligned text">
    <span class='ui right floated'>
      <div class="ui image carrier_logo">
        <img src={{@model.logo}}>
      </div>
    </span>
    You must request a carrier authorization code and company id from the carrier. Please call {{@model.phone}} and
    ask for
    a Granite HR authorization code. The carrier will request some identifying information to verify your account and
    then
    provide an authorization code and company id. Do not enter or share this information anywhere except for this page.
  </p>
  <div class="field">
    <Input::UiInput @type="text" @inputId="authorizationCode" @value={{this.authorizationCode}} @placeholder="Code provided by the carrier" />
  </div>
  <div class="field">
    <Input::UiInput @type="text" @inputId="companyID" @value={{this.companyId}} @placeholder="Company id provided by the carrier" />
  </div>
  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui massive fluid green button">
    Complete Carrier Link
  </Form::ActionButton>
</form>
