<h3>{{or this.form.name this.form.title}} Responses</h3>

<Modals::ViewFormResponse as |openResponseView|>
  <div class="ui relaxed list">
    {{#each this.model as |response|}}
      <div class="ui item">
        <div class="content">
          <div class="header">
            Response by {{response.employee.fullName}} on {{time response.submittedOn "M/D/YY [at] h:mma"}}
          </div>
          <div class="extra">
            <a href="#" {{action openResponseView response this.form}}>View Responses</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</Modals::ViewFormResponse>

<Elements::XPagination @page={{this.page}} @model={{this.model}} @limit={{this.limit}} @onChange={{set this.page _}} />
