<div class="field">
  <label for={{this.inputId}}>{{@attribute}}{{yield}}</label>
  {{log "??" this.value}}
  {{!-- {{input type="text" id=this.inputId value=(mut (get this.object this.attribute)) placeholder=this.placeholder}} --}}
  {{!-- FIGURE THIS OUT --}}
  <Input @type="text" @id={{this.inputId}} @value={{his.value}} @placeholder={{this.placeholder}}/>
</div>
