<div class="field">
 <label for="custom-field-name">Field Name</label>
 {{input type="text" value=pendingCustomFieldName id="custom-field-name" placeholder="Allergies, for example"}}
</div>
<div class="field">
 <label for="custom-field-value">Field Value</label>
 {{input type="text" value=pendingCustomFieldValue id="custom-field-value" placeholder="Gluten, Mondays, et cetera"}}
</div>
 <a href="#" class="text-danger pull-right" {{action 'removeEmployeeCustomFieldName' attribute}}><i class="trash icon"></i>Remove</a>
{{/input/custom-field}}
<div class="field">
  <div class="ui positive button" {{action "toggleProperty" "addingCustomFieldValue"}}>Save this value</div>
  <div class="ui warning button" {{action "toggleProperty" "addingCustomFieldValue"}}>Cancel</div>
</div>
