<label for="{{computedClassName}}" class="{{field.labelClass}}">{{field.label}}</label>

{{#if (eq field.type 'select')}}
  {{#ui-dropdown
    id=computedClassName
    class=inputClass
    selected=(get model field.path)
    forceSelection=false
    onChange=(action (mut value))
    as |execute mapper|}}
    <div class="default text">Select {{field.label}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each (get this field.contentPath) as |item|}}
        <div class="item" data-value="{{map-value mapper item}}">
          {{#if field.displayKey}}
            {{get item field.displayKey}}
          {{else}}
            {{item}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
{{else if (eq field.type 'textarea')}}
  {{textarea
    value=value
    id=computedClassName
    rows=rows
    spellcheck="true"}}
{{else}}
  {{log field}}
  {{log model}}
  {{validated-input
    type=field.type
    model=model
    valuePath=field.path
    placeholder=field.label
    id=computedClassName
    inputClass=inputClass}}
{{/if}}
