{{#unless (or (eq field.type 'checkbox') (eq field.type 'date'))}}
  <label for="{{computedClassName}}" class="{{field.labelClass}}">{{field.label}}</label>
{{/unless}}

{{#if (eq field.type 'select')}}
  {{#ui-dropdown
    id=computedClassName
    class=inputClass
    selected=(get model field.path)
    forceSelection=false
    allowAdditions=inputAttrs.allowAdditions
    onChange=(action (mut value))
    as |execute mapper|}}
    <div class="default text">
      {{#if field.selectText}}
        {{field.selectText}}
      {{else}}
        Select {{field.label}}
      {{/if}}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each (get this field.contentPath) as |item|}}
        <div class="item" data-value="{{map-value mapper item}}">
          {{#if field.displayKey}}
            {{get item field.displayKey}}
          {{else}}
            {{item}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
{{else if (eq field.type 'textarea')}}
  {{textarea
    value=value
    id=computedClassName
    rows=rows
    spellcheck="true"}}
{{else if (eq field.type 'checkbox')}}
  {{ui-checkbox
    id=computedClassName
    class=inputClass
    label=field.label
    checked=(readonly value)
    onChange=(action (mut value))}}
{{else if (eq field.type 'date')}}
  {{#ui-calendar
    type='date'
    class=inputClass
    onChange=(action (mut value))}}
    <label for={{computedClassName}} class={{field.labelClass}}>{{field.label}}</label>
    <div class="ui calendar" id={{computedClassName}}>
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" value={{value}} placeholder="Type In Or Select A Date">
      </div>
    </div>
  {{/ui-calendar}}
{{else}}
  {{validated-input
    type=field.type
    model=model
    valuePath=field.path
    placeholder=field.label
    inputAttrs=field.attrs
    id=computedClassName
    inputClass=inputClass}}
{{/if}}
