<label for={{this.inputId}} class={{if this.srOnly "sr-only"}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{this.placeholder}}
  {{/if}}
</label>
{{input type=this.type id=this.inputId class=this.inputClass placeholder=this.placeholder value=this.value}}
