<label for={{inputId}} class="{{if srOnly "sr-only"}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{placeholder}}
  {{/if}}
</label>
{{input type=type id=inputId class=inputClass placeholder=placeholder value=value}}
