<h3 class="ui header centered">
  Transaction
  <a href="#" class="right floated hide-from-invoice-print"{{action 'printTransaction'}}>
    <i class="print icon"></i>
  </a>
</h3>
<table class="ui very basic striped table">
  <tbody>
    <tr>
      <th>Date of Transaction</th>
      <td>{{time model.createdAt 'MM-DD-YYYY'}}</td>
    </tr>
    <tr>
      <th class="th__vertical-table-header">Amount</th>
      <td>${{model.amount}}</td>
    </tr>
    <tr>
      <th class="th__vertical-table-header">Payment Method</th>
      <td>
        <img class="ui mini image payment-image" src={{paymentMethod.image}}>
        {{paymentMethod.method}}
      </td>
    </tr>
    <tr>
      <th class="th__vertical-table-header">Description</th>
      <td>
        {{if isProrateCharge 'Charge for proration' 'Charge for monthly billing'}}
      </td>
    </tr>
    <tr>
      <th class="th__vertical-table-header">Billing Period</th>
      <td>
        {{time model.subscription.billingPeriodStartDate 'MM/DD/YYYY'}} -
        {{time model.subscription.billingPeriodEndDate 'MM/DD/YYYY'}}
      </td>
    </tr>
  </tbody>
</table>
