<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Edit Job Description
    </h1>
  </hgroup>
  <div class="ui divider"></div>

  <QuickForm
    @form={{this.form}}
    @model={{this.model}}
    @controller={{this}}
    @working={{this.working}}
    @submitClass="huge fluid green"
    @onsubmit={{fn this.save this.model}}
    @disabled={{or (not this.model.category) (not this.model.title)}}
  >
    Save
  </QuickForm>
</div>
