<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui top attached green label">
    {{#if this.model.category}}
      Category: {{this.model.category}}
    {{/if}}
    <div class="right floated detail">
      {{#if this.model.department.name}}
        Department: {{this.model.department.name}}
      {{/if}}
    </div>
  </div>
  <div class="clearfix">
    {{#if this.model.assets}}
      <p class="pull-left light text">
        Usually uses:
        {{join-array (map-by "name" this.model.assets) ", "}}
      </p>
    {{/if}}
    <p class="pull-right light text">Created on {{time this.model.created}}</p>
  </div>

  <h2 class="ui clearfix header">
    {{this.model.title}}
  </h2>
  {{! template-lint-disable }}
  <p>{{{this.model.description}}}</p>
</div>
