<div class="content">
  <div class="left floated">
    {{#if imagePreview}}
      <div class="ui small rounded image left floated">
        <img src="{{model.url}}">
      </div>
    {{/if}}
  </div>

  {{#if model.description}}
    <h4>{{model.description}}</h4>
  {{/if}}

  {{#if fileAssignments}}
    <div>
      Assigned to {{fileAssignments.length}} employee(s)
      <a href="#" {{action toggleProperty 'viewAssignees'}}>
        <i class="angle {{if viewAssignees 'up' 'down'}} icon"></i>
      </a>

      {{#liquid-if viewAssignees}}
        <ul>
          {{#each fileAssignments as |assignment|}}
            <li>{{list-item/file-assignment assignment=assignment}}</li>
          {{/each}}
        </ul>
      {{/liquid-if}}
    </div>
  {{/if}}
</div>
