<div class="ui raised padded segment container clearfix">
  <div class="ui basic segment">
    <h2 class="ui header"> Webinars </h2>
  </div>
  <div class="ui divider"></div>

  <div class="ui three stackable cards">
    {{#each webinars as |webinar|}}
      {{#if (find-by 'webinar' webinar authorizations)}}
        <hgroup class="clearfix">
          <h3 class="ui header left floated"> Purchased </h3>
        </hgroup>
        <div class="card">
          <div class="content">
            <div class="header">{{webinar.title}}</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Description</h4>
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    {{webinar.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- <div class="extra content">
            <a>
              {{#ember-tooltip
                      side="left"
                    }}
                ${{webinar.price}} for 90days
              {{/ember-tooltip}}
              <i class="small info icon"></i>
            </a>
            <a>
              <i class="ui right floated blue add icon"></i>
            </a>
          </div> --}}
        </div>
        <div class="ui divider"></div>
      {{/if}}
      <div class="card">
        <div class="content">
          <div class="header">{{webinar.title}}</div>
        </div>
        <div class="content">
          <h4 class="ui sub header">Description</h4>
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                  {{webinar.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <a>
            {{#ember-tooltip
              side="left"
            }}
              ${{webinar.price}} for 90days
            {{/ember-tooltip}}
            <i class="small info icon"></i>
          </a>
          <a>
            <i class="ui right floated blue add icon"></i>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
  {{#if items}}
    {{#each items as |item|}}
      <div class="ui basic segment">
        {{items.length}} in cart
        <button class="ui icon big button">
          <i class="right arrow icon"></i>
        </button>
      </div>
    {{/each}}
  {{/if}}

</div>
