<div class="ui raised padded segment container clearfix page__webinars">
  <div class="ui basic segment">
    <h2 class="ui header"> Webinars </h2>
  </div>
  <div class="ui divider"></div>
    <Educate::StickyCart
      @class="webinars-cart"
      @items={{this.itemsInCart}} />

  <div class="ui three stackable cards webinars-list">
    {{#each this.webinars as |webinar|}}
      <ListItem::Educate::WebinarItem
        @webinar={{webinar}}
        @authorization={{find-by 'webinar' webinar this.authorizations}}
        @addToCart={{this.addToCart}}
        @removeFromCart={{this.removeFromCart}}
        @itemsInCart={{this.itemsInCart}}/>
    {{else}}
      <h2 class="ui centered text">
        No webinars available.
      </h2>
    {{/each}}
  </div>
</div>
