{{stateful-intro-js
  user=auth.user
  steps=intros
  start-if=true
  hintKey="employees-index"}}

{{#if showFilters}}
  {{#display/filter-pane
    class="ui content form padded segment container"
    onChange=(action "updateFilter") as |filter|
  }}
    <h2>
      <i class="filter icon"></i> Filters
      <div class="ui horizontal list right floated">
        <div class="item">
          <button class="negative ui button small text" {{action "resetFilters"}}>Reset All</button>
        </div>
        <div class="item">
          <a href="#" class="light text" {{action toggleProperty "showFilters"}}>
            <i class="remove icon"></i>
          </a>
        </div>
      </div>
    </h2>

    {{#filter.section "Supervisor"}}
      {{#filter.selectControl
        "supervisor"
        supervisor
        searchable=true
        model=filterModels.supervisors as |item|
      }}
        {{item.fullName}}{{#if item.jobTitle}} - <span class="light text">{{item.jobTitle}}</span>{{/if}}
      {{/filter.selectControl}}
    {{/filter.section}}

    {{#filter.section "Department"}}
      {{filter.selectControl
        "department"
        department
        searchable=true
        model=filterModels.departments
        itemTextPath="name"}}
    {{/filter.section}}

    {{#filter.section "Location"}}
      {{filter.selectControl
        "location"
        location
        searchable=true
        model=filterModels.locations
        itemTextPath="name"}}
    {{/filter.section}}

    {{#filter.section "Hire Date" resets=(array "hireDateStart" "hireDateEnd")}}
      {{#filter.control "hireDate" (or hireDateStart hireDateEnd) class="two fields"}}
        {{ui-calendar
          class="ui field"
          type="date"
          container="body"
          startMode="year"
          label="Start Date"
          dateValue=hireDateStart
          onChange=(action (mut hireDateStart))}}

        {{ui-calendar
          class="ui field"
          type="date"
          container="body"
          startMode="year"
          label="End Date"
          dateValue=hireDateEnd
          onChange=(action (mut hireDateEnd))}}
      {{/filter.control}}
    {{/filter.section}}

    {{#filter.section "Additional Filters"}}
      <div class="ui three fields">
        {{filter.toggleControl
          "onboarding"
          onboarding
          label="Is Onboarding"
          class="center aligned text field"}}

        {{filter.toggleControl
          "offboarding"
          offboarding
          label="Is Offboarding"
          class="center aligned text field"}}

        {{filter.toggleControl
          "terminated"
          terminated
          label="Is Terminated"
          class="center aligned text field"}}
      </div>
    {{/filter.section}}
  {{/display/filter-pane}}
{{/if}}

<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    <div class="right aligned text floated menu__actions">
      {{#ui-dropdown class="left floated top pointing inline" selected=sortBy onChange=(action (mut sortBy))}}
        <h3 class="ui inline header">
          {{ember-tooltip
            side="left"
            popperContainer="body"
            text="Choose sort method"}}
          <a href="#" id="sort-employee-icon"><i class="sort icon"></i></a>
        </h3>
        <div class="menu">
          {{#each sortOptions as |option|}}
            <div class="item" data-value={{option.path}}>
              {{#if (eq option.path sortProp)}}
                <i class="check icon"></i>
              {{/if}}
              {{option.label}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}

      <h3 class="ui left floated header">
        {{ember-tooltip
          side="left"
          popperContainer="body"
          text=(if sortAsc "Sort descending" "Sort ascending")}}
        <a href="#" class="top pointing inline" {{action (toggle "sortAsc" this)}}>
          <i class="sort amount {{if sortAsc "up" "down"}} icon"></i>
        </a>
      </h3>

      <h3 class="ui right floated header">
        <a href="#" class={{if showFilters "text-red"}} {{action toggleProperty "showFilters"}}>
          {{ember-tooltip
            side="left"
            popperContainer="body"
            text="Filters"}}
          <i class="{{if showFilters "remove" "filter"}} icon"></i>
        </a>
      </h3>

      {{#ui-dropdown class="right floated top pointing inline"}}
        <h3 class="ui inline header">
          {{ember-tooltip
            side="left"
            popperContainer="body"
            text="Add an employee or multiple employees"}}
          <a href="#" id="add-employee-trigger"><i class="plus icon"></i></a>
        </h3>
        <div class="menu">
          {{#link-to "account.employees.add.new" class="item"}}<i class="user icon"></i>One Employee{{/link-to}}
          {{#link-to "account.employees.add.census" class="item"}}<i class="users icon"></i>Multiple Employees{{/link-to}}
        </div>
      {{/ui-dropdown}}
    </div>
  </hgroup>

  <div class="ui divider"></div>

  {{display/resource-list
    model
    "list-item/employee-item"
    linkTo="account.employee"
    linkClass="item"
    class="ui divided link items"}}

  {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}}
</div>
