<StatefulIntroJs @user={{this.auth.user}} @steps={{this.intros}} @start-if={{true}} @hintKey="employees-index" />

{{#if this.showFilters}}
  <Display::FilterPane class="ui content form padded segment container" @onChange={{this.updateFilter}} as |filter|>
    <h2>
      <i class="filter icon"></i> Filters
      <div class="ui horizontal list right floated">
        <div class="item">
          <button type="button" class="negative ui button small text" {{on "click" (prevent-default this.resetFilters)}}>Reset All</button>
        </div>
        <div class="item">
          <a href="#" class="light text" {{on "click" (prevent-default (toggle "showFilters" this))}}>
            <i class="remove icon"></i>
          </a>
        </div>
      </div>
    </h2>

    <filter.section @name="Supervisor" as |controls|>
      <controls.selectControl
        @name="supervisor"
        @state={{this.supervisor}}
        @searchable={{true}}
        @model={{this.filterModels.supervisors}} as |item|
      >
        {{item.fullName}}{{#if item.jobTitle}} - <span class="light text">{{item.jobTitle}}</span>{{/if}}
      </controls.selectControl>
    </filter.section>

    <filter.section @name="Department" as |controls|>
      <controls.selectControl
        @name="department"
        @state={{this.department}}
        @searchable={{true}}
        @model={{this.filterModels.departments}}
        @itemTextPath="name" />
    </filter.section>

    <filter.section @name="Location" as |controls|>
      <controls.selectControl
        @name="location"
        @state={{this.location}}
        @searchable={{true}}
        @model={{this.filterModels.locations}}
        @itemTextPath="name" />
    </filter.section>

    <filter.section @name="Hire Date" @resets={{array "hireDateStart" "hireDateEnd"}} as |controls|>
      <controls.control @name="hireDate" @state={{or this.hireDateStart this.hireDateEnd}} class="two fields">
        <UiCalendar
          @class="ui field"
          @type="date"
          @container="body"
          @startMode="year"
          @label="Start Date"
          @dateValue={{this.hireDateStart}}
          @onChange={{set this.hireDateStart _}} />
        <UiCalendar
          @class="ui field"
          @type="date"
          @container="body"
          @startMode="year"
          @label="End Date"
          @dateValue={{this.hireDateEnd}}
          @onChange={{set this.hireDateEnd _}} />
      </controls.control>
    </filter.section>

    <filter.section @name="Additional Filters" as |controls|>
      <div class="ui three fields">
        <controls.toggleControl
          @name="onboarding"
          @state={{this.onboarding}}
          @label="Is Onboarding"
          class="center aligned text field" />

        <controls.toggleControl
          @name="offboarding"
          @state={{this.offboarding}}
          @label="Is Offboarding"
          class="center aligned text field" />

        <controls.toggleControl
          @name="terminated"
          @state={{this.terminated}}
          @label="Is Terminated"
          class="center aligned text field" />
      </div>
    </filter.section>
  </Display::FilterPane>
{{/if}}

<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    <div class="right aligned text floated menu__actions">
      <UiDropdown @class="left floated top pointing inline" @selected={{this.sortBy}} @onChange={{set this.sortBy _}}>
        <h3 class="ui inline header">
          <EmberTooltip @side="left" @popperContainer="body" @text="Choose sort method" />
          <a href="#" id="sort-employee-icon"><i class="sort icon"></i></a>
        </h3>
        <div class="menu">
          {{#each this.sortOptions as |option|}}
            <div class="item" data-value={{option.path}}>
              {{#if (eq option.path this.sortProp)}}
                <i class="check icon"></i>
              {{/if}}
              {{option.label}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>

      <h3 class="ui left floated header">
        <EmberTooltip @side="left" @popperContainer="body" @text={{if this.sortAsc "Sort descending" "Sort ascending"}} />
        <a href="#" class="top pointing inline" {{on "click" (prevent-default (toggle "sortAsc" this))}}>
          <i class="sort amount {{if this.sortAsc "up" "down"}} icon"></i>
        </a>
      </h3>

      <h3 class="ui right floated header">
        <a href="#" class={{if this.showFilters "text-red"}} {{on "click" (prevent-default (toggle "showFilters" this))}}>
          <EmberTooltip @side="left" @popperContainer="body" @text="Filters" />
          <i class="{{if this.showFilters "remove" "filter"}} icon"></i>
        </a>
      </h3>

      <UiDropdown @class="right floated top pointing inline">
        <h3 class="ui inline header">
          <EmberTooltip @side="left" @popperContainer="body" @text="Add an employee or multiple employees" />
          <a href="#" id="add-employee-trigger"><i class="plus icon"></i></a>
        </h3>
        <div class="menu">
          <LinkTo @route="account.employees.add.new" class="item"><i class="user icon"></i>One Employee</LinkTo>
          <LinkTo @route="account.employees.add.census" class="item"><i class="users icon"></i>Multiple Employees</LinkTo>
        </div>
      </UiDropdown>
    </div>
  </hgroup>

  <div class="ui divider"></div>

  <Display::ResourceList
    @model={{this.model}}
    @itemComponent="list-item/employee-item"
    @linkTo="account.employee"
    @linkClass="item"
    class="ui divided link items"/>

  <Elements::XPagination
    @page={{this.page}}
    @model={{this.model}}
    @limit={{this.limit}}
    @onChange={{set this.page _}} />
</div>
