{{stateful-intro-js
  user=auth.user
  steps=intros
  start-if=true
  hintKey='employees-index'}}

<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui right floated header">
        {{#ui-popup position="left center" content="Filters"}}
          <a href="#" class="{{if showFilters 'text-red'}}" {{action toggleProperty 'showFilters'}}>
            <i class="{{if showFilters 'remove' 'filter'}} icon"></i>
          </a>
        {{/ui-popup}}
      </h3>
      {{#ui-dropdown class="right floated top pointing inline"}}
        <h3 class="ui inline header"><a href="#" id="add-employee-trigger"><i class="plus icon"></i></a></h3>
        <div class="menu">
          {{#link-to 'account.employees.add.new' class="item"}}<i class="user icon"></i>One Employee{{/link-to}}
          {{#link-to 'account.employees.add.census' class="item"}}<i class="users icon"></i>Multiple Employees{{/link-to}}
        </div>
      {{/ui-dropdown}}
      {{#if auth.user.company.linkedToSlate}}
        <h3 class="ui right floated header">
          {{#ui-popup position="left center" content="Import from Slate Payroll..."}}
            <a href="#">
              <i class="sign in alternate icon"></i>
            </a>
          {{/ui-popup}}
        </h3>
      {{/if}}
    </div>
  </hgroup>

  <div class="ui divider"></div>

  {{#if showFilters}}
    {{#display/filter-pane
      class="ui content form animated fadeInUp raised segment grid"
      onChange=(action "updateFilter") as |filter|
    }}
      {{#filter.section 'Supervisor' class="ui sixteen wide column"}}
        {{#filter.control 'supervisedBy' as |update|}}
          {{#ui-dropdown class="selection" selected=supervisedBy onChange=update as |execute mapper|}}
            <div class="default text">Select a Supervisor</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each allEmployees as |employee|}}
                <div class="item" data-value="{{map-value mapper employee.id}}">
                  {{employee.fullName}}{{#if employee.jobTitle}} - <span class="light text">{{employee.jobTitle}}</span>{{/if}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        {{/filter.control}}
      {{/filter.section}}

      {{#filter.section 'Department' class="ui sixteen wide column"}}
        {{#filter.control 'department' as |update|}}
          {{#ui-dropdown class="selection" selected=department onChange=update as |execute mapper|}}
            <div class="default text">Select a Department</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each allDepartments as |department|}}
                <div class="item" data-value="{{map-value mapper department.id}}">
                  {{department.name}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        {{/filter.control}}
      {{/filter.section}}

      {{#filter.section 'Location' class="ui sixteen wide column"}}
        {{#filter.control 'location' as |update|}}
          {{#ui-dropdown class="selection" selected=location onChange=update as |execute mapper|}}
            <div class="default text">Select a Location</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each allLocations as |location|}}
                <div class="item" data-value="{{map-value mapper location.id}}">
                  {{location.name}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        {{/filter.control}}
      {{/filter.section}}

      {{#filter.section 'Hire Date' class="ui sixteen wide column"}}
        {{#filter.control 'hireDate' class="ui grid" as |update|}}
          {{#ui-calendar class="ui six wide field column" type="date" startMode="year" onChange=(action (mut hdStart))}}
            <label for="ui-calendar-date-only">Start Date</label>
            <div class="ui calendar" id="ui-calendar-date-only">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" value={{hdStart}} placeholder="Select or type a date">
              </div>
            </div>
          {{/ui-calendar}}
          {{#ui-calendar class="ui six wide field column" type="date" startMode="year" onChange=(action (mut hdEnd))}}
            <label for="ui-calendar-date-only">End Date</label>
            <div class="ui calendar" id="ui-calendar-date-only">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" value={{hdEnd}} placeholder="Select or type a date">
              </div>
            </div>
          {{/ui-calendar}}
          <div class="ui four wide column">
          <button class="ui fluid green button" {{action update "hireDate" (hash start=hdStart end=hdEnd)}}>
            Apply
          </button>
        </div>
        {{/filter.control}}
      {{/filter.section}}
    {{/display/filter-pane}}
  {{/if}}

  {{display/resource-list
    model
    "list-item/employee-item"
    linkTo="account.employee"
    linkClass="item"
    class="ui divided link items"}}

  {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}}
</div>
