{{stateful-intro-js
  user=auth.user
  steps=intros
  start-if=true
  hintKey='employees-index'}}

<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    <div class="right aligned text floated menu__actions">
      <a href="#" {{action 'toggleProperty' 'expandFiltered'}}><i class="large filter icon"></i></a>
      {{#ui-dropdown class="right floated top pointing inline"}}
        <h3 class="ui inline header"><a href="#"><i id="add-employee-trigger" class="plus icon"></i></a></h3>
        <div class="menu">
          {{#link-to 'account.employees.add.new' class="item"}}<i class="user icon"></i>One Employee{{/link-to}}
          {{#link-to 'account.employees.add.census' class="item"}}<i class="users icon"></i>Multiple Employees{{/link-to}}
        </div>
      {{/ui-dropdown}}
      {{#if auth.user.company.linkedToSlate}}
        <h3 class="ui right floated header">
          {{#ui-popup position="left center" content="Import from Slate Payroll..."}}
            <a href="#">
              <i class="sign in alternate icon"></i>
            </a>
          {{/ui-popup}}
        </h3>
      {{/if}}
    </div>
  </hgroup>

  {{#if expandFiltered}}
    <div class="five ui labels">
      <button class="ui right labeled icon {{if onboarding 'blue' 'white'}} button" {{action 'toggleProperty' 'onboarding'}}>
          Onboarding
          <i class="{{if onboarding 'minus' 'plus'}} icon"></i>
      </button>
      <button class="ui right labeled icon {{if supervisorToggle 'blue' 'white'}} button" {{action 'toggleProperty' 'supervisorToggle'}}>
          Supervisor
          <i class="{{if supervisorToggle 'minus' 'plus'}} icon"></i>
      </button>
      <button class="ui right labeled icon {{if departmentToggle 'blue' 'white'}} button" {{action 'toggleProperty' 'departmentToggle'}}>
          Department
          <i class="{{if departmentToggle 'minus' 'plus'}} icon"></i>
      </button>
      <button class="ui right labeled icon {{if locationToggle 'blue' 'white'}} button" {{action 'toggleProperty' 'locationToggle'}}>
          Location
          <i class="{{if locationToggle 'minus' 'plus'}} icon"></i>
      </button>
      <button class="ui right labeled icon {{if hireDateToggle 'blue' 'white'}} button" {{action 'toggleProperty' 'hireDateToggle'}}>
          Hire Date
          <i class="{{if hireDateToggle 'minus' 'plus'}} icon"></i>
      </button>
    </div>
    <!-- SUPERVISOR SELECTION -->
    {{#if supervisorToggle}}
      <div class="ui form">
        <div class="field">
          <label for="supervisor">Select a supervisor</label>
          {{#ui-dropdown class="selection" selected=supervisedBy onChange=(action (mut supervisedBy)) as |execute mapper|}}
            <div class="default text">Select a Supervisor</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each allEmployees as |employee|}}
                <div class="item" data-value="{{map-value mapper employee.id}}">
                  {{employee.fullName}} - <span class="light text">{{employee.jobTitle}}</span>
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    {{/if}}
    <!-- DEPARTMENT SELECTION -->
    {{#if departmentToggle}}
      <div class="ui form">
        <div class="field">
          <label for="department">Select a Department</label>
          {{#ui-dropdown class="selection" selected=department onChange=(action (mut department)) as |execute mapper|}}
            <div class="default text">Select a Department</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each allDepartments as |department|}}
                <div class="item" data-value="{{map-value mapper department.id}}">
                  {{department.name}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    {{/if}}
    <!-- LOCATION SELECTION -->
    {{#if locationToggle}}
      <div class="ui form">
        <div class="field">
          <label for="location">Select a Location</label>
          {{#ui-dropdown class="selection" selected=location onChange=(action (mut location)) as |execute mapper|}}
            <div class="default text">Select a Location</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each allLocations as |location|}}
                <div class="item" data-value="{{map-value mapper location.id}}">
                  {{location.name}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    {{/if}}
    <!-- HIRE DATE SELECTION -->
    {{#if hireDateToggle}}
      <div class="two fields">
        <div class="field">
          {{#ui-calendar class="field" type="date" startMode="year" onChange=(action (mut startDateEntered))}}
            <label for="ui-calendar-date-only">Start Date</label>
            <div class="ui calendar" id="ui-calendar-date-only">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" value={{startDateEntered}} placeholder="Select or type a date">
              </div>
            </div>
          {{/ui-calendar}}
        </div>
      </div>
      <div class="field">
        {{#ui-calendar class="field" type="date" startMode="year" onChange=(action (mut endDateEntered))}}
          <label for="ui-calendar-date-only">End Date</label>
          <div class="ui calendar" id="ui-calendar-date-only">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" value={{endDateEntered}} placeholder="Select or type a date">
            </div>
          </div>
        {{/ui-calendar}}
      </div>
      <button class="ui button" {{action 'setSearchDates'}}>
          Apply Dates
      </button>
      {{#if errorMessage}}
        <div class="ui red label">
          <i class="times circle outline icon"></i>{{errorMessage}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}

  <div class="ui divider"></div>

  {{display/resource-list
    model
    "list-item/employee-item"
    linkTo="account.employee"
    linkClass="item"
    class="ui divided link items"}}

  {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}}

</div>
