<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header content__nav-label">Messages</h1>
  </hgroup>

  <div class="ui stackable grid">
    <div class="ui six wide column">
      <form class="ui form" {{on "submit" (prevent-default this.beginThread)}}>
        <div class="field">
          <UiDropdown @class="fluid search multiple selection" @id="message-targets" @selected={{this.messageParticipantTargets}} @onChange={{set this.messageParticipantTargets _}} as |execute mapper|>
            <i class="dropdown icon"></i>
            <div class="default text">Search or select people to message</div>
            <div class="menu">
              {{#each this.allEmployees as |employee|}}
                <div class="item" data-value={{map-value mapper employee}}>
                  {{employee.fullName}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>

        {{#liquid-if this.messageParticipantTargets.length}}
          <Form::ActionButton type="submit" class="ui fluid green button">
            Start
            {{if (gt this.messageParticipantTargets.length 1) "Group"}}
            Chat
          </Form::ActionButton>
        {{/liquid-if}}
      </form>

      <div class="ui segments">
        {{#each this.model as |thread|}}
          <ListItem::MessageThread @model={{thread}} @user={{this.user}}/>
        {{/each}}
      </div>
    </div>

    <div class="ui ten wide column">
      {{outlet}}
    </div>
  </div>
</div>
