<StatefulIntroJs @user={{this.auth.user}} @steps={{this.intros}} @start-if={{true}} @hintKey="counseling-index" />

<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employee Counseling
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui inline header">
        {{#if this.model}}
          <LinkTo @route="account.employee.index.counseling.print-all">
            <EmberTooltip @side="top" @popperContainer="body" @text="Print corrective action history" />
            <i class="print icon"></i>
          </LinkTo>
        {{/if}}
        <LinkTo @route="account.employee.index.counseling.new">
          <i id="add-issue" class="plus icon"></i>
        </LinkTo>
      </h3>
    </div>
  </hgroup>
  <div class="ui divider"></div>

  <Display::ResourceList
    @model={{this.model}}
    @itemComponent="list-item/employee-issue-item"
    @linkTo="account.employee.index.counseling.issue"
    @linkClass="item"
    @modelIdentifier="slug"
    class="ui divided link items"/>

  <Elements::XPagination
    @page={{this.page}}
    @model={{this.model}}
    @limit={{this.limit}}
    @onChange={{set this.page _}} />
</div>
