<div class="ui raised padded segment container clearfix animated fadeInUp">
  {{#confirm-modal deleteContext=model.title as |confirmDelete|}}
    <hgroup class="clearfix">
      <h2 class="ui left floated header">
        {{#link-to 'account.employee.index.counseling.issue'}}
          {{model.title}}
        {{/link-to}}

        <div class="sub header">
          <strong>{{model.type}}</strong>
        </div>
        <div class="sub header">
          {{#if (await model.actionSeverity)}}
            This issue started at <strong>{{get (await model.actionSeverity) 'title'}}</strong>
          {{/if}}
        </div>
      </h2>

      {{#unless onCorrectiveActionSubroute}}
        {{#ui-dropdown class="item icon top right pointing right floated"}}
          <i class="wrench icon"></i><i class="dropdown icon"></i>
          <div class="menu">
            <div class="text-danger header">Danger Zone</div>
              <a href="#" class="text-danger item" {{action (pipe confirmDelete (action 'delete'))}}>
                <i class="trash icon"></i>Delete Record
              </a>
          </div>
        {{/ui-dropdown}}
      {{/unless}}
    </hgroup>
  {{/confirm-modal}}

  <div class="ui divider"></div>
  {{outlet}}
</div>
