<div class="ui raised padded segment container clearfix animated fadeInUp">
  <ConfirmModal @deleteContext={{this.model.title}} as |confirmDelete|>
    <hgroup class="clearfix">
      <p>
        <LinkTo @route="account.employee.index.counseling">
          <i class="angle left icon"></i>
          Back To All Issues
        </LinkTo>
      </p>

      <h2 class="ui left floated header">
        <LinkTo @route="account.employee.index.counseling.issue">
          {{this.model.title}}
        </LinkTo>

        <div class="sub header">
          <strong>{{this.model.type}}</strong>
        </div>
        <div class="sub header">
          {{#if (await this.model.actionSeverity)}}
            This issue started at <strong>{{get (await this.model.actionSeverity) "title"}}</strong>
          {{/if}}
        </div>
      </h2>

      {{#unless this.onCorrectiveActionSubroute}}
        <UiDropdown @class="item icon top right pointing right floated">
          <i class="wrench icon"></i><i class="dropdown icon"></i>
          <div class="menu">
            {{#if correctiveActions}}
              <LinkTo class="item" @route="account.employee.index.counseling.print-all" @query={{hash issue=model.id slug=model.slug }}>
                <i class="print icon"></i>
                Print Corrective Actions
              </LinkTo>
            {{/if}}
            <div class="text-danger header">Danger Zone</div>
            <a href="#" class="text-danger item" {{on "click" (prevent-default (pipe confirmDelete (fn this.data.deleteRecord this.model 'working' this.deleteOptions)))}}>
              <i class="trash icon"></i>Delete Record
            </a>
          </div>
        </UiDropdown>
      {{/unless}}
    </hgroup>
  </ConfirmModal>

  <div class="ui divider"></div>
  {{outlet}}
</div>
