<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header">
      New Employment Issue
      <LinkTo @route="account.employee.index.counseling.index" class="right floated text">
        <i class="remove icon"></i>
      </LinkTo>
    </h1>
  </hgroup>
  <div class="ui divider"></div>

  <p class="center aligned text">
    <LinkTo @route="account.settings.index.processes" class={{unless this.severities.length "text-danger"}}>
      <i class="{{if this.severities.length "info circle" "warning sign"}} icon"></i> Visit the <strong>Correction Action Options</strong> section in your <strong>Processes</strong> settings to configure options{{if this.severities.length "." " before proceeding!"}}
    </LinkTo>
  </p>

  <QuickForm
    @form={{this.form}}
    @model={{this.model}}
    @controller={{this}}
    @tagName="div"/>

  <div class="ui divider"></div>
  <form {{on "submit" (prevent-default (fn this.data.saveRecord this.model "working" this.saveOptions))}}>
    <Form::ActionButton type="submit" class="ui positive fluid huge button" @loading={{this.data.statuses.working.isLoading}}>Save Issue</Form::ActionButton>
  </form>
</div>
