{{#each model.issues as |correctiveAction|}}
  <div class="print-media__corrective-action {{if (not-eq correctiveAction model.lastObject) "page-break"}}">
    <h3 class="ui center aligned header">
      {{#if (await correctiveAction.actionSeverity)}}
        {{get (await correctiveAction.actionSeverity) "name"}}
      {{/if}}
    </h3>
    <div class="item clearfix">
      <div class="left floated content">
        <div class="header">
          Employee: {{correctiveAction.employee.fullName}}
        </div>
        <div class="meta">
          {{#if correctiveAction.employee.jobTitle}}
            {{correctiveAction.employee.jobTitle}}
          {{/if}}
        </div>
      </div>
      <div class="right floated content">
        <div class="header">
          Date: {{time correctiveAction.issuedOn}}
        </div>
        <div class="meta">
          {{#if correctiveAction.employee.department.name}}
            Department: {{correctiveAction.employee.department.name}}
          {{/if}}
        </div>
      </div>
    </div>
    <Display::FormalAction @correctiveAction={{correctiveAction}} />
  </div>
{{/each}}
