<QuickForm
  @form={{this.form}}
  @model={{this.model}}
  @controller={{this}}
  @tagName="div"/>

<div class="ui divider"></div>
<form {{on "submit" (prevent-default (fn this.data.saveRecord this.model "working" this.saveOptions))}}>
  <Form::ActionButton type="submit" class="ui positive fluid huge button" @loading={{this.data.statuses.working.isLoading}}>Save Corrective Action</Form::ActionButton>
</form>
