{{#if (get (await model.actionSeverity) 'formal')}}
  <div class="ui stacked very padded text segment">
    <div class="ui top attached label">
      Action content
      <div class="right floated detail">
        {{#link-to 'account.employee.index.counseling.issue.corrective-action.print'}}
          <i class="print icon"></i>
          Print For Presentation
        {{/link-to}}
      </div>
    </div>
    <h3 class="ui header">Issue(s)</h3>
    <p>{{long-text model.descriptionIssues}}</p>
    <h3 class="ui header">Expectations going forward</h3>
    <p>{{long-text model.descriptionExpectations}}</p>
    <h3 class="ui header">Consequences if expectations are not met</h3>
    <p>{{long-text model.descriptionConsequences}}</p>
  </div>
{{/if}}

{{#if model.notes}}
  <div class="ui stacked very padded text segment">
    <div class="ui top attached label">
      Your notes
    </div>
    <p>{{model.notes}}</p>
  </div>
{{/if}}

{{#liquid-if model.followUps.length}}
  <div class="ui divider"></div>
  <h2><i class="repeat icon"></i>Follow ups</h2>
  {{display/resource-list
    sortedFollowUps
    "list-item/corrective-action-followup"
    class="ui divided items"}}
{{/liquid-if}}
