{{#if (get (await this.model.actionSeverity) "formal")}}
  <div class="ui stacked very padded text segment">
    <div class="ui top attached label">
      Action content
      <div class="right floated detail">
        <LinkTo @route="account.employee.index.counseling.issue.corrective-action.print">
          <i class="print icon"></i>
          Print For Presentation
        </LinkTo>
      </div>
    </div>
    <h3 class="ui header">Issue(s)</h3>
    <p>{{long-text this.model.descriptionIssues}}</p>
    <h3 class="ui header">Expectations going forward</h3>
    <p>{{long-text this.model.descriptionExpectations}}</p>
    <h3 class="ui header">Consequences if expectations are not met</h3>
    <p>{{long-text this.model.descriptionConsequences}}</p>
  </div>
{{/if}}

{{#if this.model.notes}}
  <div class="ui stacked very padded text segment">
    <div class="ui top attached label">
      Your notes
    </div>
    <p>{{this.model.notes}}</p>
  </div>
{{/if}}

{{#if this.model.documents}}
  <div class="center aligned text">
    <a href="#" class="item" {{on "click" (prevent-default (toggle "showDocuments" this))}}>
      <i class="eye {{if showDocuments "slash"}} icon"></i>{{if showDocuments "Hide" "Show"}} {{model.documents.length}} supporting {{inflect-text "document" model.documents.length}}
    </a>
  </div>
{{/if}}

{{#if showDocuments}}
  <div class="ui divided items">
    {{#each this.model.documents as |document|}}
      <Display::IssueDocuments
        @document={{document}}
        class="item"
        @onDelete={{fn this.deleteDocument document}}
      />
    {{/each}}
  </div>
{{/if}}

{{#liquid-if this.model.followUps.length}}
  <div class="ui divider"></div>
  <h2><i class="repeat icon"></i>Follow ups</h2>
  <Display::ResourceList
    @model={{this.sortedFollowUps}}
    @itemComponent="list-item/corrective-action-followup"
    class="ui divided items"/>
{{/liquid-if}}
