<div class="print-media__corrective-action">
  <h3 class="ui center aligned header">
    {{#if (await this.model.actionSeverity)}}
      {{get (await this.model.actionSeverity) "name"}}
    {{/if}}
  </h3>
  <div class="item clearfix">
    <div class="left floated content">
      <div class="header">
        Employee: {{this.model.employee.fullName}}
      </div>
      <div class="meta">
        {{#if this.model.employee.jobTitle}}
          {{this.model.employee.jobTitle}}
        {{/if}}
      </div>
    </div>
    <div class="right floated content">
      <div class="header">
        Date: {{time this.model.issuedOn}}
      </div>
      <div class="meta">
        {{#if this.model.employee.department.name}}
          Department: {{this.model.employee.department.name}}
        {{/if}}
      </div>
    </div>
  </div>
  <Display::FormalAction @correctiveAction={{this.model}} />
</div>
