{{intro-js steps=intros start-if=data}}
<h1 class="ui center aligned inverted header">Census Upload</h1>

<div class="ui divider"></div>

{{#if data}}
  <form {{action "importRecords"}}>
    <div class="ui raised very padded container segment">
      <div class="responsive-table">
        <table class="ui striped celled table">
          <thead>
            <tr class="guess-fields-row">
              <th>
                <div class="ui ribbon label">
                Guessed Fields
                </div>
              </th>
              {{#each data.[0] as |guesses|}}
                <th>
                  <div class="field">
                    {{#ui-dropdown
                      name="guess-column"
                      selected=guesses
                      onChange=(action (mut guesses))}}
                      <div class="default text">Select field for column</div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        {{#each availableFields as |availableField|}}
                          <div class="item" data-id="{{availableField}}">
                            {{availableField}}
                          </div>
                        {{/each}}
                      </div>
                    {{/ui-dropdown}}
                  </div>
                </th>
              {{/each}}
            </tr>
            <tr class="client-fields-row">
              <th>
                <div class="ui ribbon label">
                  Your Columns
                </div>
              </th>
              {{#each data.[1] as |clientDataNames|}}
                <th>{{clientDataNames}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody class="monospaced data-rows">
            {{#each rows as |row rowIndex|}}
              <tr>
                <td>
                  {{add-one rowIndex}}
                </td>
                {{#each row as |column|}}
                  <td>
                    {{column}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="ui divider"></div>

      {{#form/action-button type="submit" class="ui fluid positive big button import-button" loading=working}}
        <i class="check icon"></i> Import {{rows.length}} records
      {{/form/action-button}}
    </div>
  </form>
{{else}}
  {{elements/file-uploader
    url="/api/v1/employee/census/upload"
    autoUpload=true
    allowedExtensions=supportedExtensions
    dragText='Drag Your Census File Here'
    onWinning=(action "successHandler")
    onError=(action "fileUploadError")
    onNotify=(action "onNotify")}}
{{/if}}
