<div class="ui raised padded segment container clearfix">
  <hgroup>
    <h1 class="ui header">Add an Employee</h1>
  </hgroup>

  <div class="ui divider"></div>

  <form class="ui form" {{action "save" on="submit"}}>
    <div class="fields">
      <div class="five wide field">
        <label for="first-name">First Name</label>
        {{#auto-focus}}
          {{validated-input type="text" model=model valuePath="firstName" placeholder="First Name" id="first-name"}}
        {{/auto-focus}}
      </div>
      <div class="three wide field">
        <label for="middle-name">Middle Name</label>
        {{input type="text" value=model.middleName placeholder="Middle" id="middle-name"}}
      </div>
      <div class="five wide field">
        <label for="last-name">Last Name</label>
        {{validated-input type="text" model=model valuePath="lastName" placeholder="Last Name" id="last-name"}}
      </div>
      <div class="three wide field">
        <label for="suffix-name">Suffix</label>
        {{#ui-dropdown class="selection" onChange=(action (mut model.suffix))}}
          <div class="default text">Suffix</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each suffixes as |suffix|}}
              <div class="item" data-value="{{suffix}}">
                {{suffix}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="employee-phone">Phone Number</label>
        {{input type="tel" value=model.phone placeholder="Employee Phone #" id="employee-phone"}}
      </div>
      <div class="field">
        <label for="email">Email</label>
        {{validated-input type="email" model=model valuePath="email" placeholder="Email" id="email"}}
      </div>
    </div>

    <div class="ui divider"></div>
    {{#form/action-button type="submit" class="ui massive fluid green button" disabled=disabled loading=working}}Begin Onboarding{{/form/action-button}}
  </form>
</div>
