<div class="ui raised padded segment container clearfix">
  <hgroup>
    <h1 class="ui header">Add an Employee</h1>
  </hgroup>

  <div class="ui divider"></div>

  <form class="ui form" {{on "submit" (prevent-default (pipe (fn this.data.saveRecord this.model "working" this.saveOptions) this.afterSave))}}>
    <div class="fields">
      <div class="five wide field">
        <label for="first-name">First Name</label>
        <AutoFocus>
          <ValidatedInput @type="text" @model={{this.model}} @valuePath="firstName" @placeholder="First Name" @id="first-name" />
        </AutoFocus>
      </div>
      <div class="three wide field">
        <label for="middle-name">Middle Name</label>
        <Input @type="text" @value={{this.model.middleName}} placeholder="Middle" @id="middle-name" />
      </div>
      <div class="five wide field">
        <label for="last-name">Last Name</label>
        <ValidatedInput @type="text" @model={{this.model}} @valuePath="lastName" @placeholder="Last Name" @id="last-name" />
      </div>
      <div class="three wide field">
        <label for="suffix-name">Suffix</label>
        <UiDropdown @class="selection" @onChange={{set this.model.suffixName _}}>
          <div class="default text">Suffix</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.suffixes as |suffix|}}
              <div class="item" data-value={{suffix}}>
                {{suffix}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
      <div class="two wide field">
        <label for="suffix-name">Gender</label>
        <UiDropdown @class="selection" @selected={{this.model.gender}} @onChange={{set this.model.gender _}}>
          <div class="default text">Gender</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.gender as |gender|}}
              <div class="item" data-value={{gender}}>
                {{gender}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <Input::SocialSecurity @value={{this.model.ssn}} />
      </div>
      <div class="field">
        <label for="employee-phone">Phone Number</label>
        <MaskedInput @type="tel" @placeholder="Employee Phone #" @id="employee-phone" @mask="(111) 111-1111" @value={{this.model.phone}} />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <ValidatedInput @type="email" @model={{this.model}} @valuePath="email" @placeholder="Email" @id="email" />
      </div>
      <div class="field">
        <label for="employeeNumber">Employee Number</label>
        <ValidatedInput @model={{this.model}} @valuePath="employeeNumber" @placeholder="Employee Number" @id="employee-number" />
      </div>
    </div>

    <div class="ui divider"></div>
    <Form::ActionButton type="submit" class="ui massive fluid green button" @disabled={{this.disabled}} @loading={{this.data.statuses.working.isLoading}}>Begin Onboarding</Form::ActionButton>
  </form>
</div>
