<UiSearch @type="category" @class="ui fluid category search" @apiSettings={{this.apiSettings}} @fields={{this.search.fields}} @searchDelay={{this.debounceInterval}} @onSelect={{action this.selected}}>
  <div class="ui icon input">
    <Input @type="text" placeholder={{this.placeholder}} class="prompt" @value={{this.query}} />
    <i class="search link icon"></i>
  </div>
  <div class="results"></div>
</UiSearch>
