{{#unless topLevel}}
  {{elements/account-navigation links=accountNavigationItems}}
{{/unless}}

{{notification-container notifications=notifications position="bottom"}}

<div class="ui fluid container {{unless topLevel 'in__application pusher'}}">
  {{#if topLevel}}
    {{elements/x-navigation transparent=navTransparent topLevel=topLevel}}
  {{/if}}
  {{outlet}}
</div>

{{#if auth.isExpiring}}
  {{confirm-modal confirmOnRender=true confirmContent='Your session is expiring. Would you like to continue?'}}
{{/if}}
