{{head-layout}}
{{notification-container notifications=notifications position="bottom"}}

{{display/subscription-banner
  transitionToSubscription=(action "transitionToSubscription")
  accountLocked=subscription.accountLocked}}

<div class="ui main">
  {{#unless topLevel}}
    {{elements/account-navigation links=accountNavigationItems ui_context="body .ember-view .main"}}
  {{/unless}}
  {{! template-lint-disable no-inline-styles }}
  <div class="ember-view ui fluid container {{unless topLevel "in__application pusher"}} {{if randomColorText "main__dark-text"}}" style={{backdrop}}>
    {{#if topLevel}}
      {{elements/x-navigation transparent=navTransparent topLevel=topLevel}}
    {{/if}}

    <div class="application__outlet-wrapper">
      {{outlet}}
    </div>

    {{elements/x-footer}}
  </div>
</div>
{{#if (and auth.isExpiring (not auth.isExpired))}}
  {{confirm-modal confirmOnRender=true confirmContent="Your session is expiring. Would you like to continue?" onResponse=(action "authResponse")}}
{{/if}}
