{{notification-container notifications=notifications position="bottom"}}

<div class="ui main" style="background: {{backdrop}} ">
  {{log backdrop.palette}}
  {{#unless topLevel}}
    {{elements/account-navigation links=accountNavigationItems ui_context='body .ember-view .main'}}
  {{/unless}}

  <div class="ember-view ui fluid container {{unless topLevel 'in__application pusher'}}">
    {{#if topLevel}}
      {{elements/x-navigation transparent=navTransparent topLevel=topLevel}}
    {{/if}}

    <div class="application__outlet-wrapper">
      {{outlet}}
    </div>
//
    {{elements/x-footer}}
  </div>
</div>
{{#if (and auth.isExpiring (not auth.isExpired))}}
  {{confirm-modal confirmOnRender=true confirmContent='Your session is expiring. Would you like to continue?' onResponse=(action "authResponse")}}
{{/if}}
