<div class="washout__white shadowed padded logo__mountains"></div>

{{#if previousTransition}}
  <div class="ui red inverted text segment container">
    <h3><i class="warning icon"></i> You need to log in to access <strong>{{previousTransition.intent.url}}</strong></h3>
  </div>
{{/if}}

<form class="ui very padded piled text segment container form" {{action "login" on="submit"}}>
  <hgroup class="ui center aligned header">
    <h1>Good {{relative-greeting-time}}!</h1>
    <h2>Please enter your login information.</h2>
  </hgroup>
  <div class="ui divider"></div>

  <div class="field">
    <label for="email">Email Address</label>
    {{input type="email" id="email" class="ui massive fluid input" tabindex="1" placeholder="Your Account Email" value=email}}
  </div>
  <div class="field">
    <label for="password">
      Password
      {{#ui-popup tagName="span" class="right floated" position="left center" content="Rescue your account from a forgotten password"}}
        <a href="#"><i class="life ring fitted icon"></i></a>
      {{/ui-popup}}
    </label>
    {{input type="password" id="password" class="ui massive fluid input" tabindex="2" placeholder="Your Account Password" value=password}}
  </div>

  {{#form/action-button type="submit" class="ui massive fluid green button" loading=working}}Log In{{/form/action-button}}
</form>
