<div class="our-product">
  <Display::ScrollReveal
    @selector=".product__section:not(.product__section--img-reverse-rotate) h1"
    @origin="top"
    @mobile={{false}}
  />
  <Display::ScrollReveal
    @selector=".product__section:not(.product__section--img-reverse-rotate) .section-content__tagline"
    @useDelay="once"
    @delay={{500}}
    @viewFactor={{0.1}}
    @origin="bottom"
  />
  <Display::ScrollReveal
    @selector=".product__section:not(.product__section--img-reverse-rotate) .section-content__features"
    @useDelay="once"
    @delay={{500}}
    @viewFactor={{0.1}}
    @origin="bottom"
  />
  <div class="product__section product__section--img product__section--top">
    <div class="product-section__content">
      <h1 class="product-section__content--granite">Granite HR</h1>
      <Display::ScrollReveal @delay={{500}} @origin="left" @mobile={{false}}>
        simplifies the monumental task of managing Human Resources
      </Display::ScrollReveal>
    </div>
  </div>

  <div class="product__section product__section--recruiting">
    <div class="product-section__content">
      <h1 class="section-content__title">Recruiting</h1>
      <h4 class="section-content__tagline">Fast track your hiring process and let Granite do the heavy lifting</h4>
      <Display::Product::FeaturesList @features={{this.features.recruiting}} />
    </div>
  </div>

  <div class="product__section product__section--img product__section--img-reverse-rotate product__section--counseling">
    <div class="product-section__content">
      <h1 class="section-content__title">Counseling</h1>
      <h4 class="section-content__tagline">Document employee issues and easily issue corrective actions</h4>

      <Display::Product::FeaturesList @features={{this.features.counseling}} />
    </div>
  </div>

  <div class="product__section product__section--asset-management">
    <div class="product-section__content">
      <h1 class="section-content__title">Asset Management</h1>
      <h4 class="section-content__tagline">Follow assigned, valuable assets through your organization</h4>

      <Display::Product::FeaturesList @features={{this.features.assetManagement}} />
    </div>
  </div>

  <div class="product__section product__section--img product__section--human-capital">
    <div class="product-section__content">
      <h1 class="section-content__title">Human Capital</h1>
      <h4 class="section-content__tagline">Employee records are at your fingertips, with easy <br /> access to common Human Resource actions</h4>

      <Display::Product::FeaturesList @features={{this.features.humanCapital}} />

      <Display::ScrollReveal>
        <div class="product-section__cta">
          <h1><i class="power off icon"></i> Like what you see?</h1>
          <h2>Start today and see what Granite can do for your business.</h2>

          <LinkTo @route="signup" class="ui massive green button">
            Get Started
          </LinkTo>
        </div>
      </Display::ScrollReveal>
    </div>
  </div>
</div>
