<LinkTo @route="index" class="login__home-link washout__white shadowed padded logo__mountains"></LinkTo>

<form class="ui very padded raised text segment container form" {{on "submit" (prevent-default this.recover)}}>
  <hgroup class="ui center aligned header">
    <h2>Recover your account</h2>
    <p class="lightly weighted light text header">Enter your new preferred password twice below.</p>
  </hgroup>
  <div class="ui divider"></div>

  <div class="field">
    <label for="password">Password</label>
    <Input @type="password" @id="password" class="ui large fluid input" @tabindex="1" placeholder="Your New Password" @value={{this.password}} />
  </div>

  <div class="field">
    <label for="password-confirm">Confirm Password</label>
    <Input @type="password" @id="password-confirm" class="ui large fluid input" @tabindex="1" placeholder="Confirm Your New Password" @value={{this.passwordConfirm}} />
  </div>

  <Form::ActionButton type="submit" class="ui massive fluid orange button" @loading={{this.data.statuses.working.isLoading}} @disabled={{not (and this.password this.passwordConfirm)}}>
    Reset my password
  </Form::ActionButton>
</form>
