<h1 class="ui header">
  Granite Living Style Guide
  {{#if this.focus tagName="small"}}
    <LinkTo @route="beyonce" @query={{hash focus="null"}} class="text-sm"><i class="fa fa-fw fa-eye-slash"></i> Clear Focus</LinkTo>
  {{/if}}
</h1>
<hr />

<Sg::SgSection @name="Colors" @class="row" @focus={{this.focus}}>
  <div class="ui grid">
    {{#each this.colors as |color|}}
      <Sg::SgColor @color={{color}} />
    {{/each}}
  </div>
</Sg::SgSection>

<Sg::SgSection @name="Typography" @focus={{this.focus}} @squeeze={{true}}>
  <h4 class="text-right">Family</h4>
  <h1 class="text-center">Oxygen</h1>
  <h4 class="text-right">Weights</h4>
  {{#each this.typeSizes as |typeSize|}}
    <h3 class="type-{{typeSize}}">Oxygen {{typeSize}}</h3>
  {{/each}}
  <h4 class="text-right">Paragraph</h4>
  <p>{{this.ipsum}}</p>
  <h5 class="text-right">text-muted</h5>
  <p class="text-muted">{{this.ipsum}}</p>
  <h5 class="text-right">text-sm</h5>
  <p class="text-sm">{{this.ipsum}}</p>
</Sg::SgSection>

<Sg::SgSection @name="Headings" @focus={{this.focus}}>
  <h1 class="ui header">First header</h1>
  <h2 class="ui header">Second header</h2>
  <h3 class="ui header">Third header</h3>
  <h4 class="ui header">Fourth header</h4>
  <h5 class="ui header">Fifth header</h5>
</Sg::SgSection>

<Sg::SgSection @name="Buttons" @class="center aligned" @focus={{this.focus}}>
  <a href="#" {{action "toggleProperty" "toggleLoading"}}>Toggle Loading State</a>
  {{#each this.btnSizes as |size|}}
    <div class="ui raised right aligned segment">
      <h2 class="ui header">ui {{#if size}}{{size}}{{/if}}</h2>
    </div>
    {{#each this.btnColors as |color|}}
      <button type="button" class="ui button {{if color color}} {{if size size}} {{if this.toggleLoading "loading"}}">{{if color color "default"}}</button>
    {{/each}}

    <div class="sg__spacer"></div>
  {{/each}}
</Sg::SgSection>
<Sg::SgSection @name="Inverted Loading Buttons" @focus={{this.focus}}>
  {{#each this.btnSizes as |size|}}
    <div class="ui raised right aligned segment">
      <h2 class="ui header">ui {{#if size}}{{size}}{{/if}}</h2>
    </div>
    {{#each this.btnColors as |color|}}
      <button class="facebook inverted ui button {{if color color}} {{if size size}}">{{if color color "default"}}</button>
    {{/each}}

    <div class="sg__spacer"></div>
  {{/each}}
</Sg::SgSection>
