<form class="ui form" {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
  <h2 class="ui horizontal divider header">Company Assets</h2>

  <div class="ui relaxed divided list">
    {{#each-in (group-by "assetId" this.model) as |asset assets|}}
      <h4 class="header">
        {{#if assets.firstObject.asset.icon}}
          <i class="{{assets.firstObject.asset.icon}} icon"></i>
        {{/if}}
        {{assets.firstObject.asset.name}}
      </h4>
      {{#each assets as |item|}}
        <div class="item">
          {{item.identifier}}
          <span class="right floated">
            <a href="#" class="text-green" {{on "click" (prevent-default (fn this.unassignAsset item))}}>
              <EmberTooltip
                @side="left"
                @popperContainer="body"
                @text="Mark as collected & unassign asset from employee"/>
              <i class="check icon"></i>Mark as Collected
            </a>
          </span>
        </div>
      {{/each}}
    {{else}}
      <h2 class="center aligned light text header">
        <i class="check icon"></i>
        {{this.employee.firstName}} doesn't have any assets assigned to them.
      </h2>
    {{/each-in}}
  </div>

  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>Next</Form::ActionButton>
</form>
