<form class="ui form" {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
  <h2 class="ui horizontal divider header">Employee Details</h2>
  <div class="content">
    <div class="field">
      <UiCalendar
        @class="field"
        @type="date"
        @label="When will this employee be terminated?"
        @dateValue={{this.model.terminatedOn}}
        @onChange={{set this.model.terminatedOn _}}/>
    </div>

    <div class="two fields">
      <div class="field">
        <label for="termination-reason">Separation Category</label>
        <UiDropdown
          @id="termination-reason"
          @class="search selection"
          @selected={{this.model.terminationReason}}
          @onChange={{set this.model.terminationReason _}}>
          <div class="default text">Voluntary or Involuntary</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="voluntary">
              Voluntary
            </div>
            <div class="item" data-value="involuntary">
              Involuntary
            </div>
          </div>
        </UiDropdown>
      </div>
      <div class="field">
        <label for="eligible-for-rehire">Eligible for Rehire</label>
        <UiCheckbox
          @class="toggle"
          @label={{if this.model.eligibleForRehire "Eligible" "Not Eligible"}}
          @checked={{this.model.eligibleForRehire}}
          @onChange={{set this.model.eligibleForRehire _}}/>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="separation-notes"> Notes (for your use only)</label>
    <Textarea @id="separation-notes" @rows="1" @placeholder="Notes..." @value={{this.model.separationNotes}} />
  </div>

  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.data.statuses.wizard.isLoading}}>Next</Form::ActionButton>
</form>
