<h2 class="ui horizontal divider header">
  Documents
</h2>

<form class="ui form" {{on "submit" (prevent-default (route-action "saveAndContinue"))}}>
  {{#if this.offboardingDocumentsFiltered}}
    <h3 class="ui header">
      Offboarding Documents
      <div class="small light text">
        These documents have been tagged with <i>Offboarding</i> and might be applicable.
      </div>
    </h3>

    <div class="ui divided list">
      {{#each this.offboardingDocumentsFiltered as |docSug|}}
        <ListItem::DocumentSuggestion
          @model={{docSug}}
          class="item"
          @addAssignment={{this.addAssignment}}/>
      {{/each}}
    </div>
  {{/if}}

  <h3>
    Assignments
    <span class="small text">
      <Input::DocumentSelectionModal
        @title="Add a file"
        @selection={{this.docModalSelection}}
        @autoTag="Offboarding"
        @onSelected={{this.addAssignment}} as |execute|>
        <a href="#" {{on "click" (prevent-default execute)}}>Assign another file...</a>
      </Input::DocumentSelectionModal>
    </span>
  </h3>
  <div class="ui divided list">
    {{#each this.assignments as |assignment|}}
      {{!-- <ListItem::DocumentAssignment
        @model={{assignment}}
        class="item"
        @onRemove={{this.removeAssignment}}
        @onChange={{this.saveAssignmentChanges}}/> --}}
    {{else}}
      <h3 class="center aligned light text">Nothing assigned, yet.</h3>
    {{/each}}
  </div>

  <div class="ui divider"></div>

  {{!-- {{#form/action-button type="submit" class="ui huge fluid green button" loading=this.data.statuses.working.isLoading}}
    Next
  {{/form/action-button}} --}}
</form>
