<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Offboarding Options</h2>

  <div class="{{if model.autoExitInterview "three fields"}}">
    <div class="field">
      <label for="exit-interview">Automated exit interview</label>
      {{ui-checkbox
        id="exit-interview"
        class="toggle"
        label=(if model.autoExitInterview "Conduct exit interview" "Do not conduct exit interview")
        checked=model.autoExitInterview
        onChange=(action (mut model.autoExitInterview))}}
    </div>

    {{#if model.autoExitInterview}}
      <div class="field">
        {{ui-calendar
          class="field"
          type="date"
          label="When should the exit interview become available?"
          dateValue=model.autoExitInterviewDate
          onChange=(action (mut model.autoExitInterviewDate))}}
      </div>

      <div class="field">
        <label for="exit-interview-form">
          Form to use*
          {{#modals/form-creator
            formType="exit-interview"
            onNotify=(action "onNotify")
            onCreateForm=(action "interimAddForm") as |openFormModal|
          }}
            <a href="#" class="right floated" {{action openFormModal}}>Create a new form...</a>
          {{/modals/form-creator}}
        </label>

        {{#ui-dropdown
          id="exit-interview-form"
          class="search selection"
          selected=model.autoExitInterviewForm
          onChange=(action (mut model.terminationReason)) as |execute mapper|}}
          <div class="default text">Select a form to use</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="">Default Form</div>
            {{#each availableExitForms as |exitForm|}}
              <div class="item" data-value={{map-value mapper exitForm}}>
                {{exitForm.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    {{/if}}
  </div>

  <div class="field">
    <label for="final-address-ss">Final Address</label>
    {{ui-checkbox id="final-address-ss" class="toggle" label=(if model.finalAddressSelfService "Collect final address from employee" "Enter final address") checked=model.finalAddressSelfService onChange=(action (mut model.finalAddressSelfService))}}
  </div>

  {{#unless model.finalAddressSelfService}}
    <div class="animated fadeInUp">
      <div class="field">
        <label for="address-line-1">Address Line 1</label>
        {{input type="text" value=model.finalAddressLine1 placeholder="Address Line 1" id="address-line-1"}}
      </div>
      <div class="field">
        <label for="address-line-2">Address Line 2</label>
        {{input type="text" value=model.finalAddressLine2 placeholder="Address Line 2" id="address-line-2"}}
      </div>
      <div class="three fields">
        <div class="field">
          <label for="address-city">City</label>
          {{input type="text" value=model.finalAddressCity placeholder="City" id="address-city"}}
        </div>
        <div class="field">
          <label for="state-name">State</label>
          {{#ui-dropdown class="search selection" selected=model.finalAddressState onChange=(action (mut model.finalAddressState))}}
            {{#if stateIsMontana}}<i class="text-danger heart icon"></i>{{/if}}
            <div class="default text">State</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each states as |state|}}
                <div class="item" data-value={{state.value}}>
                  {{state.label}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          <label for="address-zip">Zip</label>
          {{input type="text" value=model.finalAddressZip placeholder="Zip" id="address-zip"}}
        </div>
      </div>
    </div>
  {{/unless}}

  <div class="ui divider"></div>

  <div class="field">
    <label for="final-email">Final Email Address</label>
    {{input type="email" value=model.finalEmail placeholder="Final Email" id="final-email"}}
  </div>

  <div class="field">
    {{#input/document-selection-modal
      title="Select Offboarding Documents"
      selected=model.offboardingDocuments
      onSelected=(pipe (action (mut model.offboardingDocuments)) (action "save" model))
      onNotify= (action "onNotify")
      as |execute|}}
      <button class="ui basic button" {{action execute "selectDocuments"}}>
        <i class="folder icon"></i>
        Assign offboarding documents
        {{#if model.offboardingDocuments.length}}
          <span class="ui label">{{model.offboardingDocuments.length}} Assigned</span>
        {{/if}}
      </button>
    {{/input/document-selection-modal}}
  </div>

  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Next{{/form/action-button}}
</form>
