<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Offboarding Options</h2>

  <div class="field">
    <label for="final-email">
      Final Email Address
      <i class="ui question circle icon">
        {{ember-tooltip
          side="right"
          popperContainer="body"
          text="Used for automated exit interviews, final address collection, etc."}}
      </i>
    </label>
    {{input type="email" value=this.model.finalEmail placeholder="Final Email" id="final-email"}}
  </div>

  <div class={{if this.model.autoExitInterview "three fields" "field"}}>
    <div class="field">
      <label for="exit-interview">
        Automated exit interview
        <i class="ui question circle icon">
          {{ember-tooltip
            side="right"
            popperContainer="body"
            text="Automated exit interviews allow you to select a time and form, and we take care of the rest. On the date selected, otherwise immediately, we'll send a link via email to a survey the employee can fill out. When they do, you'll be notified."}}
        </i>
      </label>
      {{ui-checkbox
        id="exit-interview"
        class="toggle"
        label=(if this.model.autoExitInterview "Conduct exit interview" "Do not conduct exit interview")
        checked=this.model.autoExitInterview
        onChange=(action (mut this.model.autoExitInterview))}}
    </div>

    {{#if this.model.autoExitInterview}}
      <div class="field">
        {{ui-calendar
          class="field"
          type="date"
          label="When should the exit interview become available? (Otherwise, their termination date)"
          dateValue=this.model.autoExitInterviewDate
          onChange=(action (mut this.model.autoExitInterviewDate))}}
      </div>

      <div class="field">
        <label for="exit-interview-form">
          Form to use*
          {{#link-to "account.settings.index.forms" target="_blank"}}
            {{ember-tooltip
              side="top"
              popperContainer="body"
              text="Manage your forms"}}
            <i class="ui wrench icon"></i>
          {{/link-to}}
          {{#modals/form-creator
            formType="exit-interview"
            onNotify=(action "onNotify")
            onCreateForm=(action "interimAddForm") as |openFormModal|
          }}
            <a href="#" class="right floated" {{action openFormModal}}>Create a new form...</a>
          {{/modals/form-creator}}
        </label>

        {{#ui-dropdown
          id="exit-interview-form"
          class="search selection"
          selected=this.model.autoExitInterviewForm
          onChange=(action (mut this.model.terminationReason)) as |execute mapper|}}
          <div class="default text">Select a form to use</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="">Default Form</div>
            {{#each this.availableExitForms as |exitForm|}}
              <div class="item" data-value={{map-value mapper exitForm}}>
                {{exitForm.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    {{/if}}
  </div>

  <div class="field">
    <label for="final-address-ss">Final Address</label>
    {{ui-checkbox id="final-address-ss" class="toggle" label=(if this.model.finalAddressSelfService "Collect final address from employee" "Enter final address") checked=this.model.finalAddressSelfService onChange=(action (mut this.model.finalAddressSelfService))}}
  </div>

  {{#unless this.model.finalAddressSelfService}}
    <div class="animated fadeInUp">
      <div class="field">
        <label for="address-line-1">Address Line 1</label>
        {{input type="text" value=this.model.finalAddressLine1 placeholder="Address Line 1" id="address-line-1"}}
      </div>
      <div class="field">
        <label for="address-line-2">Address Line 2</label>
        {{input type="text" value=this.model.finalAddressLine2 placeholder="Address Line 2" id="address-line-2"}}
      </div>
      <div class="three fields">
        <div class="field">
          <label for="address-city">City</label>
          {{input type="text" value=this.model.finalAddressCity placeholder="City" id="address-city"}}
        </div>
        <div class="field">
          <label for="state-name">State</label>
          {{#ui-dropdown class="search selection" selected=this.model.finalAddressState onChange=(action (mut this.model.finalAddressState))}}
            {{#if this.stateIsMontana}}<i class="text-danger heart icon"></i>{{/if}}
            <div class="default text">State</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.states as |state|}}
                <div class="item" data-value={{state.value}}>
                  {{state.label}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          <label for="address-zip">Zip</label>
          {{input type="text" value=this.model.finalAddressZip placeholder="Zip" id="address-zip"}}
        </div>
      </div>
    </div>
  {{/unless}}

  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui huge fluid green button" loading=this.working}}Next{{/form/action-button}}
</form>
