<form class="ui form" ...attributes {{on "submit" (prevent-default this.submit)}}>
  <Input
    type="search"
    value={{if this.termDesync this.preflightTerm @value}}
    @input={{this.updatePreflightTerm}}
    id={{@searchId}}
    placeholder={{@searchPlaceholder}} />
</form>
