<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Documents
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui header">
        {{#link-to 'account.documents.new' class="right floated"}}
          {{#ui-popup tagName='span' content="Add a document"}}
            <i class="plus icon"></i>
          {{/ui-popup}}
        {{/link-to}}
      </h3>
    </div>
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided items">
    {{#each model as |doc|}}
      {{list-item/document-item
        doc
        assign=(pipe-action
          (action 'openAssignmentModal')
          (action remapToModels)
          (action 'save')
          (action 'closeAssignmentModal')
        )
      }}
    {{else}}
      <h2 class="ui center aligned header">No documents available.</h2>
    {{/each}}
  </div>

  {{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
</div>

{{#ui-modal name='modal__file-assignment' id='modal__file-assignment' class='small form'}}
  <div class="header">
    Assign {{assigningDocument.title}}
  </div>
  <div class="content">
    {{quick-form
     fileAssignmentForm
     fileAssignment
     this
     tagName='div'}}
  </div>
  <div class="actions">
    <button class="ui red button" {{action 'respondAssignment' false}}>
      Cancel
    </button>
    <button class="ui primary right labeled icon {{if working 'loading'}} button" {{action 'respondAssignment' true}} disabled={{lt fileAssignment.employees.length 1}}>
      Assign
      {{#if (gte fileAssignment.employees.length 2)}}
        To {{fileAssignment.employees.length}} Employees
      {{else if (eq fileAssignment.employees.length 1)}}
        To {{fileAssignment.employees.firstObject.firstName}}
      {{/if}}
      <i class="add user icon"></i>
    </button>
  </div>
{{/ui-modal}}
